[2020-01-29 22:08] freekmurze opened #1 "Terms of use are missing"

[2020-01-29 22:08] freekmurze opened #2 "Privacy & cookie policy missing"

[2020-01-30 14:52] bbcreation opened #3 "Domain name"
Hi; What domain name should I enter in licenses if the application is tested locally in valet? Can I change domains in the future?

[2020-01-30 15:47] freekmurze commented on #3
Just leave it empty 👍

You can indeed change the domain in the future.

[2020-01-30 15:47] #3 closed, assigned to nobody

[2020-01-30 15:59] vesper8 opened #4 "can it work with mailtrap for local testing?"
I am getting an error saying the mail configuration is missing, but what I would like to do is use mailtrap.io for local testing, can it work with it or it absolutely requires SES or Mailgun or Sendgrid?

[2020-01-30 16:08] vesper8 opened #5 "changelog or possibility to get notified of updates?"
Just wondering if there will be a changelog on the website, or if I can be emailed anytime an update is pushed so I know when to update my app.

Or alternatively, will we get access to a private repository here on Github where we can use the "watch" feature to get notified. I know Laravel Spark/Nova does it this way by granting access to private repositories.

[2020-01-30 16:16] freekmurze commented on #5
Good suggestion, I'll look into it. I think in short term we will add a releases page to our site.

The mailcoach UI will display a little notice in the footer if there's an update available.

I suspect that we won't update the skeleton app that much. The package can be updated with a simple `composer install`.

[2020-01-30 16:16] #5 closed, assigned to nobody

[2020-01-30 16:17] freekmurze commented on #5
Oh, and there also should already be a CHANGELOG.md in `/vendor/spatie/laravel-mailcoach`

[2020-01-30 16:18] freekmurze commented on #4
In the UI you can select smtp and put in the details of your mailtrap.io connection there. Does that work for you?

[2020-01-30 16:56] vesper8 commented on #4
@freekmurze Yes it does work.

I guess the tracking ability doesn't work through Mailtrap though? I did a test and the open/click did not register and there is a broken image in the top left corner of the default template which I assume is the tracking pixel that isn't loading because it was sent from a local .test domain

Oddly I do believe https://github.com/jdavidbakr/mail-tracker email 'open'

[2020-01-30 16:58] vesper8 commented on #4
Oh.. I can see why the unsubscribe is not working.. there is a typo `unsubscribeUrl ` !== `unsubcribeUrl `

[2020-01-30 17:52] vesper8 opened #6 "unsubscribeUrl typo"
when creating my first campaign, I noticed in the Delivery tab this message Without a way to unsubscribe, there's a high chance that your subscribers will complain. Consider adding the ::unsubscribeUrl:: placeholder.

But looking at the 'Preview' it does show an Unsubscribe button. And looking at the content tab it does show href="::unsubcribeUrl::"

In the delivered mail, the ::unsubcribeUrl:: wa

[2020-01-30 17:53] vesper8 opened #7 "seeders included for audiences including one list with 137 real emails"
I noticed that the standalone app (possibly the Laravel package too) comes with seeders for two email lists ('my audience' and 'sint'). The 'sint' list in particular appears to contain 137 real emails. I don't know if this is intended but it would seem risky to have people accidentally email all those people

[2020-01-30 17:55] viemic opened #8 "Host via Laravel Vapor"
Hi,

we have all our services running via Laravel Vapor.

Since the standalone-app specifically is depending on Horizon I am wondering which steps are necessary to host Mailcoach through Vapor as well.

Do any of you have ideas to accomplish this case?

[2020-01-30 17:56] T-Spoon opened #9 "Standalone installation + main application"
Hey!

Looking forward to trying out Mailcoach - but I have a question around the standalone setup.

**Scenario:** I have a primary Laravel app, and I'd like to install Mailcoach as a standalone app on a different server.  But I'd like to sync the user list from the primary application to the Mailcoach app.  Is this possible?

I could of course install Mailcoach as a dependency inside the primary a

[2020-01-30 18:01] connecteev opened #10 "Incompatible php version for installing Mailcoach?"
When I try to install Mailcoach using the docs, I get an error:
[code]

However the console shows my php version is 7.4.2. What gives?

[code]

[2020-01-30 19:12] leeovery opened #11 "Provide ability to set the auth guard via config like nova"
Hey

Thanks for building something so polished - every piece from the UI to the codebase is beautiful - amazing work!!!!

One issue I've stumbled into is that the Gate check is failing due to trying to use my default auth guard - which is not the guard I want to use, and as such is not even executing the gate callback (it's just failing and redirecting to the route configured in mailcoach.php conf

[2020-01-30 19:50] vesper8 commented on #10
it's possible your php-cli is different than php-fpm, what does phpinfo() say if you echo it from a laravel route?

[2020-01-30 19:59] vesper8 commented on #9
Couple of ways you can do this if you don't want to install the standalone app on the same server as your main app.

You could do it all manually by opening up your mysql port to a whitelisted ip and setting up your remote connection in the database.php, then you could perform the sync. This is a bit tricky to accomplish I find but totally doable.

I personally do something very similar using a co

[2020-01-30 21:22] freekmurze commented on #4
We're probably not going to make adjustments for this. My feeling is that the open and click tracking is tested in the mailcoach testsuite and you shouldn't bother with testing that in your testsuite.

[2020-01-30 21:22] #4 closed, assigned to nobody

[2020-01-30 21:28] freekmurze commented on #6
Thanks for reporting this.

I've fixed this in `TemplateSeeder` for newly installed apps. In your current app, you should manually update it.

We're still figuring a good way of automating updates to the skeleton app.

[2020-01-30 21:28] #6 closed, assigned to nobody

[2020-01-30 21:35] freekmurze commented on #7
Thanks for reporting this!

The `sint` list contains email addresses generated with faker. They are not real. I clean up the seeders so there's only one list seeded.

[2020-01-30 21:35] #7 closed, assigned to nobody

[2020-01-30 21:37] freekmurze commented on #8
Currently this is not supported. Mailcoach requires Horizon and Horizon is not easy to use on Vapor.

[2020-01-30 21:37] #8 closed, assigned to nobody

[2020-01-30 21:40] freekmurze commented on #9
Some people have asked for an API so I'll certainly consider adding it in the future.

If you need an API now, I'd install the mailcoach inside a new Laravel app and host that app on a separate server.

In your new app you can add an API yourself. Working with the Mailcoach models and functionality should be pretty straightforward. Take a look at our package docs for code examples: https://mailcoa

[2020-01-30 21:40] #9 closed, assigned to nobody

[2020-01-30 21:42] freekmurze commented on #10
Like @vesper8, I also think this is a problem at your end. The error message says that you are running PHP 7.3.13. Please follow the advice given by @vesper8.

I'll close this for now, as I think this problem is unrelated to the package, but feel free to keep the conversation going.

[2020-01-30 21:42] #10 closed, assigned to nobody

[2020-01-30 21:47] freekmurze commented on #11
I'll take care of this soon. Thanks for the suggestion.

[2020-01-30 22:06] lahivee commented on #8
Sorry to pick this up again, but I would also be really interested in this as the company I work for also uses Vapor only for Laravel projects

[2020-01-30 22:13] lahivee commented on #8
@freekmurze do you mind giving a quick outline what is the way to achieve this. Possibly swapping Redis/Horizon with SQS

[2020-01-30 23:05] freekmurze commented on #8
I'm thinking that the biggest hurdle to take would be rate limiting. You need to be able to rate limit jobs so that you don't go over the sending limits set by the email service providers.

Currently the package use this package to rate limit: https://github.com/spatie/laravel-rate-limited-job-middleware

The package relies on a Redis specific function to throttle stuff.

In order to make Mailcoac

[2020-01-31 07:48] leeovery opened #12 "Configured outgoing webhooks in standalone"
Hey

I’m trying to think of the best way I can use this without polluting my main app (I’m not against the idea yet. Just playing with options).

If the standalone app had **configurable outgoing webhooks** it would be awesome.

These webhooks would relate directly to the events which are already dispatched in mailcoach and would ping the registered url(s) (if any configured). Would essentially al

[2020-01-31 07:51] Spone opened #13 "Support for Postmark bulk sending?"
Hi,

would you add Postmark to your supported email providers? They recently introduced their Bulk sending API (see https://postmarkapp.com/blog/api-bulk-the-final-frontier and https://postmarkapp.com/developer/user-guide/sending-email/sending-with-api#batch-emails)

Thanks!

[2020-01-31 07:58] freekmurze commented on #13
Currently we have no plans for adding another driver, but if enough people ask for I'd I'll consider adding support.

You could also opt to build the driver yourself. Here's the video on how a driver works: https://mailcoach.app/video-course/how-mailcoach-was-built/tracking-opens-and-clicks

[2020-01-31 07:58] #13 closed, assigned to nobody

[2020-01-31 08:00] freekmurze commented on #12
It's an interesting idea for sure.

Some people have indeed asked for an API. I'll consider adding it in the future.

For now, you could add it yourself to the standalone app.

[2020-01-31 08:00] #12 closed, assigned to nobody

[2020-01-31 08:16] leeovery commented on #12
Does the standalone install mailcoach as a package inside a fresh Laravel install? Or is the Laravel app just a custom mailcoach install with auth etc.

Just thinking how easy future updates would be if I did it myself.

[2020-01-31 08:35] freekmurze commented on #12
The standalone app is a fresh Laravel app, where we added auth screens and already preconfigured the Mailcoach package.

If I were to do this: I'd create a fresh Laravel app myself and install the package inside it. That way a mailcoach update is just a `composer update` away. You can add the API of your dreams in that app.

[2020-01-31 08:40] leeovery commented on #12
Thanks Freek. Thats exactly what my notes say in front of me :)

[2020-01-31 09:54] MarkusNovak opened #14 "How can I make it run on vapor?"
Hey there,

I have some projects (with each having email subs) running on vapor.laravel.com and would like to use mailcoach there too. Right now i don't own a forge subscription to make maintaining & deployment easier.

The errors are about redis. Has anyone made this working on vapor??

Tested it locally, very good product I want to start using :)

Thank you!

[2020-01-31 10:10] desaintflorent commented on #9
I'm wondering @freekmurze what is your preference on this Standalone vs Main debate  ?
How which criteria  would you choose one or the other ?

If i have an already working app with lot's of databases would you separate services with Mailcoach on a standalone server, or would you prefer have everything on one main server ?
On top of newsletter, I'm also planning on sending emails based on user act

[2020-01-31 10:16] freekmurze commented on #14
Hi, thanks for the kind words.

Vapor currently isn't supported. Take a look in this issue #8

[2020-01-31 10:16] #14 closed, assigned to nobody

[2020-01-31 10:17] freekmurze commented on #11
This option is now available in `v1.2.0`.

Run `composer update` and add this to your `mailcoach` config file.

[code]

[2020-01-31 10:17] #11 closed, assigned to nobody

[2020-01-31 10:20] freekmurze commented on #9
Of course, it depends on your project, but generally I prefer to install mailcoach as a package inside the app that already has users management.

[2020-01-31 10:22] freekmurze commented on #12
👍

You could opt to use our webhook server package to send out the webhooks: https://github.com/spatie/laravel-webhook-server

[2020-01-31 10:26] leeovery commented on #12
Do you have a spy cam in my office?!

https://www.dropbox.com/s/par3sxt6pwykstw/Screenshot%202020-01-31%2010.24.16.png?dl=0

Ha!! Thanks for the suggestion!!

[2020-01-31 11:11] lahivee commented on #8
Thanks for the elaboration! I now see where the issue is.

I'll try to play around with possible solutions and see if I can get something to work.

One solution I could think of is by setting a default rate limit that fits all of the supported mail providers and remove the dependency to Redis/horizon all together.
This default rate could be very generous (in terms of high) since the person sending

[2020-01-31 11:45] LorenzoSapora opened #15 "Use with an existing user list"
I have an existing user table that I use for mailing, and I'm scoping out how best to integrate mailcoach into an existing system.

Would the best way just be seeding users already authorised for newsletters into the `mailcoach_subscribers`?  Seems a lot of duplication, especially considering I'd have to extend user registration, edit, deletion to fill/update the subscribers.

Unless I am missing

[2020-01-31 11:50] freekmurze commented on #8
Sounds good, try it out, and let us know how it went! 👍

[2020-01-31 11:53] freekmurze commented on #15
Currently, Mailcoach expect all subscribers to be win the `mailcoach_subscribers` table. If your users table should have a 1-1 relation with a subscription. I'd use model events to keep those tables in sync. That way you can subscribe the user when it gets created, and delete the subscriber when the user gets deleted.

[2020-01-31 11:53] #15 closed, assigned to nobody

[2020-01-31 13:32] rocramer opened #16 "Action App\Http\Controllers\Spatie\Mailcoach\Http\Front\Controllers\ConfirmSubscriberController not defined."
I created a simple newsletter form. It is working well without double-opt-in. After enabling user conformation I get the error while subscribing a user to a newsletter.:

[code]

[2020-01-31 14:28] freekmurze commented on #16
Thank you for reporting this. It has been fixed a few minutes ago in `v1.2.1` of the package.

Run `composer update` to pull in the fix.

[2020-01-31 14:28] #16 closed, assigned to nobody

[2020-01-31 16:09] hanspagel opened #17 "Use sender email of the list for confirmation mails"
I setup multiple lists with different sender domains (e. g. demo@example1.com, demo@example2.com). Confirmation emails for those lists are sent from the generic sender (config/mail.php) instead of the specific one from the list.

Wouldn’t it make sense to take the sender from the list to send confirmation mails for the list?

[2020-01-31 17:24] vesper8 opened #18 "configuration option to use a different database connection"
I've chosen to install Mailcoach as a package of a very large app which uses multiple databases. I have a database dedicated to all things "comunication", this includes mail and notifications.

I would very much like the mailcoach tables to be created on that connection. I know I can publish the migration and make the change there. But packages usually require the connection to be set in the confi

[2020-01-31 17:28] vesper8 opened #19 "add possibility to protect UI through a middleware instead of a guard"
Since all my Laravel projects are pure API I usually don't have an internal user login and instead I protect sensitive routes with a 6 digit unique PIN using a custom middleware. This is how I access things like Telescope, Log Viewer and Horizon.

I would very much appreciate if it was possible to protect Mailcoach with a middleware

Thank you

[2020-01-31 17:36] vesper8 opened #20 "404 in docs"
This link https://mailcoach.app/docs/package/general/docs/package/using-the-ui/authorizing-users

Clickable from this page https://mailcoach.app/docs/package/general/installation-and-setup

leads to a 404

[2020-01-31 17:40] vesper8 commented on #20
The correct link is: https://mailcoach.app/docs/package/using-the-ui/authorizing-users

[2020-01-31 18:11] freekmurze commented on #20
Thanks, I've fixed this.

Should you spot more typos, just clicked the "edit" link on top of the page to easily send a PR. 👍

[2020-01-31 18:11] #20 closed, assigned to nobody

[2020-01-31 18:21] freekmurze commented on #17
Thanks for your suggestion.

You're right, I've changed this in `v1.2.2`.

Run `composer update` in a couple of minutes to pull that version in.

[2020-01-31 18:21] #17 closed, assigned to nobody

[2020-01-31 18:22] freekmurze commented on #19
Would it solve your problem if we allowed the middlewares on the routes be specified in the config file (like Nova does)?

[2020-01-31 18:23] freekmurze commented on #18
I'm going to hold off on this on for now. You can indeed publish the migrations and fix it there.

In a future release I might be able to allow to custom the models used. And you could then specify the connection on the custom model.

[2020-01-31 18:23] #18 closed, assigned to nobody

[2020-01-31 19:48] vesper8 commented on #19
yes it would, but you would have to also disable the guard so it would use either a middleware or a guard to protect the routes

[2020-01-31 21:42] davidstefando opened #21 "Ability to track open and clicks? can't found the route and controller"
Hi,

I saw on the documentation
https://mailcoach.app/docs/package/working-with-campaigns/tracking-clicks
It has click & open tracking. But when I look down into the code, I can't find corresponding controller
Spatie\Mailcoach\Http\Controllers\TrackClicksController

Is there any change on the codebase, or am I miss something?

I'm using spatie/laravel-mailcoach v1.2.2

[2020-01-31 21:53] freekmurze commented on #21
The docs were outdated, I've updated them now.

In an easier version of mailcoach it would take care of tracking opens and clicks by itself. In the current version the email service provider takes care off that.

My apologies for the confusion.

[2020-01-31 21:53] #21 closed, assigned to nobody

[2020-01-31 23:54] vesper8 opened #22 "allow mail driver configuration secrets to be set in config file rather than stored in database"
There is something bothering me about #1 having to duplicate the key values for my mailgun configuration in both the .env file and having to enter them manually in the UI for them to be stored (I assume, didn't check) in a database table, and #2 for having to store these keys in a database table at all.

I would much rather these secrets be defined in one only place, the .env file, and then define

[2020-02-01 00:24] freekmurze commented on #22
If you use the Mailcoach stand alone app, that it is assumed that you don't want to configure your Laravel app yourself. That's why we added UI to specify those values. If you specify them in the UI, we save them in the UI and you don't need to specify them somewhere else.

If you want to work with these values like in a normal Laravel app, namely store them in the `.env` file, then I highly recom

[2020-02-01 00:24] #22 closed, assigned to nobody

[2020-02-01 00:25] freekmurze commented on #19
Early next week, I'll take care of allow the middleware to be specified in the config file

[2020-02-01 05:43] connecteev commented on #10
@vesper8 @freekmurze I also think it's got to do with the php version, but I've still been unable to figure this out. Both the cli and phpinfo() in laravel are showing the exact same version (7.4.2)

$ php -v
PHP 7.4.2 (cli) (built: Jan 22 2020 06:30:58) ( NTS )
Copyright (c) The PHP Group
Zend Engine v3.4.0, Copyright (c) Zend Technologies
    with Zend OPcache v7.4.2, Copyright (c), by Zend Tech

[2020-02-01 07:51] MianSaleem opened #23 "html tag (strong) not closed in view files"
Hello,

I have published views for the package and found that `strong` tag is not closed properly in `alreadyUnsubscribed.blade.php`, `subscribed.blade.php` & `unsubscribed.blade.php` view files of `resources/views/vendor/mailcoach/landingPages/` directory. The view file for `resources/views/vendor/mailcoach/landingPages/alreadyUnsubscribed.blade.php` is as following:

[code]

Instead closing the

[2020-02-01 08:04] freekmurze commented on #23
Thanks for reporting this.

I've fixed this is the newly released `v1.2.3`

Run `composer update` in a few minutes to pull it in.

[2020-02-01 08:04] #23 closed, assigned to nobody

[2020-02-01 11:02] vesper8 commented on #10
Are you able to install the standalone version?

Can you also try installing the package version on a fresh installation of Laravel 6 to rule out a problem with your app's composer.json?

Could it be that you have this set in your composer.json?
[code]

[2020-02-01 11:13] leeovery opened #24 "Supression / Blacklist support"
Hey,

To keep subscribers from being emailed accidentally it might be an idea to implement a suppression/blacklist.

A subscriber can unsubscribe from a list, but still get emails from other lists. This is desired and expected behaviour.

But if the user wants to unsubscribe from ALL lists, this would be a good use case to blacklist them, which means no matter which lists they are on, they won't r

[2020-02-01 13:34] connecteev commented on #10
@vesper8 This is a brand new laravel app I installed using ```laravel new mailcoachapp```
I'm on this version:
[code]
And I don't have this in my composer.json:
[code]

I also tried the [standalone version](https://mailcoach.app/docs/app/installation/using-composer), it just gives me the same error:
[code]

@freekmurze could this be a bug?

[2020-02-01 15:41] rocramer opened #25 "Textarea not working in firefox"
The textarea is not working in Firefox. When opening a page the textarea looks like expected. If I'm clicking in, the textarea jumps to the right. After that the textarea has only a width of a few pixels.

I'm using Firefox Version 72.

Screenshot:

![Screenshot_2020-02-01 Settings Newsletter Mailcoach](https://user-images.githubusercontent.com/4487988/73594670-bf547d00-4510-11ea-94fe-7e6460f88b64

[2020-02-01 16:12] vesper8 commented on #10
I think you might have two versions of php running

what does it say if you do `which php` in your cli?

and then whatever it returns, so for example if it returns `/usr/local/bin/php` then do a `/usr/local/bin/php -v`

You might also have one running at `/usr/bin/php`

What does this command return
`ps aux | grep php`

Any signs of 7.3 in there?

What about `ps aux | grep "php/7.3"`

Not sure how

[2020-02-01 17:02] freekmurze commented on #25
Thanks for reporting, we'll fix this very soon.

[2020-02-01 17:04] freekmurze commented on #10
@connecteev I can assure you that this is not a bug, but probably something going wrong at your end. Follow the suggestions made by @vesper8

[2020-02-01 17:09] freekmurze commented on #24
For Mailcoach each list is separate from each other. So there isn't any behaviour that goes across all those lists.

You could implement the wanted behaviour like this in your own projects.

[code]

You could but that code somewhere in a controller of your own. You could add a [placeholder](https://mailcoach.app/docs/package/advanced-usage/creating-custom-placeholders) `blacklistUrl` that links to

[2020-02-01 17:09] #24 closed, assigned to nobody

[2020-02-01 17:27] freekmurze commented on #19
I've added a `middleware` key to the default config value starting from `v1.3.0`.

For older versions, simply add this to the `mailcoach.php` config file:

[code]

I believe overriding/extending the middleware and placing your own classes in this array can solve your issue. If not, let me know.

[2020-02-01 17:27] #19 closed, assigned to nobody

[2020-02-01 17:41] ryancwalsh opened #26 ""Unable to locate publishable resources""
`php artisan vendor:publish --provider="Spatie\Mailcoach\MailcoachServiceProvider" --tag="views"` (found at https://mailcoach.app/docs/package/working-with-lists/using-double-opt-in#customizing-the-subscription-confirmation-response) results in:

I don't know if this is normal. It doesn't _feel_ like expected behavior because I don't see `/resources/views/vendor/mailcoach/` created or anything in

[2020-02-01 17:43] freekmurze commented on #26
Thanks for reporting this.

The docs do not specify the right command.

Try this

[code]

I'll update the docs 👍

[2020-02-01 17:43] #26 closed, assigned to nobody

[2020-02-01 17:44] ryancwalsh opened #27 "Class 'Spatie\Mailcoach\Http\App\Queries\SendQuery' not found"
When I'm at `/mailcoach/email-lists/1/subscriber/1/details` and click **`/mailcoach/email-lists/1/subscriber/1/received-campaigns`** I get this error that I haven't figured out yet:

[code]

[2020-02-01 20:33] connecteev commented on #10
@vesper8 @freekmurze thank you, thats quite astute of you to know this. It was exactly that, I had 2 versions of php...one in /usr/local/bin/php (which was the result of `which php`), and my .bash_profile had
[code]
I ended up doing:
[code]
and after that the installation worked. Onward, now I can try the package, at least.

[2020-02-01 20:50] freekmurze commented on #10
Nice! Have fun discovering the package!

[2020-02-01 20:50] connecteev commented on #10
@freekmurze thank you sir!

[2020-02-01 22:07] ryancwalsh opened #28 "SubscribedConfirmedEvent and other events"
https://mailcoach.app/docs/package/advanced-usage/handling-events seems incorrect because SubscribedConfirmedEvent does not exist (but UnconfirmedSubscriberCreatedEvent does).

Also (and maybe I should have opened a separate issue for this next question?), other mail campaign providers offer webhooks for the following events; I'm wondering how I can create listeners for these scenarios:

- Contact

[2020-02-01 22:55] ryancwalsh commented on #27
I'm also seeing a similar error at /mailcoach/campaigns/4/outbox (which I visited after my CampaignMailSentEventListener seemed to have a problem):

[code]

[2020-02-02 02:47] vesper8 commented on #24
@freekmurze It's pretty typical when clicking the unsubscribe button in a newsletter to be given the option to unsubscribe from this list or all lists.. Like with everything we can handle that ourselves, but I too would like to see support added for this feature to the core in the future.

[2020-02-02 08:50] freekmurze commented on #27
Thanks for reporting this.

Both these problems have been fixed in `v1.3.1` which I've tagged a minute ago.

[2020-02-02 08:50] #27 closed, assigned to nobody

[2020-02-02 09:15] freekmurze commented on #28
For the contact updated events, you can listed for the events that eloquent itself fires for Subscriber.

Soft bounces are currently not handled by the package, we assume that the mail should receive in the end, or we get a hard bounce.

For handling a hard bounce and a complaint on spam, I've just added the `BounceRegisteredEvent` and `ComplaintRegisteredEvent` events in `v1.4.0`. I've added them

[2020-02-02 09:15] #28 closed, assigned to nobody

[2020-02-02 10:25] leeovery commented on #24
Thinking on this I might have implemented it like:

[code]

Subscriber is essentially the user record and holds the email and user details, like name etc.

A Subscriber has many Subscriptions, which have the relationship with the EmailList entity.

At least with this way the person in real life is represented via a single entity in the system which more closely resembles the real world. And that p

[2020-02-02 10:30] freekmurze commented on #24
In an early version of the package we had it set up that way. But we decided to keep it very simple and let a subscriber belong to only one email list.

[2020-02-02 14:41] ryancwalsh commented on #27
@freekmurze I notice you working on the weekend (like I am, excited to get Mailcoach working) and really appreciate it! :-)

[2020-02-02 19:44] rocramer opened #29 "No user icon"
There is no user icon in the top right corner. Other than that I can't get into the mail configuration. I tried the `/mailcoach/settings/mail-configuration` and `/mailcoach/settings/send-test-mail` endpoint and get a 404.

![Screenshot_2020-02-02 Campaigns Mailcoach](https://user-images.githubusercontent.com/4487988/73613892-50ebe980-45fa-11ea-8684-4ebac2e50572.png)

[2020-02-02 20:12] ryancwalsh commented on #28
Thank you!

I had never used Eloquent events before and had forgotten about them. https://laravel.com/docs/6.x/eloquent#observers is interesting.

I was able to run `php artisan make:observer MailcoachSubscriberObserver --model=\\Spatie\\Mailcoach\\Models\\Subscriber` but on second thought might not even need it for anything.

I definitely _will_ be using the new `BounceRegisteredEvent` and `Compl

[2020-02-02 20:19] leeovery commented on #24
Hey,

I keep coming up against issues relating to not having any type of suppression list or block list.

I feel that unsubscribing a subscriber upon receiving a bounce or complaint isn't quite enough. It would be trivial to accidentally resubscribe that user, which we really don't want to do.

Once they complain or we register a hard bounce we should really be hard-blocking that email in our syst

[2020-02-02 22:14] ryancwalsh opened #30 "Events need public properties or getters"
Related to https://github.com/spatie/mailcoach-support/issues/28#issuecomment-581114688, I think you accidentally set the properties to private instead of public in `BounceRegisteredEvent` and `ComplaintRegisteredEvent`.

I think either they need to be public or there needs to be a public "getter" function that exposes their value.

Thanks.

[2020-02-02 22:57] vesper8 commented on #24
I agree with all you've said @leeovery and absolutely want the same thing in my application so if you could please share your code here or somewhere that would be great. It's of utmost important that a user that's complained or that meant to fully unsubscribe never gets the chance to be emailed again whether through their error or ours.

@freekmurze This is another reason why it would be great if

[2020-02-03 07:10] viezel opened #31 "Feature: Ability to create automated workflows"
As Maiilcoach is a developer-focused app

Must web app has workflows for various jobs:
- lead warmer campaigns
- App tutorial
- Best practice
- Onboarding flows
- Winback (Notifications based on usage)

In the land of personalization and staying relevant for customers, we need to know if a user has completed step A, or clicked on link B. This is possible with Maiilcoach using link tracking, openin

[2020-02-03 07:12] freekmurze commented on #24
I'd like to have that too, but I still have to figure out a good, cost effective, way to do this.

Regarding blacklists: it seems that you are using mailcoach in a way that all email lists and campaigns are being sent for one company. I can also see Mailcoach being used where each email list belongs to another company (imagine a webdev agency that handles email lists for each of their clients). In

[2020-02-03 07:15] freekmurze commented on #30
Whoops, my bad, I've made those properties public in the newly tagged `v1.4.1`

[2020-02-03 07:15] #30 closed, assigned to nobody

[2020-02-03 07:18] freekmurze commented on #29
If you installed mailcoach as a package, there's no user management or email settings management. It is assumed that there is already user management elsewhere in you app and you use the Laravel config files to specify email settings.

If you need the users management / email settings provided by Mailcoach, use [the full app](https://mailcoach.app/docs/app/installation/using-composer). If you know

[2020-02-03 07:18] #29 closed, assigned to nobody

[2020-02-03 07:21] leeovery commented on #24
I’ve been working on a very simple api for mailcoach and will add the blacklist functionality to this “wrapper”.

It could probably be a package.

@freekmurze are you against that sort of thing being open sourced considering mailcoach is private?

I got it almost done over the weekend but realised I took a wrong turn somewhere. Going to refactor a bit to simplify. But it’s coming on nicely.

There

[2020-02-03 07:21] freekmurze commented on #31
Thank you for your suggestion.

We've considered this, but opted to start with only the email campaigns like you find them in Mailcoach now.

Adding a flow like this right, takes a lot of effort. Right now, there are no plans for this on the table. If Mailcoach does well commercially, we might add this in the future.

[2020-02-03 07:21] #31 closed, assigned to nobody

[2020-02-03 07:24] connecteev commented on #24
@freekmurze @leeovery
Why not have an API to blacklist the subscriber from all (current and future) mailing lists? The API would be available for anyone that needs it.....agency or not. Agencies wouldn't use it. Also isn't the agency use-case less common anyway?

[2020-02-03 07:27] freekmurze commented on #24
I don't mind open sourced add on packages for mailcoach, so go ahead.

I'll investigate and update the docs around this soon.

[2020-02-03 07:30] connecteev commented on #24
Also, love the @vesper8 and @leeovery idea to open this repo to paying subscribers, so we can all contribute PRs...it will make your job simpler @freekmurze , not to mention the package will mature a lot faster. I don't want to ever go back to Sendy again :)

ps.  The idea of a package for a package sounds quite...tedious tbh.

[2020-02-03 07:30] freekmurze commented on #24
I'd like to keep the package as simple as possible right now. In my mind, it's now very clean with each lists being it's own world and not affecting each other.

 I might change my stance on adding this feature in the future.

[2020-02-03 07:32] freekmurze commented on #24
I'd also want this, but I have to figure out a way to do this, without having to pay GitHub for each person that wants access to the repo. I hope that's somehow possible.

Me neither.

I think that's ok if it's set up that way. We're already doing this for the feedback packages.

[2020-02-03 07:34] connecteev commented on #24
@freekmurze have you considered GitLab? I think it has unlimited free contributors..

[2020-02-03 07:39] freekmurze commented on #24
Nah, we defintely want to stick to GitHub for multiple reasons.

[2020-02-03 07:50] MianSaleem opened #32 "Placeholders are not working in web view"
Hello,

Is there any option so that placeholders should work in web view url too?

In my list, some subscribers don't have first_name and last_name. Sending campaign to subscribers with no first_name is failing as I have used `::subscriber.first_name::` in the template. Is there any way to send email even if the subscriber don't have first_name by leaving it blank?

[2020-02-03 07:55] viezel commented on #31
Sad to hear that @freekmurze. I wonder if the community can build a package to support this. Is it open for extension?

[2020-02-03 08:13] freekmurze commented on #32
The web view isn't personalised, so placeholders that concern the subscriber aren't replaced there.

In this scenario the `::subscriber.first_name::` should have been replace by a blank. Could you share the exception and trace?

[2020-02-03 08:17] freekmurze commented on #31
Sure, it's open for extension: you can publish every action and publish any view. But my feeling is that this is an entirely different use cause that can't be implemented well without making some breaking changes.

Feel free to make an attempt though.

[2020-02-03 08:45] MianSaleem commented on #32
Yes, please refer to error log below
[code]

[2020-02-03 09:50] hanspagel opened #33 "If nothing has happened, don’t send the weekly summary"
My first weekly summary was sent and all numbers are 0. I set up a bunch of lists, but people don’t subscribe to all lists on a regular basis. It’s good to know if a few people subscribed this week, but I don’t need the info that nothing happened. What do you think?

![IcVyTTsgsi](https://user-images.githubusercontent.com/1577992/73642583-36eded80-4672-11ea-87d9-c858515f37ca.png)

Mailchimp has da

[2020-02-03 10:29] vesper8 commented on #24
I had no idea that Spark and Nova are doing this.. I mean.. paying Github for every user who's bought a license.. maybe ask Taylor how he did it?

Also.. considering both Spark and Nova are premium packages and there are tons of open-source packages for them on Github.. especially Nova.. I see no reason not to open source your API / Blacklist @leeovery ! I would definitely use it. That doesn't how

[2020-02-03 10:30] hanspagel opened #34 "Subscribe API for AJAX forms"
With the predefined pages and the possibility to configure other URLs in the form Mailcoach is already very flexible and should work in most cases.

I’d love to see an API to subscribe users with AJAX though. I feel it improves the user experience to keep the context of the page when subscribing.

Leaving this here as a suggestion. If this feels out of scope for you, just close it.

[2020-02-03 10:44] freekmurze commented on #32
Thanks for this info.

I've just release `v1.4.2` in which this bug is fixed.

[2020-02-03 10:44] #32 closed, assigned to nobody

[2020-02-03 10:47] freekmurze commented on #34
how would that look like?

[2020-02-03 10:55] freekmurze commented on #33
Hi @hanspagel,

thanks for your suggestion.

To keep things simple, I'm going to leave it like it is. My guess is that most people want to get that mail, even though nobody subscribed for a week. The fact that nobody subscribed is also newsworthy for most imho.

You can however, turn off the this kind of mail on the email list settings screen (last option)

<img width="603" alt="image" src="https:

[2020-02-03 10:55] #33 closed, assigned to nobody

[2020-02-03 11:13] hanspagel commented on #34
I added this route to the project:

[code]

And this custom Controller:

[code]

[2020-02-03 11:21] willemvb commented on #25
Strange, cannot reproduce on Firefox 72 in macOS Catalina or Windows 10.
Which OS are you using?

[2020-02-03 11:44] rocramer commented on #25
I'm using Ubuntu 19.10. In Chrome everything works fine. I'll try it later with a Windows machine.

[2020-02-03 12:23] rocramer commented on #25
Tested it now: Problem exist as well on Windows 10 for Firefox but not for Chrome.

[2020-02-03 12:27] rocramer commented on #25
Okay. Problem found. The https://languagetool.org/ extension causes the trouble. Wired because I'm using this plugin for years and I never experienced any broken input field until now.

[2020-02-03 12:50] ryancwalsh commented on #31
@viezel I think this could be awesome.

I always loved the idea of https://www.activecampaign.com/ and https://www.mautic.org/ but was totally disappointed with them in practice.  Maybe Mailcoach (or an addon to Mailcoach) can offer those automated workflows.

[2020-02-03 12:52] ryancwalsh commented on #24
I would definitely contribute to Mailcoach if pull requests were possible. One feature on my mind is the ability for Templates and Campaigns to use WYSIWYG like https://summernote.org/

[2020-02-03 12:55] leeovery commented on #24
@ryancwalsh I believe that feature is in-hand already at Spatie 😉

[2020-02-03 13:20] willemvb commented on #25
Good catch! After looking around for a while at this extension I found following issue: https://github.com/languagetool-org/languagetool/issues/2359

We also use CSS grid for layout, and I can confirm that they inject an element that breaks grid layouts. Hopefully it will be solved on their side in a few weeks!

[2020-02-03 13:20] #25 closed, assigned to willemvb

[2020-02-03 14:01] ryancwalsh opened #35 "Repo is no longer letting me download via composer update"
This morning, I tried to run `composer require -vvv "spatie/laravel-mailcoach:^1.4.0"` to get all the latest changes.

I don't remember what the error message was, but I noticed that my `auth.json` file was missing. And I know I didn't delete it.

So I recreated it with my key and tried again.

I have also tried `composer clearcache`.

Then `composer require -vvv "spatie/laravel-mailcoach:^1.4.0"`

[2020-02-03 15:08] ryancwalsh commented on #35
I went ahead and created a token because https://stackoverflow.com/a/49518636/470749 says it's probably due to GitHub's API rate limit.

I also ran `export COMPOSER_PROCESS_TIMEOUT=600` because I hit a timeout limit.

Now when I run `composer require -vvv "spatie/laravel-mailcoach:^1.4.0"`, I still am prompted twice for `Enter passphrase for key '/home/vagrant/.ssh/id_rsa':`, and I press Enter bot

[2020-02-03 15:25] LorenzoSapora opened #36 "[Feature] Allow spatie/laravel-tags instead of built in tagging system"
The tag system is lacking a certain amount of flexibility that the other tagging system allows for. For example tagging users country, user type, etc. The segmentation system would also need some minor tweaks to allow tags from different types.

[2020-02-03 15:52] ryancwalsh commented on #35
But none of my other Composer dependencies seem to be having problems, so maybe something _did_ happen specific to Mailcoach.

[2020-02-03 16:18] freekmurze commented on #36
spatie/laravel-tags is a big dependency. We probably aren't going to pull it in. Could you give examples of functionality you're now missing?

[2020-02-03 16:19] freekmurze commented on #24
Yeah, we're currently experimenting with various editors

![photo_2020-02-03 14 58 57](https://user-images.githubusercontent.com/483853/73670324-518f8900-46a9-11ea-844b-44696cfd170f.jpeg)

[2020-02-03 16:22] freekmurze commented on #35
From our end we didn't change anything regarding our satis server (= the private composer server). There's nobody reporting similar problems.

Can you require the package outside of your vagrant environment?

[2020-02-03 16:30] LorenzoSapora commented on #36
- Tag types
Being able to categorise tags is useful for narrowing the focus. For example, in my current mailing system I have country, user tiers, user specific tags (what the user would like to see), and quite a few more. At the moment it's just a big pool of tags for that list.

- Translation
In `spatie/laravel-tags` we have json translations for tag names/slugs

- Segmentation
In the segmentati

[2020-02-03 17:09] freekmurze commented on #36
I'm thinking you could solve tag types and segmentation right now by just prefixing your tags.

Translations is indeed a tricky one.

Currently we'd like to keep mailcoach simple and don't have plans of extending the tag system. Should more users ask for this, I'll reconsider our stance.

[2020-02-03 17:09] #36 closed, assigned to nobody

[2020-02-03 17:37] m1guelpf opened #37 "Sentry package conflict"
Hey Spatie team (and thanks for building Mailcoach)!

I'm running into some issues while getting it running. Apparently, Mailcoach requires `ocramius/package-versions ^1.5`, which is locked at `^1.2.0` for everyone using the Sentry Laravel package. I understand this is not on your side, but keeping into account it's gonna be really difficult to get sentry to make the change (it's not a direct depe

[2020-02-03 18:19] ryancwalsh commented on #35
Thank you so much for your response.

Since then, I've been trying to use my partner's Mac to try to run it, but the Mac started having hardware problems 🤦‍♂️, so I was getting nowhere.

Then what I did was **restart Windows** (the main computer where I've been working) and renamed `vendor` to `vendor2` (essentially deleting it by moving it away from its normal spot) and also `mv ~/.composer/cache

[2020-02-03 18:19] #35 closed, assigned to nobody

[2020-02-03 18:20] freekmurze commented on #35
No aplogies necessary, glad you got it working again 👍

[2020-02-03 19:12] vesper8 commented on #34
I believe @leeovery is working on an API wrapper which I hope he will release soon, he talks about it here https://github.com/spatie/mailcoach-support/issues/24#issuecomment-581273026

It would be great if this was added to the core but in the meantime, an open-source API will be a welcome alternative to having all of us create our own

[2020-02-03 19:21] freekmurze commented on #34
Closing this for now, as right now we're not focusing on getting this sort of API in the core. I believe a 3th party package is the way to go for now.

I'll reconsider adding an API in the future since some people have already asked for this.

[2020-02-03 19:21] #34 closed, assigned to nobody

[2020-02-03 19:25] freekmurze commented on #37
Hi Miguel, thanks for bringing this to my attention.

I've lower the required version of that package to `^1.2.0`.

This change is available starting from mailcoach `v1.4.3`.

[2020-02-03 19:25] #37 closed, assigned to nobody

[2020-02-03 19:26] leeovery commented on #34
I am hacking on it now. _Hopefully_, will have something done next week or so. Don't have much spare time.

It'll be opinionated but it'll be a good start at the very least. Then we can tweak it together :)

I'm also going to re-engineer my Laravel Newsletter package (which I'm renaming Contact-Front) to work with my Mailcoach API. So 2 abstractions  later ( 🙄) you'll be able to do:

[code]

That

[2020-02-03 19:31] freekmurze commented on #34
@leeovery Thank you for all the work you put into this 👍

[2020-02-03 19:36] leeovery commented on #34
Are you kidding? lol

I feel I owe Spatie so much this is the **VERY** least I can do!!! :)

But thank you.

[2020-02-03 20:25] cwhite92 commented on #37
Never thought I'd see the day when @freekmurze DOWNGRADES a dependency 😱

[2020-02-04 15:09] goaround opened #38 "Segment based on attributes?"
I would like to let my subscribers choose a region where they live. I created an extra attribute `region` for that. Tags are in my option not a good fit for this purpose because a subscriber should only choose one region. Now I would like to send a newsletter with specific content for each region.

But here is my problem: I can only create Segements bases on Tags inside the App or by extending the

[2020-02-04 15:17] ziming commented on #38
Support this, I have a use case where I want to segment by the preference attributes they have in their UserProfile model such as month/year of birth, minimum deal size (amount), interested topics.etc

Certain email campaigns may only be sent to users whoose UserProfile had certain minimum game points as well

[2020-02-04 15:48] freekmurze commented on #38
@goaround I'll see if I can improve on this.

Could you show me what you would do if you had total freedom? How would your `Segment` class look like?

[2020-02-04 15:55] goaround commented on #38
Sure, I even added a secound attribute "frequency" because I would like to give my subscriber the choice between a daily & weekly newsletter:

[code]

I think even better would be using Tags and Attributes (including extra_attributes) inside the App to create Segments.

[2020-02-04 16:06] goaround opened #39 "Accept custom attributes on CreateSubscriptionRequest?"
As already mentioned here: https://github.com/spatie/mailcoach-support/issues/38 I've added custom attributes to my Subscribers. The next question is, how to accept these attributes on form requests to `/subscribe/`?

I think the only way is to extend `Spatie\Mailcoach\Http\Front\Controllers\SubscribeController` and replicate `__invoke` to accept a custom `CreateSubscriptionRequest` class with a c

[2020-02-04 18:53] leeovery commented on #34
Ive pushed up my WIP here: https://github.com/leeovery/mailcoach-api

Feel free to submit issues with ideas etc. Im happy with the structure and flow.

You can subscribe to 1 or more lists, unsubscribe from 1 or more lists, update contact details, and send campaigns (now or scheduled).

Theres no auth yet, or events, or webhooks.

Very much WIP

[2020-02-04 22:59] ryancwalsh opened #40 "Statistics all show 0 (probable conflict of SES Configuration Sets)"
/mailcoach/campaigns/1/summary says 0 for everything even though I have opened the email (and downloaded the images) and clicked a link. I don't know what I'm doing wrong.

I was very excited to see that my inbox received the campaign and that its links used my custom subdomain and then correctly bounced to my real domain (so I guess I configured SES and SNS correctly).

Does the fact that the "Se

[2020-02-04 23:30] ryancwalsh commented on #40
I just checked my tables, and these are empty: mailcoach_campaign_clicks, mailcoach_campaign_links, mailcoach_campaign_opens, mailcoach_send_feedback_items.

I looked up the chain from registerOpen() and see ProcessSesWebhookJob and earlier is MailcoachSesFeedbackServiceProvider.

I don't know what this line does, but sesFeedback camelCased sticks out to me since I've never seen that elsewhere:

`

[2020-02-04 23:36] ryancwalsh commented on #40
I found the webhook_calls table and see that it has exactly 5 records, and all of them have a message like "You have chosen to subscribe to the topic arn:aws:sns:us-east-1:024633319577:mailcoach.\nTo confirm the subscription, visit the SubscribeURL included in this message."

But my AWS SNS console already said Status Confirmed automatically (without me finding those DB records and visiting the sp

[2020-02-04 23:43] ryancwalsh commented on #40
Oh shoot. I see a problem but don't know how to solve it. When I just took a closer look at the Mailcoach campaigns I received, I noticed that the subdomain of the links in the email body are the subdomain that my _other_ SES configuration set is supposed to use.

**Before Mailcoach existed, I was already using SES (and a configuration set and SNS) for tracking opens and clicks of my _transactiona

[2020-02-04 23:44] freekmurze commented on #40
@ryancwalsh I'm sorry you're having troubles with this. Thanks for the detailed explanation.

@riasvdv Can you take a look at this?

[2020-02-05 03:02] ryancwalsh commented on #40
When I look at https://console.aws.amazon.com/ses/home?region=us-east-1#configuration-set-list:, I see 4 configuration sets.

Acelle and Mailbluster I could probably delete. But WalshSns is my main one for transactional emails. And now there is also "mailcoach".

![image](https://user-images.githubusercontent.com/2086493/73806845-a3630c80-4798-11ea-9ae1-1337221cee58.png)

I'm really surprised that

[2020-02-05 05:50] rnleal opened #41 "Table 'mailcoach.media' doesn't exist"
Hi Spatie Team,

When importing subscribers, I get this sql error

`SQLSTATE[42S02]: Base table or view not found: 1146 Table 'mailcoach.media' doesn't exist (SQL: select * from `media` where `media`.`model_id` = 3 and `media`.`model_id` is not null and `media`.`model_type` = Spatie\Mailcoach\Models\SubscriberImport) (View: /home/vagrant/code/mailcoach/vendor/spatie/laravel-mailcoach/resources/vie

[2020-02-05 05:56] rnleal commented on #41
update: installing [spatie/laravel-medialibrary](https://github.com/spatie/laravel-medialibrary)  solves this issue.

Not sure if this is the right fix though?

[2020-02-05 05:56] ziming commented on #8
Hmm personally I "rate limit" by doing something hacky like this

[code]

[2020-02-05 08:36] riasvdv commented on #41
This is indeed an issue, for imports you need to publish the migration of the laravel-medialibrary package.

[code]

I'll fix this in a new release so the Mailcoach service provider also publishes the medialibrary migrations

[2020-02-05 08:40] riasvdv commented on #41
Fixed in 1.5.1

[2020-02-05 08:40] #41 closed, assigned to riasvdv

[2020-02-05 08:45] riasvdv commented on #40
I think what's happening here is that Mailcoach is setting the configuration set header, but the SES driver of Laravel is overwriting it when the mail passes through because of what's set in your `services.php` file.

Is there any way you can verify this by removing the configuration from `services.php`?

[2020-02-05 09:23] freekmurze commented on #39
I'm thinking that what you are describing is the way to go 👍

[2020-02-05 09:23] #39 closed, assigned to nobody

[2020-02-05 14:26] ryancwalsh commented on #40
Ok, I commented out 'WalshSns' and then ran Xdebug while using 'Send now' for a campaign, and I see the 'mailcoach' Configuration Set name where I'd expect:

![image](https://user-images.githubusercontent.com/2086493/73849933-cd4c1b80-47f8-11ea-84ae-323c7393c1a7.png)

![image](https://user-images.githubusercontent.com/2086493/73849943-d210cf80-47f8-11ea-9c5e-e69934c0528a.png)

![image](https://use

[2020-02-05 14:33] ryancwalsh opened #42 "SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'failure_reason'"
I ran into this error locally when trying to figure out https://github.com/spatie/mailcoach-support/issues/40

[code]

[2020-02-05 14:49] ryancwalsh commented on #40
I used Xdebug all the way to the "send" function in SesTransport and see that 'mailcoach' correctly is set in the header even when my 'WalshSns' value exists elsewhere in my config. It's what I'd expect, because I wouldn't think there would be any way for my custom config to influence what header Mailcoach sets in SES:

![image](https://user-images.githubusercontent.com/2086493/73851924-54e75980-4

[2020-02-05 15:28] ryancwalsh commented on #40
I temporarily refactored SesTransport.php temporarily to more easily understand it and use Xdebug.

![image](https://user-images.githubusercontent.com/2086493/73853591-23bc5880-47ff-11ea-8612-7465c11405bc.png)
![image](https://user-images.githubusercontent.com/2086493/73853601-28810c80-47ff-11ea-8ef8-4061e08fe926.png)

`\Illuminate\Mail\TransportManager createSesDriver()` passes the whole 'service

[2020-02-05 15:57] ryancwalsh commented on #40
I think I've taken this as far as I can take it and now need your help, and I have ideas about how you can probably solve this.

First, I figured out what led me to create the config the way that I had it. https://laravel.com/docs/5.7/mail#driver-prerequisites (and still true in https://laravel.com/docs/6.x/mail#driver-prerequisites) gives that example of having 'services.ses.options.Configuration

[2020-02-06 09:01] riasvdv commented on #40
Thanks for the very detailed investigation into this issue, I wasn't aware that the `services.ses.options.ConfigurationSetName` was an actual setting that Laravel uses.

We'll try to refactor the implementation of our ses package to overwrite that configuration when Mailcoach is the sender

[2020-02-06 13:41] ryancwalsh commented on #40
@riasvdv Thanks. Could you please do it in a way that also allows me to have my own ConfigurationSetName set elsewhere (such as where I moved it, to `services.ses.ConfigurationSetName`, which is _outside_ of `services.ses.options`) since I don't actually want Laravel to be magically aware of my configuration set name since I want to attach it only to a subset of my transactional mails selectively.

[2020-02-06 14:34] 1stevengrant opened #43 "Implement a text editor for content"
My clients aren't technical and so I would love to be able to have some predefined templates that campaigns can use and then have a text editor field that just allows them to format the body of the message as they see fit.

[2020-02-06 14:38] freekmurze commented on #43
We’re going to improve on this and will add an easy to use editor in the next couple of weeks.

[2020-02-06 14:38] #43 closed, assigned to nobody

[2020-02-06 14:40] 1stevengrant commented on #43
nice - and fast response too 💪🏻

[2020-02-06 15:41] karlgray opened #44 "syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ',' or ')'"
I have done a clean install using php 7.4 and am getting this error **in the browser**.

syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ',' or ')'
vendor/spatie/laravel-mailcoach/src/MailcoachServiceProvider.php:61

**On the command line** when running
php artisan migrate

I get this error.

 Symfony\Component\Debug\Exception\FatalThrowableError  : syntax error, unexpected '=>' (T_DOUBL

[2020-02-06 16:00] ryancwalsh commented on #44
I'm not an expert and don't work for Spatie but wonder if this issue is happening: https://github.com/spatie/mailcoach-support/issues/10#issuecomment-581044520

[2020-02-06 16:04] freekmurze commented on #44
I suspect that you are not running PHP 7.4 for your web requests. Create a file called `test.php` in your public directory with this contents

[code]

And verify the PHP version you are using.

If it's PHP 7.4, let me know and I'll reopen this issue.

[2020-02-06 16:04] #44 closed, assigned to nobody

[2020-02-06 16:08] karlgray commented on #44
Thank you both for your fast response.
Yes, it was plesk that was misreporting the version.  changed it to 7.3 and back to 7.4 restarted nginx and all is fine now.  Apologies and thanks.

[2020-02-06 16:10] freekmurze commented on #42
Create a new migration in your app where you change the type of the `failure_reason` field in the `mailcoach_sends` table from `string` to `text`.

I've also changed this in the default migration that comes with mailcoach.

[2020-02-06 16:10] #42 closed, assigned to nobody

[2020-02-06 16:51] freekmurze commented on #44
No apologies needed. Hope you'll enjoy Mailcoach.

[2020-02-06 17:46] riasvdv commented on #40
@ryancwalsh I've tagged a new version of Mailcoach (1.6.0) and the mailcoach-ses-feedback package (1.1.0), please let me know if these versions solve all your issues.

[2020-02-06 17:49] ryancwalsh commented on #42
Okay, thank you. I ran this as shown at https://laravel.com/docs/6.x/migrations#modifying-columns:

[code]

[2020-02-06 18:38] ryancwalsh commented on #40
@riasvdv Thanks for your update. I'm trying right now but /mailcoach/campaigns/3/summary seems stuck saying "Campaign 3 is preparing to send to test". I even used ssh and ran:
[code]

For Campaign 4, I tried using "Send now", but that still says "Campaign test4 is preparing to send to test" at /mailcoach/campaigns/4/summary.

I still haven't gotten the knack of Horizon. I don't know why I've had s

[2020-02-06 18:52] ryancwalsh opened #45 "500 errors related to https://mailcoach.app/api/latest-version"
My Slack has occasionally been buzzing my phone with 500 errors related to https://mailcoach.app/api/latest-version:

[code]

[2020-02-06 18:56] ryancwalsh commented on #40
/horizon/recent-jobs shows tons of jobs (mostly CalculateStatisticsJob but also SendCampaignJob), but they all say "-" for Runtime and have a Pause button for Status.

/horizon/dashboard shows:
![image](https://user-images.githubusercontent.com/2086493/73968814-4e361080-48e8-11ea-94bd-764bfaf5921f.png)

In the meantime, I'll try testing # 2 and 3 from https://github.com/spatie/mailcoach-support/is

[2020-02-06 19:56] ryancwalsh opened #46 "Horizon jobs won't run"
/horizon/dashboard shows:
![image](https://user-images.githubusercontent.com/2086493/73968814-4e361080-48e8-11ea-94bd-764bfaf5921f.png)

/horizon/recent-jobs shows tons of jobs (mostly CalculateStatisticsJob but also SendCampaignJob), but they all say "-" for Runtime and have a Pause button for Status.
![image](https://user-images.githubusercontent.com/2086493/73973063-df5cb580-48ef-11ea-805d-65a2

[2020-02-06 19:56] ryancwalsh commented on #40
I'll track the Horizon issue separately here: https://github.com/spatie/mailcoach-support/issues/46

[2020-02-06 20:06] ryancwalsh commented on #46
I think I solved this problem.

I ran `sudo vim /etc/supervisor/conf.d/laravel-worker.conf` to go comment out the lines related to running `artisan queue:work --sleep=3 --tries=3 --daemon`, which I guess maybe were only relevant before Horizon?

Maybe now Horizon does _all_ of the queue working?

So then in MySQL I ran
[code]
And then my cron job sent the campaign.

and my Horizon dash looks like:

[2020-02-06 20:12] riasvdv commented on #46
That's correct! Just make sure you have a supervisor config that makes sure horizon keeps running

[2020-02-06 20:12] #46 closed, assigned to nobody

[2020-02-06 20:14] ryancwalsh commented on #40
Okay, I think we've made some progress because # 2 and 3 from https://github.com/spatie/mailcoach-support/issues/40#issuecomment-582476627 seem like they are working _and_ my latest Mailcoach campaign sent with a link that used the proper "mc" subdomain.

The only problems now are:

1. The link didn't work (resulted in `This site can’t be reached / server IP address could not be found.  / DNS_PROB

[2020-02-06 20:15] ryancwalsh commented on #46
Yes, it's in Supervisor. Thanks!!

[2020-02-06 20:19] riasvdv commented on #40
This is most definitely an issue with the DNS not being set up correctly

[2020-02-06 20:23] ryancwalsh commented on #40
In the webhook_calls table, I only see "Send" and "Delivery" types. The latest was 2020-02-06 20:16:37 UTC.

But my https://console.aws.amazon.com/ses/home?region=us-east-1#edit-configuration-set:mailcoach says "Event types:Bounce, Click, Complaint, Delivery, Open, Reject, Rendering Failure , Send"

And https://console.aws.amazon.com/ses/home?region=us-east-1#verified-senders-domain: says "Verifie

[2020-02-06 20:38] ryancwalsh commented on #40
I took a guess based on my existing CloudFlare settings and added a CNAME of "mc" to "r.us-east-1.awstrack.me" even though the instructions at https://docs.aws.amazon.com/ses/latest/DeveloperGuide/configure-custom-open-click-domains.html#configure-custom-open-click-domain-https and https://docs.aws.amazon.com/ses/latest/DeveloperGuide/verify-domain-procedure.html don't clearly describe doing that.

[2020-02-06 20:38] #40 closed, assigned to riasvdv

[2020-02-06 22:16] freekmurze commented on #45
Seems to be stable now. Make sure you use a real cache driver (and not array), so Mailcoach only tries to reach that endpoint only once a day.

[2020-02-06 22:17] freekmurze commented on #40
I'm very happy that you managed to solve this. Thank you for all your detailed reports that made Mailcoach better. I hope you can now enjoy sending out lots of campaigns, without being bothered with technical problems.

[2020-02-07 09:34] goaround opened #47 "Make Landingpages translatable?"
Currently all Blade-Files inside the Package are in English and not translatable. I think at least for the Landingpages translatable string would be helpful.

[2020-02-07 09:35] freekmurze commented on #47
You can publish the views and translate all the things there.

[2020-02-07 09:35] #47 closed, assigned to nobody

[2020-02-07 13:15] tiff commented on #25
@rocramer I'm one of the developers behind LanguageTool. I'm sorry for the trouble this might have caused. A fix is currently being rolled out. Thanks for using LT!

[2020-02-07 13:48] Francois-Francois commented on #8
@ziming I think you should do (I may be wrong) :

[code]

[2020-02-07 14:00] ziming commented on #8
@rikless Thanks for the suggestions

Carbon is mutable so I think my approach is still fine. Unless you did something like this tweet to force CarbonImmutable

https://twitter.com/taylorotwell/status/1047578025263607809?lang=en

Your 3rd approach may have a problem as now() in 2nd iteration is probably just nanoseconds away from now() in 1st iteration.

But I think your code, which appears to assu

[2020-02-07 16:48] ryancwalsh commented on #45
@freekmurze This is still happening for me.

[2020-02-07 17:08] ryancwalsh opened #48 "Special characters like ❤ don't work in Preview"
![image](https://user-images.githubusercontent.com/2086493/74049539-53f02c80-49a2-11ea-9919-83e1679f67d5.png)

![image](https://user-images.githubusercontent.com/2086493/74049607-75e9af00-49a2-11ea-96c8-794047fe295e.png)

[2020-02-07 17:26] ryancwalsh opened #49 "More database columns are too short"
I just got 2 more exceptions:

[code]
and
[code]

[2020-02-07 17:41] ryancwalsh commented on #45
I have `CACHE_DRIVER=redis` and I'm getting these errors multiple times per minute, which means there are probably two problems: the cache isn't working how you expected, and the server is generating 500 errors.

[2020-02-07 20:46] freekmurze commented on #45
I've made the latests version checking more robust in the newly released `v1.6.2`.

If you're still getting too much 500 errors, let me know!

[2020-02-07 20:47] freekmurze commented on #48
@willemvb can you take a look at this one?

[2020-02-07 20:59] freekmurze commented on #49
Thanks for reporting I've changed the `url` column of the `mailcoach_campaign_links` table  in the default mailcoach migrations.

[code]

[2020-02-07 20:59] #49 closed, assigned to nobody

[2020-02-07 21:35] ryancwalsh commented on #49
Thanks!

I'll run this migration:

[code]

[2020-02-08 02:35] ryancwalsh opened #50 "How to schedule future campaign to send to non-openers of a certain campaign"
Let's say I send Campaign 1 on Monday at 08:00 with subject "hello" to 12k people.

How can I schedule a resend of that same campaign to send on Tuesday at 14:00 with subject "greetings" (even though the body will be the same as the original campaign) that will only send to the recipients of Campaign 1 who were not tracked as having opened it _by the time the Tuesday campaign is scheduled to send_

[2020-02-08 16:37] ryancwalsh commented on #45
Yes I still get them every couple seconds whenever I'm browsing my production Mailcoach page.

[2020-02-08 16:38] ryancwalsh opened #51 "Clicks aren't always tracked as opens"
If a subscriber clicks a link in a campaign when their email client is set to not download images (and therefore the open wouldn't be tracked that way), Mailcoach should still call registerOpen and fire CampaignOpenedEvent.

![image](https://user-images.githubusercontent.com/2086493/74088739-8d3ea000-4a67-11ea-9f1b-75fdeb94d1fe.png)

[2020-02-08 16:47] ryancwalsh commented on #50
One idea I'll try is to call `$subscriber->addTag(self::TAG_PREFIX . $campaign->id);` in my CampaignOpenedEventListener.

1. I can use the GUI to create Campaign 1 and schedule it.
1. Then I can duplicate Campaign 1 and call it Campaign 1 Resend and change its subject.
1. Then I go into a "test" subscriber of mine and create a tag like "Open 1" (if TAG_PREFIX = "Open ").
1. Then I create a new seg

[2020-02-08 16:51] freekmurze commented on #45
Ok, let’s go to the bottom of this. Could you post the exception backtrace here?

[2020-02-08 17:00] ryancwalsh commented on #45
Rollbar and Slack have only been showing me:

[code]

[2020-02-08 17:04] ryancwalsh commented on #45
Oh wait, I found more:

[code]
When visiting /mailcoach/campaigns/2/summary

[2020-02-08 17:31] freekmurze commented on #45
Are you able to visit the mailcoach.app url directly?

[2020-02-08 17:33] ryancwalsh commented on #45
Often it works. But often it doesn't. It worked a bunch of times just now in Chrome on Windows 10, and then just now I also got this:
![image](https://user-images.githubusercontent.com/2086493/74089447-40f75e00-4a6f-11ea-93d1-cbf01ce3610c.png)

[2020-02-08 17:41] ryancwalsh opened #52 "FatalThrowableError: Class 'Spatie\Mailcoach\Http\App\Queries\Filters\SendTypeFilter' not found"
I get this error when I visit /mailcoach/campaigns/3/outbox.

[code]

[2020-02-08 18:00] freekmurze commented on #52
This has been fixed in the newly released `v1.6.4`

[2020-02-08 18:00] #52 closed, assigned to nobody

[2020-02-08 18:03] freekmurze commented on #51
I'm inclined to just use follow the SES events that get sent to Mailcoach. I can image that some people find it interesting to know how many people block the open tracking.

If you want a click to count as an open as well (when there are no opens), listen for the `CampaignLinkClickedEvent` and add the behaviour you want there.

[2020-02-08 18:03] #51 closed, assigned to nobody

[2020-02-08 18:07] freekmurze commented on #50
I think so, yes.

I'm thinking you could clean up the tags you don't need with a scheduled artisan command.

True, we try to only add features that could be interesting for 90% of users, so the UI keeps very calm. I don't think we'll add this behaviour in the core soon, but luckily Mailcoach is extensible enough to add this behaviour on your own. I agree it can be a bit cumbersome.

Meanwhile, I'v

[2020-02-08 18:07] #50 closed, assigned to nobody

[2020-02-08 18:17] freekmurze commented on #45
I've made this more robust on the server side as well. Is [the endpoint](https://mailcoach.app/api/latest-version) now working for you?

[2020-02-08 18:37] ryancwalsh commented on #45
Still the same. Initially it works, but after some browser page refreshes, 500 error.

[2020-02-08 19:09] freekmurze commented on #45
The strange thing is that I’m not seeing any errors at our side. If Irefresh multiple times it keeps working even with cache turned off.

Maybe the error is somehow cached at your end? Could you try hitting that endpoint with another device or via another network?

[2020-02-08 19:19] ryancwalsh commented on #45
Using Brave browser in Private mode, the behavior was the same. Most initial requests worked, then 500 after refreshes. Same with Chrome Incognito and Firefox Private.

[2020-02-08 20:11] freekmurze commented on #45
Good news: I can replicate this behaviour. Looking into a possible fix...

[2020-02-09 07:06] mattiasgeniar opened #53 "Scheduling newsletter takes the server time, not my local timezone"
Most servers are configured to run in UTC, but if I'm in the UI and schedule a newsletter to be sent at 8AM, I expect that UI to show me my _current_ timezone.

Right now, it uses the date on the server, which is a bit tricky to schedule things.

![Schermafbeelding_2020-02-09_om_08_05_36](https://user-images.githubusercontent.com/407270/74097990-12cb5a00-4b13-11ea-81f2-1cb3f93e3d38.png)

[2020-02-09 07:19] mattiasgeniar opened #54 "Mail configuration: send test email uses same from/to instead of config default"
Hi!

When configuring the email settings in `/settings/mail-configuration`, you can configure a default from address. If you then test your configuration in `/settings/send-test-mail`, it sets the `to` and `from` of the test e-mail to the e-mail address you're sending the test email _to_, instead of using the mail config default from address I just configured.

![Schermafbeelding_2020-02-09_om_08_

[2020-02-09 07:21] mattiasgeniar commented on #54
In fact, I don't think the `test email` even uses those settings, I think I had to configure my mailgun account in `.env` and `config/mail.php` before I could send a test message? I could be remembering this wrongly, there was _some_ thing in Mailgun that required me to configure `config/mail.php` before I could send a test e-mail.

[2020-02-09 07:30] mattiasgeniar opened #55 "When invalid HTML is detected, show the error message of the parser"
I had an incorrectly encoded `&` in my mail body, and the form input for sending a new campaign wouldn't accept my HTML.

Because the `HtmlRule()` validation just validates true/false, without exposing the error, you're a bit blind as the user.

I would like to see the `exception` being thrown to also be shown in the UI so I wouldn't have to dive in the code to find why the `DOMDocument` complaine

[2020-02-09 07:33] mattiasgeniar opened #56 "TXT version of an HTML newsletter is not being generated"
When sending the HTML newsletter, the TXT version didn't get generated and included in the mail body. The mail body looked like this.

[code]

With no data in `text/plain`.

It might be because my HTML couldn't be converted to TXT? Or there might be something else that's preventing it, but I couldn't figure that out just yet and the preview/final confirmation screen didn't show any warnings.

Whil

[2020-02-09 08:37] freekmurze commented on #55
In the newly released `v1.6.5` you'll see the error message given by `DOMDocument`.

[2020-02-09 08:37] #55 closed, assigned to nobody

[2020-02-09 08:41] freekmurze commented on #53
You can change the `timezone` setting in the `config/app.php` config file. I've now added a note on this in the installation instructions.

[2020-02-09 08:41] #53 closed, assigned to nobody

[2020-02-09 08:47] freekmurze commented on #54
Mailcoach will set the default from email address to the one that was specified in the UI here: https://github.com/spatie/Mailcoach/blob/eec9935dd77fbcc0f851e4bafa8c966e835d6ec2/app/Support/MailConfiguration/Drivers/MailgunConfigurationDriver.php#L29

Could it be that you have your config cache? Try `php artisan cache:clear`.

[2020-02-09 09:03] freekmurze commented on #56
The html to text conversion is being done in the `ConvertHtmlToTextAction` class. You can new up this class, pass the `$html` to the `execute` method. Right now, exceptions are being suppressed. To see the error you can put a `dump` statement to see the exception in the catch block.

Right now those errors are indeed being ignored because it is assumed that most received will be able to display ht

[2020-02-09 09:19] freekmurze commented on #45
Ok, I got it now. I've made some server side improvement and added a fix in mailcoach itself.

Could you update to the latest version and try again?

My apologies for the hassle.

[2020-02-09 09:20] freekmurze commented on #54
Meanwhile I've updated the app so the cache config will get cleared when you update the email settings in the Mailcoach UI

[2020-02-09 09:20] #54 closed, assigned to nobody

[2020-02-09 10:14] freekmurze commented on #45
Closing this as I'm fairly sure the problem has been solved. If not, let me know and I'll reopen.

[2020-02-09 10:14] #45 closed, assigned to nobody

[2020-02-09 14:07] mattiasgeniar commented on #54
Nice, added that one!

[2020-02-09 14:16] mattiasgeniar commented on #56
OK I don't get any exceptions, the TEXT version is generated from the HTML fine, but isn't being added to the e-mail itself.

Seems like this might be a bug in the SwiftMailer implementation that it's not adding that text/plain version?

[2020-02-09 14:32] mattiasgeniar commented on #56
To confirm, the latest issue of freek.dev contained this mail body:

[code]

Also without text/plain

[2020-02-09 22:19] ryancwalsh commented on #45
Thanks. I haven’t noticed this problem since then! 😃👍

On Sun, Feb 9, 2020 at 05:14 Freek Van der Herten <notifications@github.com>
wrote:

[2020-02-09 22:22] ryancwalsh commented on #45
Thanks. I haven’t noticed this problem since then! 😃👍

[2020-02-10 17:14] goaround opened #57 "ImportSubscriberRow not considered?"
I would like to customize the Subscriber Import. The `App\Support\ImportSubscriberRow` class seems perfectly for this case. I modified the class but when I run an Import it seems that the class is not considered.

FYI: I created a the app using `composer create-project spatie/Mailcoach`

[2020-02-10 17:28] ryancwalsh opened #58 "ErrorException: Class 'Str' not found"
`ErrorException: Class 'Str' not found (View: /vendor/spatie/laravel-mailcoach/resources/views/app/emailLists/subscribers.blade.php)` when I try to search using the Filter box at **/mailcoach/email-lists/2/subscribers** which goes to **/mailcoach/email-lists/2/subscribers?filter[search]=test**

[2020-02-10 17:36] ryancwalsh opened #59 "Cannot update subscriber if same email address exists on another list"
Steps to reproduce:

1. Create 2 separate email lists.
1. Add the same subscriber (i.e. same email address) to both lists.
1. Visit /mailcoach/email-lists/1/subscriber/1/details
1. Try to add a tag and save.
1. See error "There already is a subscriber with this email."

UpdateSubscriberRequest seems to have trouble.

[2020-02-10 17:37] freekmurze commented on #58
This has been fixed in `v1.6.8`

[2020-02-10 17:37] #58 closed, assigned to nobody

[2020-02-10 18:06] freekmurze commented on #59
I’ll take care of this soon!

[2020-02-10 18:11] ryancwalsh commented on #59
I appreciate your quick responses! :-)

This one isn't a rush for me; it's not stopping me from sending my first real Mailcoach campaign.

I just started sending to a batch of 1,000 real subscribers, and assuming all looks good, I'll send the rest later today and will schedule a send to non-openers tomorrow.  Woohoo!

[2020-02-10 18:50] freekmurze commented on #59
This is fixed in `v1.6.9`.

Have fun sending out your campaign.

[2020-02-10 18:50] #59 closed, assigned to nobody

[2020-02-10 18:53] freekmurze commented on #57
`ImportSubscribersRow` can't be customised. You can however customise the `ImportSubscribersAction`.  See the `actions` key in `config/mailcoach.php`.

[2020-02-10 18:53] #57 closed, assigned to nobody

[2020-02-10 19:18] ryancwalsh commented on #59
Thanks!

And thanks for the quick fix.

My /mailcoach/campaigns/7/summary has been stuck showing the `fas fa-sync fa-spin text-blue-500` spinner for the whole 53 minutes since sending the campaing to 1,000 subscribers.

But `SELECT
    created_at, updated_at
FROM
    mailcoach_sends
ORDER BY created_at DESC` shows that all 1,000 were sent between 18:00 and 18:02:33 UTC.

This shows 100-300 per min

[2020-02-10 19:58] freekmurze commented on #59
Normally you should see a progress bar that's slowly filling on the campaign summary screen.

Any mail that should be sent out or is already sent out is indeed represented by a row in the `mailcoach_sends` table. The `created_at` represents the date that it was scheduled.

 A successfully sent mail will have the `sent_at` property filled. Failed mails will have the `failed_at` property filled (you

[2020-02-10 21:06] ryancwalsh opened #60 "Never-ending spinner"
I think I know the problem I wrote about at https://github.com/spatie/mailcoach-support/issues/59#issuecomment-584303847, which I'll also paste below:

~~
My /mailcoach/campaigns/7/summary has been stuck showing the `fas fa-sync fa-spin text-blue-500` spinner for the whole 53 minutes since sending the campaing to 1,000 subscribers.

But `SELECT
    created_at, updated_at
FROM
    mailcoach_sends
O

[2020-02-10 22:02] freekmurze commented on #60
In a future release, I'll try to improve the behaviour when something goes wrong.

Thanks for letting me know the whole story 👍

[2020-02-10 22:02] #60 closed, assigned to nobody

[2020-02-11 08:58] riasvdv commented on #56
@mattiasgeniar We've fixed some things in 1.6.10, the "Send test mail" button wasn't including the plaintext version in the email and we're now suppressing DOM errors when generating the plaintext version.

Let me know if this fixes it for you!

[2020-02-11 09:02] mattiasgeniar commented on #56
Hm I'll test, but Freek's newsletter didn't include the TXT version either, so I Don't think it's just about the "send test mail" button though

[2020-02-11 09:43] riasvdv commented on #56
The issue with Freek's newsletter was that it was throwing an exception on an invalid Doctype, which should be fixed now as we're suppressing them.

[2020-02-11 10:06] #56 closed, assigned to riasvdv

[2020-02-11 13:07] willemvb commented on #48
We are sending mails out in UTF-8, and the interface also uses UTF-8 encoding.

Include `<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />` in the `<head>` section of your mail and it should work.

I'll think about a good way to make this more clear (eg. in the docs)!

[2020-02-11 13:07] #48 closed, assigned to willemvb

[2020-02-11 14:33] ryancwalsh commented on #48
@willemvb Ok, thanks. Without the meta tag, my mails were _already sending fine_ with this special character: ❤.

Now adding the meta tag, they also work well in the Preview display.

[2020-02-11 18:38] fcaivano opened #61 "Site improvement (new favicon & videos redirect)"
Just two comments

- Changing favicon
Although there's not full support yet for changing favicon when using dark mode on browsers (https://bugs.chromium.org/p/chromium/issues/detail?id=889087) maybe a different favicon, the same logo over a blue background would work better?
This is how i currently see it:
![image](https://user-images.githubusercontent.com/2979774/74266782-7e0b5c80-4cca-11ea-808d-

[2020-02-11 19:44] mattiasgeniar commented on #56
Confirmed, this works - thanks!

[2020-02-11 20:50] mattiasgeniar opened #62 "Text version of e-mail has weird encoding"
I know, you're probably already sighing with frustration and anger just by that title alone. Text & encoding issues? This is going to be a fun one! 🙈

When supplying a text/plain version to the `SendMailAction`, it seems to do a 7-bit (`Content-Transfer-Encoding: quoted-printable`) encoding of the content. It makes it look like this.

[code]

When using the same input, Sendy sends the mail like th

[2020-02-11 21:48] freekmurze commented on #62
We have decided to revoke your license.

[2020-02-11 21:48] freekmurze commented on #62
Just kidding, we'll look into this tomorrow. 👍

[2020-02-12 02:17] fcaivano opened #63 "Error Exception: Use of undefined constant SIGTERM - assumed 'SIGTERM' (this will throw an Error in a future version of PHP)"
[code]
_Illuminate\Foundation\Bootstrap\HandleExceptions::handleError:54
vendor/laravel/horizon/src/Console/TerminateCommand.php:54_

**Getting that exception when saving configuration.**

Using PHP 7.4. From DO, installed with forge and then the package using composer create-project...

The configuration get's saved anyways.

[2020-02-12 07:08] freekmurze commented on #63
Could you post the entire stack trace of that error here?

[2020-02-12 07:10] freekmurze commented on #63
This seems to be an error coming from laravel/horizon and is probably caused because of the `pcntl` extension that is missing. Could you verify it's available on your system?

[2020-02-12 07:59] freekmurze commented on #62
Working on a fix right now...

[2020-02-12 08:05] mattiasgeniar commented on #63
I have the same error, some troubleshooting:

[code]

Full stacktrace:

[code]

phpinfo is available here (for now): https://newsletter.ma.ttias.be/phpinfo.php

It doesn't quite make any sense yet to me either, that constant should be available if the extension is loaded.

If I execute the command via CLI, it works.

[code]

[2020-02-12 08:25] freekmurze commented on #62
This has been fixed in the newly released `v1.6.11`.

[2020-02-12 08:25] #62 closed, assigned to nobody

[2020-02-12 08:35] freekmurze commented on #63
@fcaivano

In `EditMailConfigurationController`, could you try replacing the line

[code]

with

[code]

And let me know if that works for you?

[2020-02-12 11:51] willemvb commented on #61
Thanks for your valuable input!

I've updated favicons on the public site (will come to the sold app/bundle soon as well).

<img width="180" alt="image" src="https://user-images.githubusercontent.com/1336390/74332529-36ea9d80-4d96-11ea-8e2d-36134e19a4e2.png">

The navigation also changed a bit: once you're logged in, the nav is in 'logged-in' state even on public pages.
I also added a little heads

[2020-02-12 11:51] #61 closed, assigned to willemvb

[2020-02-12 14:00] mattiasgeniar commented on #63
Confirms this is the fix for me! No more notice anymore and horizon workers have cleanly restarted.

[2020-02-12 14:01] mattiasgeniar commented on #62
Confirmed, it works!

[2020-02-14 20:08] tdondich opened #64 "Race condition can potentially result in multiple subscribers to same list with same email"
I have some jobs that automatically subscribe users to a campaign list.  However, multiple of these jobs might be fired off at the same time.  It's possible that if these two jobs run at the same time from queue workers, that multiple records will be created, making duplicated subscriber records for a list.

I'm assuming a unique index for list id and email will help resolve this.  Just wanted to

[2020-02-14 23:39] beberlei opened #65 "From E-Mail when using Test Mail Configuration"
When using mail configuration test, it uses the given e-mail as both from and to e-mail, which Postmark doesn't like because it requires the email "From:" be one of the configured hosts. Would it be better to allow setting a second E-Mail as from here?

[2020-02-14 23:42] beberlei opened #66 "Events as more complex variant of Tags?"
Drip and ConvertKit have both introduced the notion of events instead of tags, to better allow segmentation based on time, and amount of things. With tags i can say "did something", but i don't know when and how often it happend.

with Events i could say "has done something twice in the last 30 days".

Datamodel would be something like:

Event:
- SubscriberId
- EventName
- Date

[2020-02-15 10:16] beberlei opened #67 "Postmark Feedback Support"
I would like to add support for Postmark, but looking at the existing feedback channels I see no clear way to get this hooked up. Could you provide some pointers where to start?

[2020-02-15 11:22] freekmurze commented on #67
Hi Benjamin,

great that you want to do this!

In Mailcoach, a mail that was sent is represented by a `Send` model. This model has several methods to register clicks, links, complaints and bouces: `registerOpen`, `registerClick`, `registerBounce` and `registerComplaint`.

Mail service providers use webhooks to send feedback. Our feedback packages are open source. You'll find them here:
- https://g

[2020-02-15 23:02] renatonascalves commented on #67
Just a note that Postmark is not an email marketing delivery tool like Mailchimp.

https://postmarkapp.com/support/article/831-why-cant-i-send-bulk-emails

[2020-02-16 08:30] ziming commented on #41
Hi @riasvdv

I'm using laravel media library in my project before mailcoach for files uploads. What happens now? Another media migration is published.

Will this conflict with my existing media table?

[2020-02-16 15:52] jorenvh opened #68 "Customised confirmation email column has the wrong data type"
For my list I'm willing to send a customised confirmation email, this feature is available through the UI as you know. However the database field representing the field is a `varchar(255)` which prevents me from adding a html template to it.

Changing the `data_type` to `text` resolves the issue.

[code]

[2020-02-16 16:10] emilsundberg commented on #67
@renatonascalves Postmark has recently launched bulk emails, see https://postmarkapp.com/blog/api-bulk-the-final-frontier but I think you need to contact them enable it.

From the linked post:

[2020-02-16 16:48] beberlei commented on #67
@renatonascalves @emilsundberg Yes, we are part of the bulk mail beta with our account.

[2020-02-16 18:29] freekmurze commented on #68
Thanks for bringing this to my attention. I've updated the default migration.

[2020-02-16 18:29] #68 closed, assigned to nobody

[2020-02-16 19:00] jorenvh commented on #68
No problem, It might also be a good idea to add a new migration that changes the data type for the column. This way existing applications get updated when they pull in the latest version.

What do you think?

[2020-02-16 19:15] freekmurze commented on #68
I don't think that auto updating the database after a package update is a good idea. People who already installed the package and hit this problem, can manually update their database scheme.

[2020-02-16 19:16] freekmurze commented on #66
This is something we'll consider for `v2`.

[2020-02-16 19:16] #66 closed, assigned to nobody

[2020-02-16 19:20] ryancwalsh commented on #68
One thought, though, is that it might be best if it were possible for people who have already installed the package to have some sort of official way of knowing when there are manual fixes required (so that they can prevent the problem).

It would be unfortunate to need to first experience a bug / undesirable situation and then search the issues site and realize that someone already knew about the

[2020-02-16 19:40] jorenvh commented on #68
@freekmurze fair enough!

[2020-02-17 07:39] freekmurze commented on #64
Great suggestion, thanks! I've added this in the default migration.

[2020-02-17 07:39] #64 closed, assigned to nobody

[2020-02-17 09:02] renatonascalves commented on #67
Interesting! I'm an active user of Postmark and didn't get an email with this news. Thanks for sharing. :)

[2020-02-17 10:35] hanspagel opened #69 "“Upgrade available” is shown - even with the latest version"
Is it just me or is the “Upgrade available”, even after running `composer update`? Do I miss something?

![bwY3J1qkPK](https://user-images.githubusercontent.com/1577992/74646101-7be94800-5179-11ea-85da-abdac6750147.png)

[2020-02-17 13:11] hanspagel opened #70 "Data too long for column 'confirmation_mail_content'"
`confirmation_mail_content` & `welcome_mail_content` are migrated as strings to the database. That leads to a QueryException when I try to add content longer than 255 chars to the customized confirmation mail or customized welcome mail.

It’s not unusual to have HTML emails longer than 255 characters, I think longText would be a more appropriate column type.

[2020-02-17 13:18] freekmurze commented on #70
You're right. I've changed this in the default migration.

[2020-02-17 13:18] #70 closed, assigned to nobody

[2020-02-17 13:24] freekmurze commented on #69
Could you try clearing your cache and let me know if the problem persists?

[2020-02-17 13:57] freekmurze commented on #67
@beberlei I've created a repo here for you to work in: https://github.com/spatie/laravel-mailcoach-postmark-feedback

I've already set some things up. Things for you to implement:
- `PostmarkSignatureValidator`
- `canHandlePayload` on each `PostmarkEvent`
-  tests

If you have any questions, do let me know. Happy to help you!

[2020-02-17 14:21] riasvdv commented on #63
Fixed in https://github.com/spatie/Mailcoach/releases/tag/1.0.9

[2020-02-17 14:21] #63 closed, assigned to nobody

[2020-02-17 14:46] #65 closed, assigned to nobody

[2020-02-17 15:04] riasvdv commented on #38
@goaround You can now pass an object to the `segment()` function on a campaign since 1.7.1, this allows you to instantiate the segment with values

https://mailcoach.app/docs/package/advanced-usage/segmenting-lists#using-an-instantiated-segment-object

[2020-02-17 15:04] #38 closed, assigned to riasvdv

[2020-02-17 15:13] goaround commented on #38
@riasvdv awesome, thank you!

[2020-02-17 16:22] hanspagel commented on #69
Did another update to 1.7.1, seems to be fixed. Can’t reproduce it anymore, not sure if it was a cache thing or if you added a fix. Thanks in both cases!

[2020-02-17 16:22] #69 closed, assigned to nobody

[2020-02-17 16:45] freekmurze commented on #67
Closing this here, if there are any questions, post them on the issue tracker of https://github.com/spatie/laravel-mailcoach-postmark-feedback

[2020-02-17 16:45] #67 closed, assigned to nobody

[2020-02-17 16:47] tdondich commented on #64
❤️

[2020-02-17 19:09] prolonginc opened #71 "<![if !mso]> causing the app to trigger invalid html"
Hello I have the following tags in my html email template `	<![if !mso]> and  	<![endif]-->` and it will not let me save the email html when i try to save it in the campaign content. throwing `The HTML is not valid (DOMDocument::loadHTML(): htmlParseStartTag: invalid element name in Entity, line: 60).` error

[2020-02-17 21:53] philsam opened #72 "App is not running"
The app is not running after following the setup steps

Symfony\Component\Debug\Exception\FatalThrowableError
syntax error, unexpected '=>' (T_DOUBLE_ARROW), expecting ',' or ')'

vendor/spatie/laravel-mailcoach/src/MailcoachServiceProvider.php:62

<img width="843" alt="Screen Shot 2020-02-17 at 1 48 28 PM" src="https://user-images.githubusercontent.com/8139955/74688408-4732bc00-518c-11ea-93e0-df7

[2020-02-18 00:00] freekmurze commented on #72
Please make sure you are running PHP 7.4

[2020-02-18 07:33] #72 closed, assigned to nobody

[2020-02-18 07:36] riasvdv commented on #71
An mso conditional works like this:

``

You forgot the `<!--`at the opening tag (should be parsed as an HTML comment)

[2020-02-18 07:36] #71 closed, assigned to riasvdv

[2020-02-18 13:59] prolonginc commented on #71
thank you sir.

[2020-02-18 16:25] ryancwalsh opened #73 "UnsubscribedEventListener (and other listeners) infinite loop"
I have my main Laravel app and its database of contacts, and now I have Mailcoach installed as a package, and it has a table of subscribers. I want to keep its subscribers table completely in sync with the relevant columns of my contacts table.

Before using Mailcoach, when I used 3rd party email campaign providers, I'd use an API to update the third party whenever there were any changes to my con

[2020-02-18 17:44] goaround opened #74 "Documentation on Segmenting lists using a query outdated?"
Hi,

I think the dokumentation on segmenting lists using a query is outdated or incorrect: https://mailcoach.app/docs/package/advanced-usage/segmenting-lists

I can't find any reference to the function `getSubscriptionsQuery` in the package. I think the correct function is called `subscribersQuery` like used inside this test: https://github.com/spatie/laravel-mailcoach-tests/blob/be3aef1c53281bc98

[2020-02-18 17:52] freekmurze commented on #73
I don't think it's bad to use `debug_backtrace`. There's a high change that you're depending on that function everyday, since Eloquents relationships make use of it too.

If you want an alternate approach, you could take a look at Eloquents `withOoutEvents` static method. Here's an example from my blog: https://github.com/spatie/freek.dev/blob/535362c340e13276af3e7a0061c311588668de77/app/Models/Po

[2020-02-18 17:52] #73 closed, assigned to nobody

[2020-02-18 18:06] freekmurze commented on #74
Thanks for bringing this to my attention.

The docs have been updated.

[2020-02-18 18:06] #74 closed, assigned to nobody

[2020-02-18 18:07] goaround commented on #74
Makes way more sense now, thank you!

[2020-02-18 18:58] ryancwalsh commented on #73
Thank you! I'd never heard of `withoutEvents` and see it explained here: https://stackoverflow.com/q/29407818/470749

[2020-02-18 20:55] jbraband opened #75 "SES feedback route receives duplicate events from SNS subscription"
I have troubleshooted the following described issue to death over 2 days and have come to the conclusion that I have something misconfigured in AWS (SES and/or SNS).

What is happening is once a campaign hits my inbox, I'll open it. Over the next 10 minutes, I'll see 1-8 requests come in from SNS for the same MessageID. The same occurs for click events as well. Sometimes I will see just a single w

[2020-02-18 21:37] ryancwalsh commented on #75
Yes, I've been experiencing this. I haven't quite figured it out yet. I received 9 "complaint" events from one subscriber. It seems unlikely that the subscriber reported my campaign as spam 9 times.

[2020-02-18 21:39] jbraband commented on #75
digging through SNS FAQs page (https://aws.amazon.com/sns/faqs/#Reliability), I found this:

Perhaps this is a "thing" that happens with SNS. the open and click tables would need to capture the MessageID from the SNS payload to prevent duplicate opens/clicks.

[2020-02-19 04:36] philsam opened #76 "Email not sending from server, mailgun is configured and working"
@freekmurze   local.ERROR: There are no commands defined in the "email-campaigns" namespace. {"exception":"[object] (Symfony\\Component\\Console\\Exception\\NamespaceNotFoundException(code: 0): There are no commands defined in the \"email-campaigns\" namespace. at /mailcoach/vendor/symfony/console/Application.php:598)

[2020-02-19 04:40] philsam commented on #76
Update: Mail is now sending, but why do I get that error in the log file?

[2020-02-19 09:39] freekmurze commented on #76
There seems to be an error in the `App\Console\Kernel.php` file.

In that file replace the line that contains "email-campaigns" with this one:

[code]

I've updated this application template too, and will inform existing users soon.

[2020-02-19 09:39] #76 closed, assigned to nobody

[2020-02-19 09:47] freekmurze commented on #75
I'm thinking we could filter out duplicate message in this class. It'll get called right before a payload of a webhook is processed.

https://github.com/spatie/laravel-mailcoach-ses-feedback/blob/0469bd45b82ac2f7afaf26480347faabda0126ba/src/ProcessSesWebhooksProfile.php#L10

Here we could add a check if there exists a record in the `webhook_calls` table with the MessageID in the payload.

I do wor

[2020-02-19 12:53] jbraband commented on #75
I'll look and see if there's a straight forward way to get the MessageID from the webhook through to the mailcoach_clicks and mailcoach_opens tables.

although now that I think about this, that isn't going to work since SES is just one of the mail options. guessing you dont want that.

[2020-02-19 12:56] jbraband commented on #75
with performance of looking up the SES message_id in mind, another approach would be to add a migration to the laravel-mailcoach-ses-feedback package for a table called mailcoach_ses_processed_messages

id
ses_message_id
created_at
updated_at

that table would be queried before processing for the message_id and then inserted into after a new message is processed.

@freekmurze how do you feel about

[2020-02-19 13:14] goaround opened #77 "Can't extend ImportSubscribersAction"
I try to write my own Import Action for the MailChimp export. I've extended `Spatie\Mailcoach\Actions\Subscribers\ImportSubscribersAction` to implement my own `ImportSubscriberRow`. But if I change the `import_subscribers` action inside `config/mailcoach.php` I always get this Exception:

Here is my `ImportMailchimpSubscribersAction::class`

[code]
And the part of the `config/mailcoach.php`

[code

[2020-02-19 14:34] jbraband commented on #75
Another option is to put a collection of processed MessageIDs in redis.

Pros:
less cumbersome than database table
if cache is wiped, we're only dealing with metrics, some opens/clicks might get duplicated in the aggregate counts, but probably not enough to change trends

Cons:
cache could be wiped and opens/clicks could be duplicated

[2020-02-19 14:37] jbraband commented on #75
With either a database table or using redis, I'd propose that it gets cleaned out with a scheduled command every day, wiping message_ids that are older than 24 hours. Let's keep that list clean and lean :)

@freekmurze i have my environment set up to develop this PR. as the package maintainer, I'd like to get your thoughts on database versus redis before I proceed.

disclaimer: my first non-docume

[2020-02-19 17:48] ryancwalsh commented on #75
@jbraband Thanks for working on this. I just noticed a case today where I got *28* notifications about the same complaint.

[2020-02-19 22:24] jbraband commented on #75
I have a PR near ready to go without tests. I'll do the tests while waiting for feedback on the code additions.

The fork is here https://github.com/LeutholdGroup/laravel-mailcoach-ses-feedback

Writing the message_id record was tricky. At first I had attached a listener to the CampaignOpenedEvent (and the three other events), but didn't see a non-disruptive way to get the message_id from the orig

[2020-02-20 00:38] jbraband commented on #75
@freekmurze @ryancwalsh please review the draft PR linked above

[2020-02-20 08:54] freekmurze commented on #75
We'll continue the conversation around this in that PR. Thanks for your work.

[2020-02-20 08:54] #75 closed, assigned to nobody

[2020-02-20 12:02] freekmurze commented on #77
On first sight, I don't see anything wrong with your code.

I've added [this test](https://github.com/spatie/laravel-mailcoach-tests/blob/f0d796399c8c02c30fa887d0dd2f63b68ccc07a1/Features/CustomizableActionTest.php#L110-L121) that verifies the action can be customised.

Could you past the entire stack trace of the exception you're getting?

[2020-02-21 10:45] mattiasgeniar opened #78 "Default from name isn't being used"
The field is called `default_from_name` in the UI & database, but the code seems to refer to `default_name`. This makes it so that most initial e-mails have no `Name` in the email, just the e-mail address.

I think it's wrong in these places:

[code]

Every occurence of `default_name` should be `default_from_name` I believe.

[2020-02-21 12:16] freekmurze commented on #78
Thanks for bringing this to my attention, I've fixed this in the newly released 1.7.2

[2020-02-21 12:16] #78 closed, assigned to nobody

[2020-02-21 13:15] stefanbauer opened #79 "yarn run prod ends in empty css"
If you run `yarn run prod`, this ends in an empty CSS file.

[code]

[2020-02-21 13:16] stefanbauer opened #80 "composer.lock in .gitignore"
When using mailcoach as a standalone application, imho `composer.lock` shouldn't be available in `.gitignore`. Otherwise, when running `composer install` on a production machine I never know which packages get installed and if it's still working afterwards.

[2020-02-21 13:18] stefanbauer opened #81 "Add information about ext-imagick in the docs"
There is no clue in the docs, that ext-imagick is necessary when using the standalone application. A hint in the docs (and maybe a clue how to install that on forge) might be useful.

[2020-02-21 13:27] stefanbauer commented on #79
Well, I know that this isn't working because I've to publish the assets. But maybe in the standalone application, it makes sense to integrate that build into the webpack.mix.js as well that `yarn run prod` will work.

[2020-02-21 13:47] stefanbauer opened #82 "Add possibility to use segments in segments"
It would be nice if I could use segments in segments 👍 Let me know if you need more details. But the use case should be clear.

[2020-02-21 13:51] stefanbauer opened #83 "Possibility to use lists and segments"
Would be really nice feature (but I think it's not that easy) to use a different list in a segment. Something like this:

If you have 2 Lists

- Customers
- Pre-Launch Email Collector

Then a segment in the Pre-Launch Email Collector would be `People that are interested but not signed up` ends in

- Not in list Customers

[2020-02-21 14:35] freekmurze commented on #80
I'm going to take the optimistic route here, and not add that file, so people always have the latest version of the dependencies of which I assume they'll work.

[2020-02-21 14:35] #80 closed, assigned to nobody

[2020-02-21 14:37] freekmurze commented on #83
This suggestion goes against the base idea that every list is a separate entities that shouldn't know anything about another list. Segmention should be done using tags, not lists.

There's actually also so code in place that prevents you from sending mails to subscribers that not belong to the list coupled to the campaign.

[2020-02-21 14:37] #83 closed, assigned to nobody

[2020-02-21 14:37] freekmurze commented on #82
Please add some examples here 👍

[2020-02-21 14:39] stefanbauer commented on #83
Then I don't get the idea of lists, based on your licensing model. Can you give me an example of different lists, that make sense? In your screenshots at the documentation, there are lists like `flareapp`, `freek.dev` and some more. This isn't a real example, because that will - based on your license model - never ever work. So I'm curious about some real life examples for different lists (within

[2020-02-21 14:40] freekmurze commented on #81
I've add a note of this requirement to our docs.

[2020-02-21 14:40] #81 closed, assigned to nobody

[2020-02-21 14:40] stefanbauer commented on #82
Here is a common example from convertkit that uses a lot of people:

![image](https://user-images.githubusercontent.com/3192662/75043536-892b6d00-54c0-11ea-90ba-e06249e9f3f3.png)

[2020-02-21 14:57] sebastiandedeyne commented on #79
Sorry, but gonna need a lot more context 😅

Where exactly are you running `yarn run prod`? In the default Mailcoach skeleton app, or in the Mailcoach package?

Did you change anything in the assets?

Why do you want to run this in the first place?

[2020-02-21 15:00] stefanbauer commented on #79
Sure, here you are:

Standalone application

No.

There is no reason YET. But because it's a regular Laravel application and I'd like to add something or modify anything I'd expect that a `yarn run prod` would still work. The easiest way to achieve that is just merge the regular output with the vendor css I think. And everything's fine, isn't it?

[2020-02-21 15:02] sebastiandedeyne commented on #79
Got it!

I don't think it's an issue, the CSS actually _is_ empty.

https://github.com/spatie/Mailcoach/blob/master/resources/sass/app.scss

Running `yarn run production` builds the application assets, Mailcoach assets are prebuilt and loaded from `vendor`.

[2020-02-21 15:10] stefanbauer commented on #79
Actually, I thought the same. But here it didn't work. Locally it did, but as soon as you deployed it, no CSS was loading. Only after published the assets which shouldn't be necessary, because it's part of the standalone application, isn't it?

[2020-02-21 15:47] goaround commented on #77
@freekmurze I tried your CustomImportSubscribersAction class inside my app and I get the same error.

Here is the full stack trace: https://flareapp.io/share/17DKERPv#F1

[2020-02-21 19:19] prolonginc opened #84 "Scheduler Issue"
in the kernel.php of the self-hosted version the command shows:
 `$schedule->command('email-campaigns:send-scheduled-campaigns')->everyMinute();`
while I believe it should be:
`$schedule->command('mailcoach:send-scheduled-campaigns')->everyMinute();`
unfortunately I cannot PR it since its not OSS.

Thank you.

[2020-02-23 10:50] freekmurze commented on #84
Change that command manually in your copy of mailcoach. Meanwhile I've corrected it in the master version. Thanks for bringing this to my attention.

[2020-02-23 10:50] #84 closed, assigned to nobody

[2020-02-23 10:53] freekmurze commented on #82
I agree that it might be nice to have this option available in the UI.  I'll revisit this issue when creating the major version.

Meanwhile you can accomplish the behaviour you want using code. Take a look at instantiated Segment objects as mentioned on this page in the docs: https://mailcoach.app/docs/package/advanced-usage/segmenting-lists

[2020-02-23 10:53] #82 closed, assigned to nobody

[2020-02-23 10:56] freekmurze commented on #77
Thanks for the stack trace (❤️❤️❤️ for using a Flare share), but II cannot reproduced this.

After [this line](https://flareapp.io/share/17DKERPv#F73L13), try to find out what is the contents of the `$configuredClass` and `$actionClass` variables.

[2020-02-23 17:48] philsam opened #85 "unsubscribeUrl placeholder not working"
@freekmurze  I expect to see an actual unsubscribe URL link when I add the placeholder `::unsubscribeUrl::` in my HTML email template
I'm I doing something wrong?

[2020-02-23 17:51] freekmurze commented on #85
The unsubscribe url can only be determined when actually sending out a mail. It is subscriber specific. That’s why it isn’t replaced in the preview.

[2020-02-23 17:51] #85 closed, assigned to nobody

[2020-02-23 18:01] philsam opened #86 "Missing required parameters for [Route: mailcoach.emailLists.subscribers]"
@freekmurze
<img width="1298" alt="Screen Shot 2020-02-23 at 9 58 49 AM" src="https://user-images.githubusercontent.com/8139955/75117094-61084f00-5623-11ea-911b-69cbc2cdfe96.png">

I ran this command `php artisan vendor:publish --provider="Spatie\Mailcoach\MailcoachServiceProvider" --tag="mailcoach-views"`
Copied Directory [/vendor/spatie/laravel-mailcoach/resources/views] To [/resources/views/ven

[2020-02-23 18:07] philsam commented on #86
@freekmurze - I found the issue. its because I deleted the list.

[2020-02-23 18:07] #86 closed, assigned to nobody

[2020-02-24 12:04] goaround commented on #77
After a lot of trial & error I updated my PHP to 7.4.3 and that fixed my issue. 😌

[2020-02-24 12:04] #77 closed, assigned to nobody

[2020-02-24 13:29] vesper8 commented on #5
@sebastiandedeyne @freekmurze  It would be nice if you added the changelog in the online docs

also, I see you released 1.7.x and there is no changelog for this (just updated to 1.7.2)

[2020-02-24 13:30] vesper8 commented on #43
@freekmurze any it's been almost 3 weeks, I'm very excited about this template editor, any update on the ETA?

[2020-02-25 14:09] beberlei opened #87 "Validate APP_URL is not default"
I accidently forgot to set `APP_URL` and the `mailcoach.ngrok.io` default was used. Could this be validated against like the Horizon is not started or SMTP configuration required warnings?

[2020-02-25 14:23] stockhausen opened #88 "[install as package] - fresh install"
Error when installing on laravel 6
[code]

[2020-02-25 14:40] stockhausen commented on #88
I had this same problem on server with php 7.4.2 and removing config cache manually resolved this issue by running this command: rm bootstrap/cache/config.php

[2020-02-25 14:40] #88 closed, assigned to nobody

[2020-02-26 14:22] freekmurze commented on #5
We'll add this soon.

[2020-02-26 14:23] freekmurze commented on #43
I guess we'll release this in the next few weeks.

[2020-02-26 16:40] hughgrigg opened #89 "Can I see the full error message in the outbox?"
I can see that there are errors when trying to send via SES in Mailcoach's Outbox, but as the error messages are truncated I cannot see what they are.

For example, I can see this:

[code]

Is there any way to see the full error message so that I can try to diagnose what the problem is?

[2020-02-26 16:45] hughgrigg commented on #89
I've also looked at these in the `mailcoach_sends.failure_reason` column, and they are also truncated there. Could they not be truncated?

[2020-02-26 20:27] freekmurze commented on #87
Thanks for reporting. I'll improve on this in a future version.

[2020-02-26 20:27] #87 closed, assigned to nobody

[2020-02-27 12:39] hughgrigg opened #90 "SQL SQLSTATE[42883] error on receiving AWS SES SNS webhook"
I'm seeing this error in the logs on receiving a webhook notification from SES via SNS:

[code]

Seems to originate from `SesWebhookCall::isFirstOfThisSesMessage`:

[code]

Specifically the `->` in the column name there.

[2020-02-27 12:39] hughgrigg commented on #90
It looks like this is because Mailcoach actually requires MySQL, and this installation is using Postgres. Could it be made clearer in the docs that MySQL is required?

[2020-02-27 13:04] hughgrigg commented on #90
Looks like it's this issue: https://github.com/laravel/framework/issues/31029

The `webhook_calls.payload` column is created as `text` when it should be `json`. I will see if I can raise a PR for this.

In the mean time, existing tables can be patched with this in PostgreSQL:

[code]

[2020-02-27 13:06] hughgrigg commented on #90
PR to make `webhook_calls.payload` a JSON column instead of text is here https://github.com/spatie/Mailcoach/pull/16

[2020-02-27 18:05] ryancwalsh commented on #28
I figured I'd post what I learned about AWS SES soft bounce events (and the difference between SES "events" and "notifications") in case it helps anyone else.

### What "soft bounce" means in SES

https://github.com/awsdocs/amazon-ses-developer-guide/blob/ec08804/doc-source/sending-concepts-deliverability.md from 2019-09-06 says

Compare to Mailchimp https://mailchimp.com/help/soft-vs-hard-bounces

[2020-02-28 11:11] goaround opened #91 "Update SNS Destination Screenshot"
I followed the documentation for the Amazon SES setup but selected only Reject, Bounce, Complaint als Event types as visible in the screenshot: https://mailcoach.app/images/docs/app/mail-configuration/amazon-ses-sns-destination.png

Would be nice if you could update the screenshot or make it more clear that you have to select Click & Open, too if you would like to use the tracking.

[2020-03-03 16:35] LorenzoSapora opened #92 "Laravel Horizon requires an update"
Laravel upgrade docs require `laravel/horizon` to be version `^4.0`.

Simple change:

composer.json:

[code]

[2020-03-03 17:30] chimalsky opened #93 "Could not find a matching version of package spatie/laravel-mailcoach."
This package is awesome! I love all of Spatie's work and am so empowered by your guys' frilless expertise.

When I attempt to install the mailcoach app then I have no trouble. However, whenever I attempt to require it as a package via composer, I have trouble.

On my desktop, I followed the instructions in the documentation -- adding auth.json to same directory of composer binary -- and I continue

[2020-03-03 20:29] freekmurze opened #94 "Add support for Laravel 7"
We're currently working on adding Laravel 7 support. It takes some time because our UI heavily relied on BladeX and we're converting those views to native Blade Components. We're also adding support for multiple mail configurations

ETA: end of this week, early next week.

[2020-03-03 20:31] freekmurze commented on #93
Thanks for your kind words

What is the output of `php -v` on your CLI? Could you try adding an `auth.json` in the directory of your project?

[2020-03-03 20:32] freekmurze commented on #92
We're currently working on adding Laravel 7 support (see #94). We'll be sure to use Laravel Horizon v4 there.

[2020-03-03 20:32] #92 closed, assigned to nobody

[2020-03-03 20:37] freekmurze commented on #91
Thanks for bringing this to our attention. I've updated the screenshot.

[2020-03-03 20:37] #91 closed, assigned to nobody

[2020-03-03 20:38] freekmurze commented on #90
The PR has been merged.

[2020-03-03 20:38] #90 closed, assigned to nobody

[2020-03-04 10:12] riasvdv commented on #89
I've fixed this in the new release we're working on, hopefully out soon!

[2020-03-05 22:13] vesper8 commented on #94
@freekmurze Will you continue to update the Laravel 6 branch once you push these updates or will we all be forced to upgrade to Laravel 7 in order to receive support past the 1.8.0 version?

[2020-03-05 22:31] chimalsky commented on #93
My PHP CLI version is 7.4.3
[code]

And if I` phpinfo()`from within my app I also get that same version.

Unfortunately I receive the same error message as above, even when I copy `auth.json` into my project directory.

I've tried  `composer require "spatie/laravel-mailcoach:^1.0.0"` both with laravel 7 and 6.18 just to see if it might work with either version but no luck.

It's strange because I

[2020-03-06 00:09] freekmurze commented on #94
We will probably still push bug fixes for the current v1 version for some time.

We highly recommend upgrading to v2 though when it comes out.

[2020-03-10 08:23] freekmurze commented on #93
We didn't get any other reports on this except you. Try running `composer update -vvv`. It might contain a hint why composer can't pull in laravel-mailcoach.

[2020-03-11 00:12] gustavo-2830 opened #95 "Segmenting Lists - Undefined Property"
Hello,

If a campaign is created using a custom segment, the following error appears when trying to access the settings through the front-end:

[code]

Also, the documentation regarding how to create a campaign using segments appears to be outdated:

`->html()` and `->useSegment()` are Undefined.

https://mailcoach.app/docs/v1/package/advanced-usage/segmenting-lists

[2020-03-11 05:22] connecteev opened #96 "Extend "First 24h performance graph" for email tracking"
Hi @freekmurze - I see that one of the features of Mailcoach is to track opens, clicks etc and have a "First 24h performance graph". Is there a reason why this is limited to 24h?
For example, depending on the type of industry / domain, not all your subscribers will be checking their email daily. It would be great if we could extend the tracking horizon (why not make it infinite?)

Thanks for your

[2020-03-11 08:47] freekmurze commented on #96
Thanks for your suggestion.

We have to strike a balance with providing good defaults and allowing configuration options. We decided to only have a 24h graph because that would be ok for most. We'll consider adding a config option for this in the future.

[2020-03-11 08:48] freekmurze commented on #96
Closing now, but will revisit later.

[2020-03-11 08:48] #96 closed, assigned to nobody

[2020-03-11 19:16] connecteev commented on #96
@freekmurze sounds good, thank you for the future consideration.

[2020-03-11 22:05] connecteev opened #97 "Unable to install spatie/laravel-mailcoach-ses-feedback"
I am trying to use mailcoach as a package (not a standalone application).

After going through the steps at https://mailcoach.app/docs/v2/package/general/installation-and-setup
and then running this command:
[code]

In order to configure amazon-ses, I followed the instructions provided here, but encounter the following issue.

From https://mailcoach.app/docs/v2/package/handling-feedback/amazon-ses

[2020-03-12 04:29] david-nguyen commented on #97
try `composer require "spatie/laravel-mailcoach:^2.0.0"` you are downloading the latest ses feedback package which uses the newer mailcoach.

[2020-03-12 04:46] david-nguyen opened #98 "[Enhancement Suggestion] Append UTM query string and double opt in bypass"
Firstly thanks for making this package. I've been using Sendy for a while now but wanted something better integrated with my Laravel app. I had two suggestions I think would be very helpful.

- textbox for a utm query string - this would basically append a utm query string to all links in the email for tracking purposes, really helpful to see how well an email does for e-commerce businesses
- a se

[2020-03-12 08:14] fwartner opened #99 "Cant send emails using sendgrid"
<img width="1792" alt="Bildschirmfoto 2020-03-12 um 09 11 35" src="https://user-images.githubusercontent.com/6692500/76501031-da84a780-6441-11ea-84bf-042ff7299788.png">

Getting this error even if everything is properly configured..

[2020-03-12 10:49] connecteev commented on #97
@david-nguyen this doesnt work with Laavel 6.x, and I tried upgrading to 7.x which didnt work either.

Here's the message I get when I try your command in laravel 6.2:

[code]

[2020-03-12 11:09] LorenzoSapora opened #100 "Unlayer doesn't work on development domains"
When Unlayer is selected as the editor, and I use a .test domain, it hangs.

![image](https://user-images.githubusercontent.com/25519274/76515542-a74a1480-6451-11ea-811d-fe37fd93bc31.png)

Console error
![image](https://user-images.githubusercontent.com/25519274/76515653-d9f40d00-6451-11ea-91c1-6abf518a8d05.png)

[2020-03-12 11:23] riasvdv commented on #100
I'm not seeing the issue on a `.test` domain, some debugging questions:
- Which browser are you using?
- Is there a specific domain you're using?
- Do you have any ad blocking / tracking blocking extensions?

[2020-03-12 11:38] LorenzoSapora commented on #100
Heh, I usually include those, sorry, brain not working today.

- Browser: Firefox (latest), Ubuntu 19.10
- `https://mc.test` (self signed cert)
- Laravel: 7.1.0
- Fresh install from `composer create-project spatie/Mailcoach sandbox/mailcoach`
- Adblocking yes, but not in incognito mode, which this is viewed in.
- No blocks on my pihole

[2020-03-12 11:40] LorenzoSapora commented on #100
Tested on multiple browsers (fresh, no extensions chromium), still repeatable :thinking:

[2020-03-12 12:15] riasvdv commented on #100
So I've tracked down the error, and it seems `document.referrer` is empty, can you verify that by trying to output it in the console?

[2020-03-12 12:19] riasvdv commented on #100
![image](https://user-images.githubusercontent.com/3626559/76520874-087ae380-6464-11ea-937a-025d831d5245.png)

If in `about:config` I set `network.http.sendRefererHeader` to `0` (it's set to `2` here by default), Firefox will stop sending referers, and I get the same error.

Can you make sure your browser sends the referer?

[2020-03-12 12:53] fri3ndly opened #101 "500 error on campaigns/1/opens page"
I am receiving a 500 error when trying to access this URL:

http://mailcoach.yourcountdown.to/campaigns/1/opens
(The clicks/unsubscribes etc work as normal)

PHP version 7.4.3
MariaDB 1:10.2.31+maria~bionic
Laravel: 6.18.1
Mailcoach : 1.8.0

Stack trace:
[code]

[2020-03-12 12:59] LorenzoSapora commented on #100
Still persists. No effect before or after restarting browser. Mine was indeed set to 2, and is now set to 0.

[2020-03-12 13:01] riasvdv commented on #100
You should keep it at 2 then, can you try something else for me?

Open the `views/app.blade.php` and add `<meta name="referrer" content="always">` to the `<head>` in there, and see if it helps

[2020-03-12 13:14] freekmurze commented on #98
Thanks for your suggestions.

- UTM query: You could achieve this by overriding the `PrepareEmailHtmlAction` (take a look at the config file, it's listed there), and in that action search for any links in the HTML and append the value you want. I'll consider adding this to the UI in the future.

- You can by pass double opt-in when you require Mailcoach as a package: https://mailcoach.app/docs/v2/

[2020-03-12 13:14] #98 closed, assigned to nobody

[2020-03-12 13:15] freekmurze commented on #94
v2 has been released.

[2020-03-12 13:15] #94 closed, assigned to nobody

[2020-03-12 13:15] freekmurze commented on #93
Did you get it to work?

[2020-03-12 13:27] freekmurze commented on #99
Could add this line

[code]

to the `registerConfigValues` function of `App\Support\MailConfiguration\Drivers\SendgridConfigurationDriver`

and try again?

[2020-03-12 13:30] freekmurze commented on #97
If you are using v1 of mailcoach you should use v1 of the feedback package as well. I'll add that to the docs.

[code]

So when using aravel-mailcoach v2 you should use v2 of the feedback package.

composer require "spatie/laravel-mailcoach-ses-feedback:^2.0.0"

[2020-03-12 13:30] #97 closed, assigned to nobody

[2020-03-12 13:34] freekmurze commented on #93
Closing now, let know if you still need any help with this.

[2020-03-12 13:34] #93 closed, assigned to nobody

[2020-03-12 13:36] freekmurze commented on #101
I'm thinking this is caused by a subtle difference between MySQL and Maria. If possible try to switch to MySQL. I'll try to recreate and fix this problem soon.

[2020-03-12 13:40] sebastiandedeyne commented on #79
Hey Stefan, sorry, I replied right before I left on vacation and forgot to pick it back up after…

Is this still an issue? It could be that the assets were accidentally gitignored, which would cause them to not be available on the server. Having `vendor` instead of `/vendor` in your repo's `.gitignore` file can cause this.

[2020-03-12 13:43] freekmurze commented on #95
I've updated docs.

Hunting down the bug now...

[2020-03-12 13:45] LorenzoSapora commented on #100
That works, but not for `views/app.blade.php`. I had to publish the mailcoach views, then change `resources/views/vendor/mailcoach/app/layouts/app.blade.php`

[2020-03-12 13:51] freekmurze commented on #95
This has been fixed in `v1.8.1` and `v2.0.1`

Thanks for reporting this.

[2020-03-12 13:51] #95 closed, assigned to nobody

[2020-03-12 13:54] riasvdv commented on #100
Okay, I've tagged a new version (2.0.2) that adds this, should be available in a few minutes, thanks for helping us debug!

[2020-03-12 13:54] #100 closed, assigned to nobody

[2020-03-12 13:59] fwartner commented on #99
Worked! Thank you!

[2020-03-12 14:00] fwartner commented on #99
Now i have the same issue on Transactional..

[2020-03-12 14:01] fwartner commented on #99
`$config->set('mail.mailers.mailcoach-transactional.port', 587);` was fixing the issue.

[2020-03-12 14:01] #99 closed, assigned to nobody

[2020-03-12 14:12] freekmurze commented on #99
My apologies for the hassle, and thanks for reporting this problem.

[2020-03-12 14:13] fwartner commented on #99
No problem :)

[2020-03-12 15:08] abishekrsrikaanth opened #102 "[FEATURE REQUEST] Send a campaign to multiple lists"
Would it be possible to implement the feature to have the campaign be sent to multiple email lists? Currently, we have to duplicate each campaign and attach a separate email list and this creates multiple campaigns and aggregating the stats for them is kind of difficult.

Here is a scenario that we have that we would like this option

We have multiple email list for
- Class signups
- Subscription

[2020-03-12 15:14] abishekrsrikaanth opened #103 "[FEATURE REQUEST] Add feature for Email Sequences"
Would it be possible to add a feature to create Email Sequences?

- When creating an email sequence, they will be attached to a single email list
- Each email sequence will have multiple email templates.
- Each template will be configured to be sent to the email list subscribers on a specific day from the date when they sign up to the email list.

[2020-03-12 15:16] connecteev commented on #103
I assume by email sequences you mean drip campaigns. Really, really want this feature too. I hope this gets built.

[2020-03-12 15:42] freekmurze commented on #103
We discussed this with our team, and we're currently thinking about it. Closing this for now, but know that we're seriously considering it.

[2020-03-12 15:42] #103 closed, assigned to nobody

[2020-03-12 16:50] chimalsky commented on #93
Sorry, I haven't tried since then. I'm not in a rush right now with this so no worries on closing it for now. I'll report back when I do try.

[2020-03-12 19:26] sandervanhooft commented on #8
Has anyone tried this rate limiting approach yet? I'm still on the fence regarding Vapor - if Mailcoach can't run on it Vapor remains a no go.

[2020-03-12 19:30] viemic commented on #8
@sandervanhooft unfortunately no, but maybe I just lack knowledge on how to do this. In the meanwhile I keep using Mailchimp and hope someone smart is able to conquer this obstacle

[2020-03-12 19:36] lahivee commented on #8
I have done a few experiements in my limited time but without success. However, I can't imagine that it is too hard to achieve. Did anyone else have success on Vapor migration?

Same as @viemic I am also using Mailchimp for now

[2020-03-13 12:27] arthurkirkosa commented on #72
I'm having the same issue and I'm running php 7.4.3

[2020-03-13 12:34] freekmurze commented on #72
@arthurkirkosa Do you know for sure? The version of PHP on the CLI might differ from the one handling web requests.

[2020-03-13 12:42] arthurkirkosa commented on #72
Yes. Restarted valet and it works now

[2020-03-13 17:44] freekmurze commented on #102
Currently, this is not possible. What you could do is setting up only one list, and use tags and segments to create the target audience you want to send a campaign to.

[2020-03-13 17:44] #102 closed, assigned to nobody

[2020-03-13 17:51] freekmurze commented on #79
I'm assuming this isn't a problem anymore. Let us know if this should be reopened.

[2020-03-13 17:51] #79 closed, assigned to sebastiandedeyne

[2020-03-14 19:26] smorris1709 opened #104 "Unlayer Editor converting png to jpeg"
Not sure if this is an issue or a config I need to change.

but when I'm uploading images with the unlayer image uploader its converting my transparent background png file to a jpeg which is then not transparent anymore, is there some sort of configuration I can look at to change this default behaviour?

[2020-03-14 21:45] simonhamp opened #105 "Add ability to create segments of untagged contacts"
Segments are currently only really useful when using tags. It's currently not possible to build a segment that represents all of the contacts that have _no_ tags.

My solution for this is the following:

#### Add a new column to `mailcoach_segments`

Something like `no_tags_required`. (I haven't spent much time thinking up the name.)

#### Edit `src/Models/TagSegment.php`

Add a reference to the n

[2020-03-15 21:51] dimzeta opened #106 "[Feature Request] Upload media"
Hello,

Would it be possible to upload medias (images, video, docs...) and integrate them in email (by link and/or by attachment)?
Currently we only can upload images though Unlayer editor, but I'm using Monaco. I'd really appreciate if we could have a "media" section in my campaign, where we can upload any files. Once uploaded, we could get the public link and doing whatever i want with, or direc

[2020-03-17 14:31] timmoh opened #107 "[Feature Request] add more data to subscribers"
It would be very helpful for building the segments if it's possibile to extend the subscribers data. Especially for using mailcoach in shops adding more data to subscribers like city, address, ecommerce data and so one would be very nice / necessary

[2020-03-17 14:31] AlexisSerneels opened #108 "Text Version shows markdown"
The text version is a simple markdown conversion of the HTML.

Which means it shows links and images like `![Alt Text](https://longURL.com "Alt text") `
The plain version should remove images and links reference IMO. Just its content.

Cheers,

[2020-03-17 14:32] AlexisSerneels commented on #108
The plain version is also often used for iOS notification content. A email using an image header has the markdown image code shown as first text in the notification...

[2020-03-17 17:45] satoved commented on #107
I think you already can do it by importing CSV file with additional field. They'll be stored under mailcoach_subscribers.extra_attributes

I guess, additional logic on how to use them is up to you.

[2020-03-17 17:53] freekmurze commented on #107
Thanks for answering this one @satoved

[2020-03-17 17:53] #107 closed, assigned to nobody

[2020-03-17 17:54] satoved opened #109 "Cannot import subscribers"
I'm trying to import subscribers from a CSV file.

Default disk for media is s3.

The job fails with message:
Box\Spout\Common\Exception\IOException: Could not open 725/list1.csv for reading! File does not exist. in /home/forge/annuitiesgenius.com/vendor/box/spout/src/Spout/Reader/ReaderAbstract.php:118

![image](https://user-images.githubusercontent.com/14319239/76886368-6145e400-6889-11ea-9cf9-4

[2020-03-17 17:59] satoved commented on #109
Can file path be used with s3 at all?

I also cannot change the disk for this SubscriberImport model:

![image](https://user-images.githubusercontent.com/14319239/76886692-d31e2d80-6889-11ea-937a-702b79d0e7f5.png)

[2020-03-17 18:06] satoved commented on #109
Is there an option like the one for Unlayer, but for inner mailcoach uploads?

[code]

[2020-03-17 20:07] freekmurze commented on #109
Importing from S3 is not supported.  How did you start the import? Did you use the UI we provided?

I don't know what you mean with that.

[2020-03-17 20:09] freekmurze commented on #108
I'll consider changing this behaviour in a future version.

Right now, you can change the default implementation for this by specific an action of your own in the `actions.convert_html_to_text` key in of the `mailcoach.php` config file.

[2020-03-17 20:09] #108 closed, assigned to nobody

[2020-03-17 20:11] freekmurze commented on #106
Currently we have no plans to add this, but I'll consider this for a future major version.

Technically, you could already create a screen yourself that allows you to upload a file and display a URL to that file. Granted, it would be nice if the package would do this out of the box.

[2020-03-17 20:11] #106 closed, assigned to nobody

[2020-03-17 20:12] freekmurze commented on #105
I like the idea, but changing something on the migrations is a breaking change.

I'll revisit this when creating a new major version of the package.

[2020-03-17 20:12] #105 closed, assigned to nobody

[2020-03-17 20:14] simonhamp commented on #105
Interesting. I only saw it as additive. How does a migration break backwards compatibility?

[2020-03-17 20:42] freekmurze commented on #105
People that already have the package installed do not have that extra db field. If that db field is used in the code it breaks their apps.

[2020-03-17 21:35] satoved commented on #109
Yes, I used the UI.

Here's my config/media-library.php

![image](https://user-images.githubusercontent.com/14319239/76903995-bb55a200-68a7-11ea-93c4-1e5ae3cb1d7b.png)

S3 is the default filesystem.

And as far as I can see, the media of SubscriberImport will be loaded to the default filesystem with no option to change it.

P.S. I'm using Mailcoach as a package in a project.

[2020-03-18 07:42] riasvdv commented on #104
I've fixed this in the Unlayer package 1.0.1, this should be fixed after running `composer update`

[2020-03-18 07:42] #104 closed, assigned to riasvdv

[2020-03-18 10:35] satoved commented on #107
It also turned out you can then use ::subscriber.extra_attributes.city:: in the template.

[2020-03-18 17:10] raulp commented on #101
That's because of the default sql_mode for your mysql install. You can remove ONLY_FULL_GROUP_BY, but i think @freekmurze should look into how to rewrite the queries to work with ONLY_FULL_GROUP_BY. I'm going to start installing this today and maybe i can provide some help once i get to that part.

[2020-03-18 19:27] etenzy commented on #101
The Query is:
[code]

Since it’s not correct to select a column that is not part of the grouping, you could rewrite the query without those columns. But then you would need 2 more queries for selecting subscriber_email and first_opened_at.

A "better" (more compatible) solution would be to adjust the configuration of the mariadb-server:

[code]

OR

[code]

[2020-03-18 19:29] raulp commented on #101
That is totally not "better", you can read more about ONLY_FULL_GROUP_BY and why it's the default. Without it, your queries can return inconsistent data. The solution for this is indeed to rewrite the queries, even if you have to do 1-2 extra queries. But i agree, temporary, disable ONLY_FULL_GROUP_BY until a fix is in place.

[2020-03-18 19:32] freekmurze commented on #101
Hi @raulp,

I would appreciate some help here. If you don't find the time, we'll be sure to address this problem in the coming weeks.

[2020-03-18 19:36] raulp commented on #101
hey @freekmurze, i just installed this on my local computer.

Let me find the code and get a hold of the code and i'll try to see if i can fix that query.
Where should i make that PR? Or how should i get back to you the changes?

Also, i wanted to ask you how to submit PR's about some changes or expanding this? Ex: i love how you have 2 different mail settings, but why not allow each campaign to s

[2020-03-18 19:38] arthurkirkosa opened #110 "webhook_calls table"
Do we need old entries in the table? Can we delete them?

[2020-03-18 20:39] freekmurze commented on #110
Yes, you can delete old rows there.

[2020-03-18 20:45] freekmurze commented on #101
Currently we can't invite people to the repo without having to pay GitHub. It think it's best if you clone the repo, make the necessary changes, and create a diff file (an IDE like PhpStorm can do that), and mail me that file.

When creating something like Mailcoach, it's a balancing act to keeping the code simple and adding features. We have to decided which features are applicable for the majori

[2020-03-18 21:42] arthurkirkosa commented on #110
Is there a plan to add this as a console command in the package?

[2020-03-18 22:01] freekmurze commented on #110
I'll look into this soon.

[2020-03-18 22:43] farshidwork opened #111 "x-context causing 500 error"
PHP version 7.4.3
Laravel: 6.18
Mailcoach : 1.8.0

I am getting the following error from the View which is caused by the `<x-context>` tag
`<x-context :queryString="$queryString" attribute="status">`

syntax error, unexpected '<', expecting elseif (T_ELSEIF) or else (T_ELSE) or endif (T_ENDIF) (View: /............./vendor/spatie/laravel-mailcoach/resources/views/app/campaigns/index.blade.php)

[2020-03-19 01:20] etenzy opened #112 "[Feature Request] add personalized webview"
A personalized webview would improve the users satisfaction.

In case of adoption: Some POC-Code is working on my environment and could be provided.

[2020-03-19 08:17] freekmurze commented on #112
We'll take it in consideration when creating a new major version.

[2020-03-19 08:17] #112 closed, assigned to nobody

[2020-03-19 08:22] freekmurze commented on #111
Could you try clearing your view cache: `php artisan view:clear`.

Could you also check if your web requests are served using PHP 7.4
Instructions: https://freek.dev/php-version

[2020-03-19 17:32] farshidwork commented on #111
@freekmurze
I did a clean install a few times and also been clearing cached views and configs. Unfortunately no luck.
If I remove that tag the view shows up just fine.
Also did phpinfo() on the page and shows PHP 7.4.3.

[2020-03-19 19:49] satoved commented on #109
@freekmurze do I need to provide more details?

Currently as a workaround I find Media record for SubscriberImport (importFile collection) in database, change `disk` to 'local', and then upload the file manually to storage/app where it should be.

Then I rerun failed job, and it's going ok.

Maybe something like this on SubscriberImport can solve the problem:

![image](https://user-images.githubus

[2020-03-20 12:12] freekmurze commented on #101
This problem is solved in v2.0.4 (thanks for the fix @raulp)

[2020-03-20 12:12] #101 closed, assigned to nobody

[2020-03-22 05:11] raulp opened #113 "Performance and bulk sending"
Hey @freekmurze

I finally started to play with this more over the weekend. So far all i can say is that i love it.

I watched all your videos and read all docs. Everything looks clear. Good job on that!

I have one hard question regarding the sendout process: why was the decision made to create a job for each recipient when most of these providers out there allow you to send 1 API call with 1 bod

[2020-03-22 05:17] raulp commented on #105
@freekmurze i kind of like the idea of making segments a bit more flexible as well.
I can see other cases too, like:

1. users with no tags
2. segment based on custom attributes
3. any other query based segment

From the docs, i can see i can create my own segment based on a query or the subscription itself, so i guess we could make a table where we can store all these segments? And maybe make a m

[2020-03-22 13:46] ryancwalsh commented on #113
Good point!

[2020-03-22 15:09] vesper8 commented on #5
@freekmurze still wishing there was a public changelog accessible in the docs section of mailcoach.app

having to do a composer update and get the changelog from the vendor folder is not at all convenient

[2020-03-22 17:30] freekmurze commented on #5
The chanelog can also be read here: https://mailcoach.app/roadmap

[2020-03-22 20:52] RicardoRamirezR opened #114 "InvalidArgumentException ConfirmSubscriberController not defined when routes are cached"
Laravel: 7.2.2
Mailcoach: 2.0.4

![Captura de Pantalla 2020-03-22 a la(s) 3 43 05 p  m](https://user-images.githubusercontent.com/6526545/77260191-80ab8b00-6c54-11ea-872a-333c4edccea4.png)

Hi there,

If `php artisan route:cache` is used the `InvalidArgumentException` is generated.

If you run `php artisan route:clear` it does not generate any error.

[2020-03-23 08:00] freekmurze commented on #113
Thanks, glad you like it!

We wanted to make the code very simple and easy to restart should there be any problems while sending. If you have an API and you sent your mail to multiple recipients, and that call fails, it could be hard to determine which mails have been sent, and which not.

Not only do we have a job per mail sent, there's also a row in the db `campaign_sends` for each mail that has

[2020-03-23 08:00] #113 closed, assigned to nobody

[2020-03-23 09:45] riasvdv commented on #114
This should be fixed in laravel-mailcoach 2.1.1

[2020-03-23 09:45] #114 closed, assigned to riasvdv

[2020-03-23 13:21] ryancwalsh commented on #113
@freekmurze I appreciate all the thought you have put into this!

[2020-03-23 15:29] RicardoRamirezR opened #115 "ConfirmSubscriberMail is queued in the default queue not in 'send-mail' queue"
Hi there,

When sending a Confirm mail it goes to `default` queue instead of `send-mail` queue.

Adding these code
![Captura de Pantalla 2020-03-23 a la(s) 10 24 57 a  m](https://user-images.githubusercontent.com/6526545/77333082-eb120900-6cf0-11ea-8e4b-5d75f44b66ba.png)
sets the correct queue

[2020-03-23 15:54] RicardoRamirezR commented on #115
Same for Welcome mail

![Captura de Pantalla 2020-03-23 a la(s) 10 52 59 a  m](https://user-images.githubusercontent.com/6526545/77335691-8193f980-6cf4-11ea-836b-22c0e123c04d.png)

So, I think there is an issue from my side

[2020-03-23 16:57] RicardoRamirezR opened #116 "getLatestVersionInfo on Version.php returns a non updated value"
[code]
and `getCurrentVersion` return `2.1.1`

[2020-03-23 16:59] freekmurze commented on #116
These values are highly cached, so you might see some old values. Best to check again in a while.

[2020-03-23 16:59] #116 closed, assigned to nobody

[2020-03-23 16:59] RicardoRamirezR commented on #116
May be cache related?

[2020-03-23 18:10] shatterproof opened #117 "SendMailJobs all failed, still received campaign confirmation"
**PHP:** 7.4.3
**Laravel:** 7.2.2
**Mailcoach:** 2.0.4

Tried to send a scheduled email campaign that initially appeared successful (even received the campaign email confirmation it was sent), but all the SendMailJobs failed several times which caused none of the emails to actually be sent out. My last campaign went out March 19 with no issue, so I'm not sure what could have changed since then bes

[2020-03-23 18:22] freekmurze commented on #117
Thanks for reporting.

In the outbox of a sent campaign, you would have seen the failed mails and also a button dispatch jobs to send them.

But indeed, the confirmation mail (and the campaign index screen) should have a warning when there were emails didn't get send correctly.

[2020-03-24 07:19] freekmurze commented on #115
The `send-mail` queue is only meant for campaign mails. I'll rename it in a next major release. Using it to send transactional mails might not be the best idea because when sending a campaign, that queue will contain a lot of jobs, and transactional mails may go out with a long delay.

I think the way to go now if you want to put to confirmation mail on another queue, would be to customise the `Se

[2020-03-24 07:19] #115 closed, assigned to nobody

[2020-03-25 17:57] RicardoRamirezR opened #118 "The list settings are cached; but it is not persisted."
Mailcoah: 2.1.1
Laravel: 7.3.0

When the list is created all goes smooth. Then I've tried to change, for example, the list name. It shows the change in the UI but the change is not persisted.

I dig in the code and have no clue of the solution, but if I do a `dd($request->all());` just at the beginning of the `EmailListSettingsController@update` it does not goes through it.

If I do:
![Captura de

[2020-03-25 18:29] satoved commented on #109
Another issue is that all jobs except ImportSubscribersJob has $queue set in __construct() of the job class. ImportSubscribersJob goes to the 'default' queue.

[2020-03-25 20:12] freekmurze commented on #109
In the latest release I've added a config option `import_subscribers_disk` which can be used to set the disk used for importing subscribers. You can view the latest version of the config file on this page: https://mailcoach.app/docs/v2/package/general/installation-and-setup

Also, in the latest version, the queue for the `ImportSubscribersJob` can be set in the config file.

Let me know if these o

[2020-03-25 20:14] freekmurze commented on #117
We'll take care of this next week.

[2020-03-25 20:17] shatterproof commented on #117
Awesome, love the package and all the great work you guys do. Thank you!

[2020-03-25 20:28] freekmurze commented on #118
We don't do any caching there, so that's not it.

I've just did a test on a few installations and it seems to be working fine. We also didn't get other reports of this problem. This makes me think that the problem is caused by something specific by your app. Are you using Mailcoach as a package?

Maybe it's validation failing, are you sure that all fields that you enter are valid?

[2020-03-25 21:01] RicardoRamirezR commented on #118
@freekmurze I'm using as a package. I create a new Laravel 7 app then install the package and follow the docs.

I'll check if some validation is failing, but I do not have any validation errors.

[2020-03-25 21:12] RicardoRamirezR commented on #118
@freekmurze yep, it was a validation error.

The validation error message is very small. It wouldn't be nice to show an alert?

The message is present in *Welcome mail* section, I set `Send customized welcome mail` and write only the subject.

If I set the subject but not the body Mailcoach will send the default welcome mail but with a personalized subject, which is that I want. I published the vi

[2020-03-25 21:25] RicardoRamirezR opened #119 "Webview and placeholders"
When using placeholders they are replaced well on the mail sent to a subscriber.

In Webview the are shown as they are. How to hide some content if it is in a Webview?

[2020-03-26 09:15] freekmurze commented on #118
We'll improve on this soon, probably by scrolling to the first error. @willemvb could you take a look at that?

I'm afraid I don't follow what you want to do with the welcome and/or confirmation mail. If the current options don't offer enough flexibly, you can create your own mailables and use those to send welcome and confirmation mails.

[2020-03-26 09:16] freekmurze commented on #119
To customise the web view, you can extend the `PrepareWebviewHtmlAction` class and specify your class in the `prepare_webview_html` key of the config file.

[2020-03-26 09:16] #119 closed, assigned to nobody

[2020-03-26 09:17] freekmurze commented on #111
I cannot reproduce this. Could you post the entire stracktrace and a the contents of the compiled view file?

[2020-03-26 14:15] RicardoRamirezR commented on #118
@freekmurze thanks!

When Send customized mail there are choices to send a default or customized mails.
* Default sends subject/body in English
* Customized you define subject *and* body

What I did in the database was:
* Set customized and set the subject

I publish the views and localize them.

The mails are sent with the custom subject and the localized body.

What I mean is that would be nice

[2020-03-27 07:54] goaround opened #120 "Huge Feedback Backlog"
Hi,

I send a daily newsletter to around 40.000 subscribers. I really love Mailcoach because I can assemble my newsletter as I want to. Before my switch to Mailcoach I used MailChimp and run an RSS campaign there. It was only possible to get the content from one RSS feed and no way to sort or personalize the content.

But with Mailcoach I run into a few problems:

1. I have an AWS SES sending rate

[2020-03-27 08:10] looxis-renaud opened #121 "[Feature Request] Duplicate Template"
To create and edit Templates, we use _Unlayer_
For different services/projects within our company, we're using different Logos, Links to those projects and texts.
Thus we require different email templates - it would be great if we could just duplicate an existing template (and then adjust and tweak what's different).
This feature would greatly reduce workload.

We're currently doing this with a **

[2020-03-27 08:31] looxis-renaud opened #122 "[Feature Request] use Templates and Unlayer Editor in List > Settings > Welcome Email"
It would be great if we could use the Unlayer Editor and existing Templates
for Transactional Mails (_Welcome Email_ and _Confirmation Mail_)
that can be found in `List > Settings`
when using the option _send customised mail_

[2020-03-27 11:08] freekmurze commented on #120
Thanks for your detailed report.

That's strange. I would expect that the sending itself should stay fast because there's not a lot of DB activity in that job.

That's indeed quite long. What we could improve here, is to delete the webhook call if it was processed successfully. I'll look into this soon.

With the `minProcesses` option, you can configure Horizon to always have a number of workers r

[2020-03-27 11:22] freekmurze commented on #122
This probably won't be added in the short term, as it would require quite some work and not many people need this.

I suggest that you somehow generate the html needed and copy that in the welcome/confirmation mail fields.

[2020-03-27 11:22] #122 closed, assigned to nobody

[2020-03-27 11:22] freekmurze commented on #121
We'll consider adding this soon.

[2020-03-27 11:56] goaround commented on #120
I've deleted a lot of old data from the `webhook_calls` table. Seems to bring down the processing time down. Now 1.4 seconds.

![Bildschirmfoto 2020-03-27 um 12 55 28](https://user-images.githubusercontent.com/5927337/77753762-64c83080-702a-11ea-9ff5-ae305d26528a.png)

I will try it but I think its per supervisor. Not per Queue? I think it would be better to separate the mailcoach queues into sepa

[2020-03-27 15:46] krizzdev opened #123 "HTML is not valid for multiple href query string parameters in href links (For campaign editor)"
We have problems to add href links with multiple query string parameters.

Steps to reproduce:
Edit the email content of a campaign with the editor of your choice. (In our case monaco or Unlayer)

Add a link to a text or button with multiple Query String parameters:

`<a href="https://example.com?foo=bar&bar=foo">Test</a>`

And hit Save Content.

It will throw a The HTML is not valid (DOMDocument:

[2020-03-28 00:01] raulp commented on #120
@goaround yes you can create separate supervisors per queue.

It seems to me very weird that the webhook processor takes so long for you. Almost seems like your DB is slow for some reason or something else is going on.

I've checked the SES webhook processor and i see a few queries. First, i see it's doing a webhook call db request by ID (should be very fast)
Next, a request on the Send model by t

[2020-03-28 00:09] raulp commented on #123
@ChrisSFR in all my projects where i used DOMDocument for HTML i used:

[code]

I'll start some research to see exactly if they are safe or not, but i never had issues before, and i did lots of XPath related queries and so on on HTML.

But, also, in my cases, i do `htmlentities()` om the value before i load it (which will fix the error too). And i do `html_entity_decode()` when i call `$dom->saveH

[2020-03-28 15:57] RicardoRamirezR opened #124 "Email list sort by subscribers tags count fails"
Hi there,

I'm trying to sort tags by count, I got:

![Captura de Pantalla 2020-03-28 a la(s) 10 45 18 a  m](https://user-images.githubusercontent.com/6526545/77827276-9dc3dc00-70e2-11ea-88f0-b949c5dcf76b.png)

If that were possible you can have a visual of the mayor subscribers per tag

[2020-03-28 16:46] RicardoRamirezR opened #125 "ImportSubscribersJob fails importing 40k subscribers"
Hi there

I'm trying to import 40k subscribers, the job filed and UI does not reflect that also.

Do I need to change some config to allow tho import such a huge list?

Images references are below.

![Captura de Pantalla 2020-03-28 a la(s) 11 38 37 a  m](https://user-images.githubusercontent.com/6526545/77828428-5ab93700-70e9-11ea-94c4-0a1c8e2eb281.png)
![Captura de Pantalla 2020-03-28 a la(s) 11

[2020-03-28 17:44] goaround commented on #125
You have to raise the timeout for the mailcaoch queue in config/horizon.php. How many subscriber have been imported?

[2020-03-28 17:48] goaround commented on #120
The size of the `webhook_calls` table has grown to 2.6 gb. I think that has been the problem. I will setup a cron job for deleting old rows.

I manage my Mailcoach server with Laravel Forge.

[2020-03-28 17:50] RicardoRamirezR commented on #125
Thanks @goaround about 27k

[2020-03-28 17:57] goaround commented on #125
Than raise the timeout to 1200 seconds = 20 minutes and the import should be completed.

I run into the same issue. @freekmurze I think it would be better to chunk an import job into 1.000 subscribers. That should solve the issue.

[2020-03-29 10:00] timmoh opened #126 "Push to spatie/laravel-mailcoach"
Is there a possibilty to push some commits to spatie/laravel-mailcoach?

[2020-03-29 10:49] timmoh opened #127 "[Feature Request] Duplicate Segments"
Create a Duplicate of a Segment

[2020-03-29 12:40] jorenvh opened #128 "[Suggestion] Include campaign name in delete popup"
Currently when deleting a campaign a confirmation popup is shown, but it would even be better if the confirmation message would include the name of the campaign that is going to be removed.

[2020-03-29 13:26] krizzdev commented on #123
thanks @raulp for the response. But it's not in my own code, it's in the HtmlRule.php of spatie.
I reposted the issue now directly in spatie/mailcoach :)

[2020-03-30 05:19] arthurkirkosa opened #129 "Spatie\Mailcoach\Jobs\ImportSubscribersJob fails with S3 disk"
`'import_subscribers_disk' => env('MAILCOACH_UPLOAD_DISK', 'mailcoach-s3'),`
Using an S3 disk fails the import job

`Box\Spout\Common\Exception\IOException: Could not open 11/customers.csv for reading! File does not exist. in /var/www/deliciisanatoase.ro/vendor/box/spout/src/Spout/Reader/ReaderAbstract.php:118`

[2020-03-30 07:03] freekmurze commented on #129
Currently, the must set to `import_subscribers_disk` to a disk that uses the `local` driver. I'll add this to the comment of the config file

[2020-03-30 07:03] #129 closed, assigned to nobody

[2020-03-30 07:10] arthurkirkosa commented on #129
Can you update the ticket when this changes?

Or is there a way to subscribe to the change-log changes?

[2020-03-30 07:19] freekmurze commented on #129
You can view the changelog here. https://mailcoach.app/roadmap

[2020-03-30 07:20] freekmurze commented on #123
Closing this here. We'll continue the conversation on spatie/mailcoach.

[2020-03-30 07:20] #123 closed, assigned to nobody

[2020-03-30 07:20] arthurkirkosa commented on #129
Already doing this. Thanks

[2020-03-30 07:26] freekmurze commented on #128
Good idea.

@sebastiandedeyne Right now, that text is hardcoded in the `x-modal` in the `layouts/app.blade.php`  It is triggered by the  `data-confirm` on the `x-form-button` in the `row.blade.php`.

If it doesn't take too much time, could you add a way to pass a string with the confirmation message?

[2020-03-30 08:03] freekmurze commented on #127
Thank you for your suggestion.

I've added this in `v2.4.0`

[2020-03-30 08:03] #127 closed, assigned to nobody

[2020-03-30 08:03] freekmurze commented on #121
You can duplicate templates in the newly released `v2.3.0`.

[2020-03-30 08:03] #121 closed, assigned to nobody

[2020-03-30 08:05] freekmurze commented on #126
Unfortunately not. GitHub does not allow us to make repo accessible for our licensees in a cost effective way.

For now, the easiest way to give us code changes is to create a patch file. Most IDEs allow to do this.

Feel free to open up a new issue that includes a patch file and a description of what it does, make sure to update the tests as well.

[2020-03-30 08:05] #126 closed, assigned to nobody

[2020-03-30 09:33] freekmurze commented on #125
@goaround right now, we already use generators to process each row individually so memory usage is low, even for big files. Do you have a specific code change in mind?

[2020-03-30 09:36] freekmurze commented on #125
@RicardoRamirezR In the installation instructions I've updated the default timeout values of the queues to an hour. I think that your import problem will be solved when setting your timeouts to higher values too.

https://mailcoach.app/docs/v2/package/general/installation-and-setup#install-horizon

[2020-03-30 09:36] #125 closed, assigned to nobody

[2020-03-30 10:05] goaround commented on #125
It the timeout is large enough, the import runs smooth but it can take quite long for a large list of subscribers. I would at suggest a warning if you try to import more than 10.000 subscribers and the timeout is quite low.

[2020-03-30 10:13] freekmurze commented on #125
Holding off to adding a such a message. I've updated the default timeout to an hour, I think this should be sufficient for 99% of cases.

[2020-03-30 10:14] freekmurze commented on #111
Closing due to inactivity.

[2020-03-30 10:14] #111 closed, assigned to nobody

[2020-03-30 10:15] freekmurze commented on #109
Closing this as using a local disk will probably solve this.

[2020-03-30 10:15] #109 closed, assigned to nobody

[2020-03-30 17:46] timmoh opened #130 "[Feature Request] ongoing/recurring campaign"
Is there a possiblity (beside the welcome mail) to have a campaign which is ongoing and not finished after it is sent to actual list.

For example an onboarding mail where you get x days after subscribed to the list an email with instructions how to use the product and after another x days the second mail how to do more exiting things with it.
In the actual setup I can only send the mails to the e

[2020-03-31 07:17] freekmurze commented on #130
What you are describing are drip campaigns. We are currently discussing whether we should add support for it, but it might take a while, at the earliest at the end of Summer.

[2020-03-31 07:17] #130 closed, assigned to nobody

[2020-03-31 10:57] timmoh opened #131 "[Feature Request] Translation (frontend/backend/mails)"
Add translation to mailcoach

[translation_mails.patch.zip](https://github.com/spatie/mailcoach-support/files/4408548/translation_mails.patch.zip)
[translation_landingPage.patch.zip](https://github.com/spatie/mailcoach-support/files/4408550/translation_landingPage.patch.zip)

Or would you prefer shortkeys?

update:
[translate_app_templates.patch.zip](https://github.com/spatie/mailcoach-support/fil

[2020-04-01 08:57] #128 closed, assigned to sebastiandedeyne

[2020-04-01 10:23] AlexVanderbist commented on #120
Hi, I'm currently looking into this and this is what we'll be tracking internally:

- Scheduled cleanup for processed webhooks in the `webhook_calls` table
- Change default queue config for standalone Mailcoach install (priority for sending over processing feedback)
- Document splitting jobs over multiple queues for the Mailcoach package
- Events should be timestamped based on when they are receiv

[2020-04-01 10:34] goaround commented on #120
@AlexVanderbist sounds great! Since regular deleting old `webhook_calls` and separate the feedback / sending queues everything works smooth again.

Runtime for processing SES feedback is now down to 0.35 seconds and stable.

[2020-04-01 12:07] freekmurze commented on #120
I'm going to close this issue for now.

[2020-04-01 12:07] #120 closed, assigned to AlexVanderbist

[2020-04-01 15:00] freekmurze commented on #110
Will be handled by @AlexVanderbist who is solving performance issues atm.

[2020-04-01 15:00] #110 closed, assigned to nobody

[2020-04-01 19:55] robindirksen1 opened #132 "Invalid route action [...DuplicateSegmentController]."
When I try to install the latest version (2.4.1), I get this issue:

[code]

Can be fixed by changing this:
[code]

to

[code]

 in `mailcoach-ui.php`

[2020-04-01 21:09] jbraband opened #133 "Using a custom mailable results in CouldNotSendCampaign::noContent exception"
From the documentation regarding custom Mailable classes:
[code]

The Campaign::useMailable() method sets the campaign property 'mailable_class'

After executing $campaign->send(), the ensureSendable method checks for the property 'mailable'. I believe this should be checking 'mailable_class'

I have v2.4.1 pulled and the proposed change is in this file: spatie\laravel-mailcoach\src\Models\Campaig

[2020-04-01 21:19] RicardoRamirezR commented on #133
@jbraband change and to are identical

[2020-04-01 21:28] jbraband commented on #133
Thanks! I updated the first post

[2020-04-01 21:29] jbraband commented on #133
It also appears to be not injecting the custom Mailable even with the above change.

DOMDocument::loadHTML() is being passed an empty string in PrepareEmailHtmlAction.php

I am digging into this now.

[2020-04-01 21:52] jbraband commented on #133
this is not a working solution, but the Campaign model needs to have its html set at some point when using a custom Mailable.

put this just before the return of Campaign::useMailable() does the trick.

`
        $this->content($this->getMailable()->setCampaign($this)->render());
`

I'm not convinced this is the correct place for it though.

Is anyone successfully using a custom Mailable or have i

[2020-04-02 09:31] freekmurze commented on #132
Thanks for reporting this. A new release that includes this fix has been tagged.

[2020-04-02 09:31] #132 closed, assigned to nobody

[2020-04-02 09:42] freekmurze commented on #117
This has been fixed by @riasvdv in the newly tagged `v2.4.3`

[2020-04-02 09:42] #117 closed, assigned to riasvdv

[2020-04-02 09:43] freekmurze commented on #131
We have decided not to add translations for now. Not too many people are asking for localisation options atm, and we'd like to keep the code base as simple as possible.

We might change our stance on this in the future.

[2020-04-02 09:43] #131 closed, assigned to nobody

[2020-04-02 10:59] timmoh opened #134 "[Feature Request] load template on campaign edit"
It would be a good improvement if i could load my preconfigured templates into a campaing. not just inital config of a campaign to overwrite the actual template.

Perhaps in the content-edit view besides the "Preview" button

[2020-04-02 11:08] riasvdv commented on #124
Fixed in 2.4.4!

[2020-04-02 11:08] #124 closed, assigned to riasvdv

[2020-04-02 15:32] nsouto opened #135 "SNS Confirmation"
Hello,

Using 1-click on DO and I’m running into this:

production.ERROR: "Message" is required to verify the SNS Message. {"exception":"[object] (InvalidArgumentException(code: 0): \"Message\" is required to verify the SNS Message. at /var/www/html/vendor/aws/aws-php-sns-message-validator/src/Message.php:150)

When attempting to confirm the SNS subscription to get the data from Amazon.

Thanks

[2020-04-02 16:00] freekmurze commented on #134
I think most people are happy with initially selecting a template when creating a campaign. I'm going to leave it like it is for now, but we might change our stance when more people should ask for this.

[2020-04-02 16:00] #134 closed, assigned to nobody

[2020-04-02 17:59] timmoh opened #136 "special char "&" cannot be used in content editor"
special char "&" cannot be used in content editor.
Not in links not in normal text

perhaps this would help:
https://www.php.net/manual/en/function.libxml-use-internal-errors.php
https://stackoverflow.com/questions/1685277/warning-domdocumentloadhtml-htmlparseentityref-expecting-in-entity/10482622#10482622

[2020-04-02 22:18] rafahernandez opened #137 "Can merge tags be used in subject?"
Tried to use `::subscriber.first_name::` in the subject but it's not being replaced. Another user told me it was possible, but I just can't seem to be able to use them.

Running on standalone, with unlayer as editor.

[2020-04-02 23:13] nsouto opened #138 "1-Click Install script error"
Hello,

When using the 1-click install and creating a new user at this stage:

Name: Nuno Souto
/var/opt/mailcoach/setup.sh: line 90: [: too many arguments

Seems to work when the name doesn't contain spaces.

Doesn't seem to break anything though, but not sure how the user is created yet.

Also on this same topic if there is a problem with the composer part we get the following:

Setting composer

[2020-04-03 03:03] nsouto commented on #131
Hope you change your mind, I really need translations as currently I have to send both languages in the same email or find a way to flag users for one or another language.

[2020-04-03 06:42] riasvdv commented on #135
@nsouto did you enable `raw message delivery` in your AWS settings? This should be **disabled**

[2020-04-03 07:12] riasvdv commented on #136
Should be fixed in 2.4.5!

[2020-04-03 09:09] timmoh commented on #136
@riasvdv thx for quick fix - saving works now. but the same fix should be in PrepareEmailHtmlAction.php
Sending doesn't work anymore

by the way: if the use a link like https://test.test/?foo1=bar&foo=bar the query get's deleted. For tracking with google and other tools it would be better if it stays

[2020-04-03 09:42] riasvdv commented on #136
This should be fixed in 2.4.6, I thought sending used the same validation.

I've tested sending now with the editor, and all query params are intact when sending

![image](https://user-images.githubusercontent.com/3626559/78346989-18d43900-75a0-11ea-9b99-257f9ff2fdfc.png)

[2020-04-03 13:39] timmoh commented on #136
works fine, can be closed

[2020-04-03 14:20] nsouto commented on #135
Hey @riasvdv I don't have the raw message delivery enabled, I remember seeing that and not enabling it as per the SES docs of Mailcoach but I just confirmed and it's off, which is the default anyway.

[2020-04-03 14:29] #136 closed, assigned to riasvdv

[2020-04-03 14:30] riasvdv commented on #135
Hmm that's weird, can't find any reason why SNS would send a wrong message.

Can you look into your `webhook_calls` table in the database and copy the payload of what is sent here?

[2020-04-03 14:37] nsouto commented on #135
That table is empty, and here is the full stack trace:

[2020-04-03 14:36:16] production.ERROR: "Message" is required to verify the SNS Message. {"exception":"[object] (InvalidArgumentException(code: 0): \"Message\" is required to verify the SNS Message. at /var/www/html/vendor/aws/aws-php-sns-message-validator/src/Message.php:150)
[stacktrace]
#0 /var/www/html/vendor/aws/aws-php-sns-message-valid

[2020-04-03 14:38] nsouto commented on #135
On a side note I did try this on two different installs with the same result.

[2020-04-03 14:41] nsouto commented on #135
I put in some debug logging and this is what is found on the validateRequiredKeys function:

[2020-04-03 14:41:10] production.ERROR: array (
  '/ses-feedback' => NULL,
)
[2020-04-03 14:41:10] production.ERROR: array (
  0 => 'Message',
  1 => 'MessageId',
  2 => 'Timestamp',
  3 => 'TopicArn',
  4 => 'Type',
  5 => 'Signature',
  6 =>
  array (
    0 => 'SigningCertURL',
    1 => 'SigningCertUrl',

[2020-04-03 14:48] nsouto commented on #135
Let me know if there is anything else I can do on my end to help debug this.

Seems AWS is not sending anything or it's being stripped somewhere else maybe?

I tried looking at the request() but its contents are the same as the $data var, so I'm guessing that var is set to the request() content at some point.

[2020-04-03 15:17] timmoh opened #139 "[Feature] content on sent campaigns"
If you want to look back to an old campaign it's hard to remember about the content which you've written and sent month before. therefore the content route should also be in the sent Campaign.

[add_Content_Preview_for_sent_Campaigns.patch.zip](https://github.com/spatie/mailcoach-support/files/4428210/add_Content_Preview_for_sent_Campaigns.patch.zip)

[2020-04-03 15:28] riasvdv commented on #135
Could you try logging `file_get_contents('php://input')` inside `SesSignatureValidator` inside the `isValid` function? Then we know exactly what SNS is passing in.

Could you also try recreating the topic? I've read that in some cases that also fixes it

[2020-04-03 15:29] jbraband commented on #133
Thanks @freekmurze! Please let me know if there is anything I can help with or test out for you.

[2020-04-03 15:35] nsouto commented on #135
This is the result:

[2020-04-03 15:35:31] production.ERROR: {
  "Type" : "SubscriptionConfirmation",
  "MessageId" : "410147f9-e883-4870-af56-2a17267d9236",
  "Token" : "2336412f37fb687f5d51e6e2425f004aed7b74017577c53203a2867d78b7c8926db45719d27623044541a2a1bc26d2b35d6fd215bc590ab7f707fa39e2fce8e18fff010d177930bfb43f3cc4552b02c78ef237754f6675658ed8d55637b223f31d134832da9b6bed028a3467cf07a7371edb8

[2020-04-03 15:38] riasvdv commented on #135
Hmm, there is definitely a "Message" in there, I'll research it a bit further

[2020-04-03 15:48] riasvdv commented on #135
Before I commit anything, could you test the following for me?

Replace this

[code]

With this

[code]

Inside `SesSignatureValidator`

Sorry for the way we're debugging this, but I really can't seem to reproduce this myself

[2020-04-03 15:51] nsouto commented on #135
That seems to have worked, no errors and the subscription was confirmed successfully

[2020-04-03 15:51] riasvdv commented on #135
Awesome!

[2020-04-03 16:01] riasvdv commented on #135
I've tagged 2.1.1 of laravel-mailcoach-ses-feedback that contains this fix!

[2020-04-03 16:01] #135 closed, assigned to riasvdv

[2020-04-03 19:57] RicardoRamirezR opened #140 "InvalidSortQuery sent_at"
Hi there!

![Captura de Pantalla 2020-04-03 a la(s) 2 56 35 p  m](https://user-images.githubusercontent.com/6526545/78399934-70cc6900-75bb-11ea-86c5-7e115d57e03c.png)

[2020-04-03 20:50] timmoh opened #141 "[Feature] custom placeholder per emaillist"
Very often you have the case that you want to use your address, imprint, social links, just an image or some textblocks in your template and don't repalce it in every template when something changes..

Custom Placeholders per emailList should be the solution for this.

Huge patch for this (compatible with 2.4.6):
[custom_placeholder_per_emaillist.patch.zip](https://github.com/spatie/mailcoach-supp

[2020-04-04 10:21] timmoh opened #142 "Test email - replacer don't work"
Replacer don't work in Test E-Mail

[2020-04-04 10:33] timmoh opened #143 "[Suggestion] Change Scheduled to triggered campaign"
My suggestion on recurring campaigns (#130) was not approved. So I've thought a little bit about it:

Perhaps it's possible to change the scheduled campaigns to triggered campaigns. Then everybody is possible to write his own triggers and it's more flexible for add-ons

The triggers can be:
- Scheduled time (like actually implemented)
- any laravel event/action
- other campaigns
- webhook
- artisa

[2020-04-05 12:33] freekmurze commented on #143
If you know your way around Laravel, you can already programmatically send campaigns using all of these triggers.

Take a look in the creating a campaign section of the docs to learn more
https://mailcoach.app/docs/v2/package/working-with-campaigns/creating-a-campaign

We currently won't provide a UI for this because we want to keep the UI very simple.

[2020-04-05 12:33] #143 closed, assigned to nobody

[2020-04-05 12:34] freekmurze commented on #142
The replacers aren't triggered in a the test email because most replacer are personalised and the test email is sent to a loose email address instead of a real subscriber.

We'll try to improve on this in a future version of the package.

[2020-04-05 12:34] #142 closed, assigned to nobody

[2020-04-05 12:41] freekmurze commented on #141
Thanks for your work on this.

We'll discuss this internally whether we want to add this.

[2020-04-05 12:47] freekmurze commented on #140
On which screen do you get this? Could you shared that exception on Flare and past the shared url here?

[2020-04-05 12:51] freekmurze commented on #139
You can already access the content of a sent campaign by clicking this link.

<img width="753" alt="Screenshot 2020-04-05 at 14 50 18" src="https://user-images.githubusercontent.com/483853/78498820-e1ef5600-774c-11ea-8456-0997e0263ae0.png">

[2020-04-05 12:51] #139 closed, assigned to nobody

[2020-04-05 15:27] RicardoRamirezR commented on #140
@freekmurze on Campings / camping /outbox / problem

[Flare share](https://flareapp.io/share/v5p282PE#F53)

[2020-04-05 17:58] freekmurze commented on #140
This has been fixed in the newly tagged release 2.4.7

[2020-04-05 17:58] #140 closed, assigned to nobody

[2020-04-05 18:45] freekmurze commented on #137
I'll add this soon.

[2020-04-06 02:44] nsouto commented on #8
Hello everyone,

So I just got Mailcoach working on Vapor, the package version I didn't try out the full app one yet, I believe the installed version uses file based storage for some settings and that would be a problem without updating that to use S3 or a DB/cache for storage.

Since Mailcoach package relies on Laravel to provide all the configuration, small adaptations to the config file make it

[2020-04-06 08:00] freekmurze commented on #137
You can use replacers in the subject starting from Mailcoach 2.5.0

[2020-04-06 08:00] #137 closed, assigned to freekmurze

[2020-04-06 08:24] freekmurze commented on #141
We've decided not to add this, because we suspect not many users will need this and we'd like to keep Mailcoach as simple as it can be.

In Mailcoach v2.6 I've added and empty view `mailcoach::app.emailLists.layouts.partials.afterLastTab`. You can publish this view to add extra tabs in your own project.

[2020-04-06 08:24] #141 closed, assigned to nobody

[2020-04-06 08:57] freekmurze commented on #133
I've made the suggested change and released it as `v2.6.2`

According to [this test](https://github.com/spatie/laravel-mailcoach-tests/blob/master/Jobs/SendMailJobTest.php#L67-L77), it should work.

Could you let me know if the problem is solved? If not, could you suggest a test for us to fix?

[2020-04-06 09:01] freekmurze commented on #118
@RicardoRamirezR I'm afraid you'll have to spell it out for me, as I still don't understand what you mean with "custom subject". In the UI we have custom subject fields.

<img width="713" alt="image" src="https://user-images.githubusercontent.com/483853/78541416-df950680-77f5-11ea-953a-a504a3f26804.png">

If it's an simple change, maybe it's to send me a diff of the changes you want.

[2020-04-06 09:10] freekmurze commented on #8
@nsouto Thank you so much for your research;

If you have the time for it, I'd appreciate a diff with non breaking changes, that add these `env` helpers to the config file, together with other pain points you solved.

I'll take a look soon at where we don't use that `asset()` helper and add it. Again, if you have already fixed this and have the time, I'd appreciate a diff with the necessary change

[2020-04-06 15:22] jbraband commented on #133
the issue in the first post is resolved.

There is still the problem with the Mailable's content not being injected into the Campaign model as seen in this comment on this issue: https://github.com/spatie/mailcoach-support/issues/133#issuecomment-607508409

Here is the exception I am seeing. I will work up a test method for this and post in the next comment.
![image](https://user-images.githubuser

[2020-04-06 15:36] jbraband commented on #133
@freekmurze I think I'm missing an important concept here.

The test method you linked, I think that it'd fail given the exception I just posted. I went to run the test myself, but the spatie/laravel-mailcoach repository has no tests in it (that I could find)

I tried to `composer require spatie/laravel-mailcoach-tests` but it isnt available via packagist

Any tips for me being able to run tests a

[2020-04-07 09:08] freekmurze commented on #133
@jbraband The tests seem to be working fine.

 I think that if you put the content of ` spatie/laravel-mailcoach-tests` in a directory called `tests` inside `laravel-mailcoach` you'll be able to run tests.

[2020-04-07 12:34] jbraband commented on #133
@freekmurze thanks, i have the test suite running now, slightly embarrassed that i didnt think to just clone the test repo into /tests

going to dig in this morning and track down the difference in how my Mailable is being used versus the test Mailable

[2020-04-07 13:11] agus-ngorder opened #144 "Campaign not sent"
Hi, I just setup mailcoach with digitaloean 1-click installation. everything is ok on the install process until up and running. But when I start to create campaign and send it I got error.

i inspect to the horizon/failed and see the failed message bellow.

![Screen Shot 2020-04-07 at 20 06 07](https://user-images.githubusercontent.com/52845597/78673099-db5b0d00-790b-11ea-9933-e0e7be014e04.png)

P

[2020-04-07 13:40] jbraband commented on #133
@freekmurze so I see that the test it_can_use_a_custom_mailable() dispatches the job SendMailJob

whereas this code snippet dispatches SendCampaignJob at the end of the Campaign::send() method.

`
Campaign::create()->useMailable(MyCustomMailable::class)->sendTo($emailList);
`

I am still digging however, because although the test fails if I switch it to use SendCampaignJob, the campaign has html c

[2020-04-07 13:52] jbraband commented on #133
Ah, i see it now. For the test, the Campaign factory injects the html into $campaign->html. That is how it passes through PrepareEmailHtmlAction and my Mailable does not.

[2020-04-07 13:54] freekmurze commented on #133
Thanks for you time investigating this. If you see a simple solution, please send me a diff. Otherwise, I'll try to dig in later this week.

[2020-04-07 13:54] #133 closed, assigned to freekmurze

[2020-04-07 13:59] freekmurze commented on #144
That is unfortunate, let's try to fix this.

Could you replace all content in `/var/www/html/config/mailcoach.php` by the content on this page: https://raw.githubusercontent.com/spatie/Mailcoach/master/config/mailcoach.php

After that restart your server and retry the `SendCampaignJob` (by pressing that purple button in the top left corner on your screenshot).

[2020-04-07 14:15] agus-ngorder commented on #144
i've changed the config/mailcoach.php with the new one, restart Nginx, retry campaign and get same result, still not work

[2020-04-07 14:20] agus-ngorder commented on #144
ok it works now after restarting supervisor, thanks

[2020-04-07 14:28] jbraband commented on #133
This is a modified test method that throws the same error I'm seeing

[code]

that tests the ability to do this in our app's codebase
[code]

[2020-04-07 14:33] agus-ngorder commented on #144
btw I'm curious what chart library you use? it looks beautiful

[2020-04-07 14:38] jbraband commented on #133
I think one approach to fixing this would be to chain in another ActionClass in SendCampaignAction::execute()

[code]

and within PrepareHtmlAction::class we would extract the html from the Mailable and insert it into the html property of the campaign model. Then PrepareEmailHtml and PrepareWebviewHtml actions would have the html available. The new PrepareHtmlAction would only do the work if the $

[2020-04-07 15:34] freekmurze commented on #144
It isn't a library, but something we've made ourselves. It's an animated svg.

[2020-04-07 15:34] #144 closed, assigned to nobody

[2020-04-07 15:45] jbraband commented on #133
I have this coded out and will provide a 'git diff' patch file

the next problem I need to solve is being able to pass data to my custom mailable.

The use case is a Mailable for notifying subscribers of a new article on the site. I want a single Mailable, backed by a blade template, the I pass the article ID to and it fetches the data and passes to the view.

The Campaign::useMailable() method ma

[2020-04-07 16:59] mikemike opened #145 "Unable to send campaigns"
I'm trying to send a campaign on a fresh install.  There are no errors on the UI, just a continuous "Campign x is preparing to send".

Upon inspecting the log (domain has been ***):

[code]

I've tried tracking this down and it appears to originate:
 vendor\spatie\laravel-mailcoach\src\Support\Config.php

I have made one change to the files which is to add:
`'encryption' => env('MAIL_ENCRYPTION',

[2020-04-07 18:44] jbraband commented on #133
[mailable-patch-1.txt](https://github.com/spatie/mailcoach-support/files/4446441/mailable-patch-1.txt)

This patch file is incomplete, but might be worth a look. I added a new action called PrepareHtmlAction that is responsible for injecting the Mailable's rendered HTML into the campaign. The problem with this approach is that by the time the action is called in Spatie\Mailcoach\Actions\Campaigns\

[2020-04-07 18:54] jbraband commented on #133
I also submitted a PR to the tests repository to cover the html injection

https://github.com/spatie/laravel-mailcoach-tests/pull/1

[2020-04-07 19:01] freekmurze commented on #145
That is unfortunate, let's try to fix this.

Could you replace all content in `/config/mailcoach.php` in your app by the content on this page: https://raw.githubusercontent.com/spatie/Mailcoach/master/config/mailcoach.php

After that, run `php artisan config:clear` restart your server.

Navigate to '/horizon` on your Mailcoach app, click "Failed Jobs". There should be a `SendCampaignJob`, click on

[2020-04-07 19:23] jbraband commented on #133
update: i am getting an exception when the campaign actually sends but only when the mail is queued.

`Serialization of 'Closure' is not allowed`

gotta love code diving :)

[2020-04-07 20:08] jbraband commented on #133
found it. The custom Mailable has a callbacks property that is set in CampaignMail::withSwiftMessage()

That callbacks array is causing the serialization exception with the Mailable is queued.

For some reason, a normal campaign does not have this issue. I'm still investigating....

_(note that this string of posts is serving as a trace of what I've done/discovered)_

[2020-04-07 20:49] jbraband commented on #133
I see, the stock MailCoach campaign mailable (when not specifying my own) does not implement ShouldQueue. adding ShouldQueue to Spatie\Mailcoach\Mails\CampaignMail breaks sending with the serialization error I am seeing.

I suppose this makes sense, since mailcoach is already queueing a job which send the mail, no need to queue from a queue for performance reasons, just let the SendMailJob take a

[2020-04-08 07:33] freekmurze commented on #133
I'll take a look at this today 👍

[2020-04-08 07:37] freekmurze opened #146 "Add reply-to name and email to the UI"
- Defaults on the list
- Default get copied to each campaign where they can be edited

[2020-04-08 07:57] freekmurze commented on #133
This issue has been fixed in `v2.6.4`. Thanks for your help @jbraband 👍

[2020-04-08 07:59] freekmurze commented on #146
Unfortunately, to solve this problem, we have to modify the db, which is a breaking change. We'll revisit this issue when creating a new major release later this year.

[2020-04-08 07:59] #146 closed, assigned to freekmurze

[2020-04-08 08:24] mikemike commented on #145
No I'm afraid it didn't, I just get the same error again

[2020-04-08 08:31] freekmurze commented on #145
Could you run `php artisan tinker` and execute `config('mailcoach')` there. What is the output of the `actions` key there?

[2020-04-08 08:33] mikemike commented on #145
[code]

[2020-04-08 08:49] freekmurze commented on #145
What is the content of `Spatie\Mailcoach\Actions\Campaigns\PrepareSubjectAction.php`. In a tinker session, can you resolve it out of the container?

[code]

[2020-04-08 08:51] mikemike commented on #145
Tinker:
[code]

Actual contents:

[code]

[2020-04-08 09:10] freekmurze commented on #145
In a tinker session, what is the output of

[code]

[2020-04-08 09:11] mikemike commented on #145
[code]

[2020-04-08 09:13] mikemike commented on #145
I can add your SSH key to the server for you to take a look if that's easier @freekmurze ?  You can email me: mike.griffiths [at] reckless.agency

[2020-04-08 09:22] freekmurze commented on #145
Let's continue this way for now.

My thinking is that somehow the process where the email campaign is being sent, still uses old config values. I think the problem is related to your setup and not by an error in the mailcoach code base.

The line that the exception is mentioned is the one that you could successfully execute in tinker

[code]

My suggestion now, would to make absolutely sure that y

[2020-04-08 09:52] mikemike commented on #145
That's sorted it.  I think the config file was cached in some strange way outside of Laravel.  My best guess is Opcache, which I had disabled, but must have persisted for some reason.  Clearing all caches, re-disabling Opcache, and rebooting the entire server fixed everything.

Thanks for the help @freekmurze

[2020-04-08 09:52] #145 closed, assigned to nobody

[2020-04-08 10:58] freekmurze commented on #145
Glad you got this sorted out! Have fun using Mailcoach!

[2020-04-08 12:52] timmoh commented on #142
@freekmurze just a short question: is there any schedule for the next release step?

[2020-04-08 14:31] freekmurze commented on #142
Probably around Laravel 8 gets released, but nothing is set in stone yet.

[2020-04-08 20:17] jbraband opened #147 "Allow custom mailables to be rendered without setting a campaign"
I am building out a bunch of custom Mailable classes for a bunch of different email campaigns. While developing the blade templates it is nice to be able to render the Mailable in a browser for testing. This is documented in the Laravel Docs < Mail > Previewing Mailables In The Browser (https://laravel.com/docs/7.x/mail#previewing-mailables-in-the-browser).

However, when my Mailables extend Spati

[2020-04-09 11:57] freekmurze commented on #147
I've made this change and released it as `v2.7.1` 👍

[2020-04-09 11:57] #147 closed, assigned to nobody

[2020-04-09 14:28] jbraband commented on #147
Thanks @freekmurze !

[2020-04-10 11:23] riasvdv commented on #138
Seems like this was an unfortunate error during the composer install.

The "http://repo.packagist.org/p/league/html-to-markdown%24244d96711c5fe2930457b9907640aaf113cafec4409800ad8c69df4cb9ee9313.json" file could not be downloaded: failed to open stream: Connection refused

Which caused the rest of the commands to continue (and fail). I'll look into making the script more robust when an error happe

[2020-04-10 13:47] agusesetiyono opened #148 "Mailcoach API"
Hi,
I want to synchronize users data from our saas to mailcoach, we want to tag registered users as `trial`, and when someday they upgrade the tag will be `paid`, still on same list.

How the best way to do this? will you provide API for managing contacts on the near future?

[2020-04-10 15:01] freekmurze commented on #148
We probably won't provide a full blown API anytime soon. If you need this, we recommend installing mailcoach as a package, so you can use the full power of the Laravel framework to create any API you need.

When installed as a package, this is how you can create and manipulate subscribers: https://mailcoach.app/docs/v2/package/working-with-lists/subscribing-to-a-list

[2020-04-10 15:01] #148 closed, assigned to nobody

[2020-04-11 19:22] timmoh commented on #148
@agusesetiyono may be https://github.com/leeovery/mailcoach-api will help you.

[2020-04-11 19:46] freekmurze commented on #148
Thanks for the excellent suggestion @timmoh

[2020-04-14 08:34] Gaia-Nutrition opened #149 "How to properly use custom Mailable"
I'm currently integrating Mailcoach as a replacement for Mailchimp to allow users to send out pre-formatted, branded newsletters. I have a markdown editor set up on the frontend and have so far just dumped the rendered Markdown into an existing Mailchimp template.

Now with Mailcoach: How do I get the content into my custom Mailable?  The docs say:
[code]
which does not allow me to provide view da

[2020-04-14 11:46] freekmurze commented on #149
In the `mailcoach_campaigns` table there is a field called `structered_html`. You could save the markdown in that field. We do that when using the unlayer editor.

[2020-04-14 12:42] Gaia-Nutrition commented on #149
This "fixes" both issues (raw markdown persisted + getting data into Mailable) so I'll close the issue.

[2020-04-14 12:42] #149 closed, assigned to nobody

[2020-04-14 12:55] Gaia-Nutrition opened #150 "Rate-limiting key missing"
Currently, the `mailcoach.throttling.redis_key` config is not being used in `SendMailJob.php`. Since I'm on a tight SES sending limit, I'd like to use the same key for all my Email jobs to prevent SES rejecting emails in case transactional emails go out at the same time.

Also, it might make sense to use the same key on all other emails as well (Welcome, ConfirmSubscriber, CampaignSummary, etc.) i

[2020-04-14 14:51] freekmurze commented on #150
For now, we're going to keep things as they are, but I'll consider making some improvements around this in the next major release.

Thanks for your remarks.

[2020-04-14 14:51] #150 closed, assigned to nobody

[2020-04-15 07:20] ziming opened #151 "Make laravel-mailcoach-docs editable directly"
Currently 1 need to fork spatie/laravel-mailcoach-docs to fix documentation errors.

Would be great if we can just edit directly like most repos.

https://github.com/spatie/laravel-mailcoach-docs/edit/master/docs/package/working-with-lists/unsubscribing-from-a-list.md

[2020-04-15 07:49] ziming commented on #151
oh okay there is an alternative way. Closing this

[2020-04-15 07:49] #151 closed, assigned to nobody

[2020-04-15 11:34] timmoh opened #152 "[Suggestion] Track links clicks... by mailcoach directly"
Wouldn't it be a more secure way to track the links in the campaign emails directly by mailcoach and not by any other provider (ses, mailgun etc.)

Just Replace the links in the emails with any link like: mailcoach.app/redirect/234234-34-234-23423-4323 -> via 301 -> orginal link

[2020-04-15 12:44] freekmurze commented on #152
I've done that in a first version of Mailcoach, but I moved away from that approach. The problem here is that you can very easily ddos yourself when sending out campaigns. All opens and clicks will result in an extra request to your app.

Most of the email providers throttles this kind of feedback, and have the ability to resend feedback, if your server was unable to handle the feedback.

If you'r

[2020-04-15 12:44] #152 closed, assigned to nobody

[2020-04-16 08:13] timmoh commented on #141
I've published a package out of this: https://github.com/timmoh/mailcoach-custom-placeholder
So everybody is able to use it as an add-on.
to keep it compatible: `mailcoach::app.emailLists.layouts.partials.afterLastTab` has to be set up by everyone on his own

[2020-04-16 16:29] ziming commented on #149
Trying to do the same thing here, @Gaia-Nutrition and @freekmurze

Is this the correct way and will it display correctly in unlayer or other editor too?

[code]

Thanks!

[2020-04-16 17:16] Gaia-Nutrition commented on #149
@ziming not sure about Unlayer, haven't tried that one before. But according to @freekmurze, Unlayer saves it's markup to `structured_html` so I think you can't use this field yourself then.

[2020-04-16 17:51] ziming commented on #149
Didn't freek say:

[code]

[2020-04-16 18:08] jbraband opened #153 "PR Proposal: Allow developer to extend the Campaign model"
Would Spatie be open to a PR that adds a config to allow us to specify a Campaign model subclass to be used by Mailcoach?

I have another model that I'd like to have a HasMany relationship with Campaign and need to add a foreign key to the mailcoach_campaigns table. Figured that extending Campaign would be possible, but I don't see it.

I'm thinking it's be exactly like spatie/laravel-permission d

[2020-04-16 18:09] jbraband commented on #153
I should also add that I would want the inverse relationship added to the Campaign model to relate back to my class

[2020-04-16 19:50] jbraband opened #154 "PR Proposal: Add mailable_arguments to the Campaign model"
My thinking with this is to add a mailable_arguments column to mailcoach_campaigns database table. It'll be the json datatype.

Campaign::useMailable() becomes this
[code]

Campaign::getMailable() becomes this
[code]

CampaignMail would need a constructor to take the arguments array and set it to a protected property. Now the build() method of our custom mailables have arguments injected into it f

[2020-04-16 20:41] jbraband commented on #154
PR is submitted. I'm more than willing to help refine it!

https://github.com/spatie/laravel-mailcoach/pull/217

[2020-04-16 20:47] jbraband commented on #154
Here is how that is used. A sample custom Mailable:

[code]

And this code to build the campaign and pass the Mailable and arguments:
[code]

[2020-04-16 21:08] jbraband commented on #153
This seems a bit bigger of a task than I thought. Mostly because Spatie\Mailcoach\Models\Campaign is referenced all over the package.

Is the correct approach here to add a MailcoachRegistrar class similar to PermissionRegistra (https://github.com/spatie/laravel-permission/blob/47ec7c4c76e675c1a500e46dfb308011d3f3a192/src/PermissionRegistrar.php#L12)?

and then build out a Spatie\Mailcoach\Models\

[2020-04-16 22:11] jbraband commented on #153
I added a placeholder PR for extending the Campaign

https://github.com/spatie/laravel-mailcoach/pull/218

I have the config updated and the MailcoachRegistrar class added. The Campaign interface is stubbed in as well.

[2020-04-17 01:18] jab1000 opened #155 "Sending Speed & "mailcoach-feedback Job" size"
Hi Spatie,

For the past 5'ish emails, we have created a "campaign" and sent to X list at around 100k in size.... then when that one is done (zero send jobs) we will queue up the email to another list of 100k'ish.   Overall the list of 100k will send in about 5-6 hours overall.

This time I decided to send 1 and once all "sends" were done spooling to the "send-mail" job, we fired up the 2nd one.

[2020-04-17 08:26] freekmurze commented on #154
We'll merge the PR when we'll start working on v3 in a couple of months.

[2020-04-17 08:26] #154 closed, assigned to nobody

[2020-04-17 08:28] freekmurze commented on #153
Closing this now, we'll continue the conversation on that PR at laravel-mailcoach.

[2020-04-17 08:28] #153 closed, assigned to nobody

[2020-04-18 16:59] renatonascalves opened #156 "Confirmation of imported subscribers email bugs"
A small bug I noticed while importing a small list.

The email: Import Subscribers Result Mail.

The first link is sending me to: `imap://MYEMAIL.COM@MYEMAILPROVIDER.COM:993/fetch>UID>/INBOX>LISTPROVIDER`

And the second one is redirecting to the wrong folder.
`https://site.com/storage/22/import.csv` where the correct path is `https://site.com/storage/app/public/22/import.csv`

<img width="762" al

[2020-04-18 17:11] renatonascalves opened #157 "Middleware Group for the Front routes"
I'm looking for a way to add a custom middleware to a specific route:

[code]

The use case is that the newsletter form is in another site and I'm using the Laravel Honeypot package, together with a NeverBounce integration to decrease spam (together with other honey pot fixes).

The problem is that right now I need to edit core files (laravel-mailcoach on the vendor folder) to accomplish it. And a

[2020-04-18 17:14] freekmurze commented on #157
Sure, I'll take care of this in the next few weeks. If you need it fast, I'd accept a PR that adds this to the package.

[2020-04-18 17:21] freekmurze commented on #156
Thanks for reporting this.

Because it's hard to get these link right for every configuration, I've decided to remove them from the mail for now.

[2020-04-18 17:21] #156 closed, assigned to nobody

[2020-04-18 19:30] renatonascalves commented on #156
Understood! Also, I'm not sure how useful this email is.

I'd say spending time on the front-end of the import would be better than the email. Since after importing a list, nothing happens until you refresh the page. Which is not the best UI/experience.

[2020-04-18 20:57] freekmurze commented on #156
Don't you see this message after uploading? https://github.com/spatie/laravel-mailcoach/blob/8117e95fae24ba5836578640844bced35540d17c/src/Http/App/Controllers/EmailLists/ImportSubscribersController.php#L33

[2020-04-19 05:44] rnleal opened #158 "Uploading image in unlayer does not work"
When uploading image using unlayer, the progress spinner is stuck to 50%.
![Screen Shot 2020-04-19 at 1 41 36 PM](https://user-images.githubusercontent.com/60339084/79680588-e2571900-8243-11ea-8851-ec2272dae498.png)

Although, the ajax upload is successful.

[2020-04-19 09:32] rnleal commented on #145
Hi @freekmurze, I am also getting this error.

I followed all actions suggested in this thread but still get the issue.
- cleared cache and config
- restarted the server

[2020-04-19 12:05] freekmurze commented on #145
@rnleal In that case, you'll have to start debugging. Did you already try to get the values of the config file?

https://github.com/spatie/mailcoach-support/issues/145#issuecomment-610850445

[2020-04-19 12:17] rnleal commented on #145
@freekmurze Yes I get the error when I execute this in tinker

`\Spatie\Mailcoach\Support\Config::getActionClass('prepare_subject', \Spatie\Mailcoach\Actions\Campaigns\PrepareSubjectAction::class);`

I logged the `config('mailcoach')` in `vendor/spatie/laravel-mailcoach/src/Actions/Campaigns/SendCampaignAction.php`

however I dont see `prepare_subject` in the actions array.

[code]

[2020-04-19 12:19] freekmurze commented on #145
If the action does not appear in tinker, but is present in the config file, then there is something cached on your system and you should clear all caches.

For Laravel run `php artisan cache:clear`, `php artisan config:clear` and restart horizon (or your machine). If the problem persists, then it's some cache that is specific to your system.

[2020-04-19 12:23] freekmurze commented on #158
Do you get any error in the application log? Is the endpoint where you are uploading to giving a response?

What is the maximum post size and upload size you have set in your `php.ini`?

[2020-04-19 13:45] rnleal commented on #158
There is no error on the application log. The file was uploaded upon checking on the directory.
Both post size and upload size are 100M

[2020-04-19 14:34] rnleal commented on #145
@freekmurze

Apparently, these 2 actions were missing from the config file. Not sure why. I just updated the package from v1 to v2.

Solved the problem by manually adding the lines to the `config/mailcoach.php` file and cleared cache

[code]

[2020-04-19 15:58] Gaia-Nutrition opened #159 "PrepareEmailHtmlAction breaks html"
Html content for my campaigns is generated by rendering Mailables.

The `ensureEmailHtmlHasSingleRootElement` inside the `PrepareEmailHtmlAction` class wrongly assumes a missing `<html>` opening tag as the html content starts with `<!DOCTYPE ...`. It then adds another opening `<html>` tag (but not a closing one as that exists).
This results in `ConvertHtmlToTextAction` to fail due to misplaced DOC

[2020-04-19 15:59] Gaia-Nutrition commented on #159
This could have also been the cause for https://github.com/spatie/mailcoach-support/issues/56

[2020-04-19 18:24] Gaia-Nutrition opened #160 "8-Bit Encoding breaks inlined CSS"
Mailcoach encodes outgoing email content using 8-bit. From what I could gather from past issues like #62, this keeps spacial characters (such as emojis) readable in text-versions of emails.

However, this also results in a forced line wrapping which breaks the inlined CSS. This is what the HTML content of an 8-bit encoded email looks like:
[code]
As you can see on line 2 of the body styles, `'Appl

[2020-04-19 18:45] ziming commented on #149
Ok, just gave unlayer editor a try, unlayer saves a json to structured_html. So I guess I won't save it to structured_html or it breaks compatibility with unlayer next time if I decide to install it.

[2020-04-20 01:59] renatonascalves opened #161 "Exception on Sending Campaign"
Trying to send a campaign and it fails because of it:

Version: Mailcoach 2.6.3
PHP 7.4.3

[code]

[2020-04-20 02:32] renatonascalves commented on #161
After looking at #144 and #145

I updated the mailcoach config and reloaded the server and it worked.

[2020-04-20 02:32] #161 closed, assigned to nobody

[2020-04-20 07:17] betaselect commented on #158
I have the same issue as rnleal. The AJAX uploader works until 50% complete and then just freezes. No further errors in the application log or in the Debugbar. Relevant information: I use digital ocean spaces as S3 like storage, Laravel 7.6.2, Mailcoach 2.7.1

Edit: Did some further investigation: the files does get uploaded to server. I can see it in the database under media and mailcoach_uploads

[2020-04-20 14:42] axtg opened #162 "Feature request: add segment image Pixel option"
I am using Segment.com as my Customer Data Platform, I'd love an opportunity to push Mailcoach data in there (encoded e-mail address to link to other data sources).

See: https://segment.com/docs/connections/sources/catalog/libraries/server/pixel-tracking-api/

[2020-04-20 15:15] electronick86 opened #163 "Problem to send using Sendgrid"
Hello,

I would like to use sendgrid with mailcoach.

Is it correct to use the package "s-ichikawa/laravel-sendgrid-driver": "^3.0" in order to send via the sendgrid API (and not using the smtp)?

I can send a test message without any problem but when I send the campaign, I receive the following message :

{"errors":[{"message":"The content value must be a string at least one character in length."