[2020-04-20 19:01] freekmurze commented on #162
This feature request seems a bit too specific. I think most of our users don't need this. Take a look at the `actions` array in the `mailcoach` config file. You'll find several actions that allow you to hook into the sending process and add stuff.

[2020-04-20 19:01] #162 closed, assigned to nobody

[2020-04-20 19:07] freekmurze commented on #163
Mailcoach only supports SMTP when sending mail via Sendgrid. So if possible, use SMTP.

[2020-04-20 19:07] #163 closed, assigned to nobody

[2020-04-20 20:04] rafahernandez opened #164 "subscribers replaces not substituted in subject"
Hello this is related to #137

Tried testing replacers on subject with partial success, as the 'subscribers' tags weren't not replaced.

Eg. when using this as subject

`foo ::list.name:: ::subscriber.first_name:: ::webviewUrl::  ::subscriber.first_name:: bar`

The following is produced

`foo Test ::subscriber.first_name:: https:/[MY_URL]/webview/b6262f17-b5dc-4ccf-9aa4-fbd4c96a02f4 ::subscriber.f

[2020-04-21 06:12] electronick86 commented on #163
Hello Freek.

I'm maybe wrongly thinking that smtp is not suited for high volumes. Do you think I can send at 50-80 emails/sec using smtp? Otherwise, do you think it would be a hard work for me to develop that part?

Thanks!

[2020-04-22 13:33] gustavo-2830 opened #165 "[Feature Request] Paste Campaign Recipients"
I would like to be able to paste a comma-separated list of emails as a list of recipients for any campaign. Similar to how tests are sent but making sure the email is subscribed to the list. Right now If I need to send to a very specific list I need to either create a new list with these subscribers or create a tag. None of these options are desired as this specific list is most likely to be used

[2020-04-22 14:59] freekmurze commented on #165
We probably will not add this because we'd like to keep Mailcoach simple and think not too many users need this feature.

For now, create a list. You could automate it a bit by creating an artisan command that accepts a string of comma separated emailaddresses. In the command create a new list and add the email addresses as subscribers.

[2020-04-22 14:59] #165 closed, assigned to nobody

[2020-04-23 03:43] renatonascalves commented on #157
@freekmurze Happy to! But isn't `laravel-mailcoach` a private repo? I can't find this repo on the Spatie org.

[2020-04-23 06:41] riasvdv commented on #158
Can you check in your browser console or network tab what the response returns?

It should contain a json response with only a "url" key like this:

<img width="707" alt="image" src="https://user-images.githubusercontent.com/3626559/80067445-2137e800-853e-11ea-8665-774098417a65.png">

If you have this response, can you check if the url is accessible?

[2020-04-23 07:27] freekmurze commented on #157
@renatonascalves you can request access via your account at https://mailcoach.app
<img width="1147" alt="Screenshot 2020-04-23 at 09 27 14" src="https://user-images.githubusercontent.com/483853/80071318-afaf6800-8544-11ea-93cc-d40b06da4698.png">

[2020-04-23 07:48] riasvdv commented on #160
**EDIT**: Nevermind, I see there's still an issue

Are you sure the wrapping breaks the whole CSS clause? Every test I've done results in the CSS still being parsed correctly, even though it's wrapped.

As you can see the background of the html is red:

<img width="659" alt="image" src="https://user-images.githubusercontent.com/3626559/80073225-b25f8c80-8547-11ea-9d3d-1dc4555a0349.png">

The sourc

[2020-04-23 09:01] riasvdv commented on #160
I've reverted the encoding change in 2.7.3

As for https://github.com/spatie/mailcoach-support/issues/62, this is not actually an issue in plain text clients, only when viewing the raw source of a message (which is not an intended use case)

For example Mutt, will render emoji's correctly with the default encoding that Laravel (Swift mailer) uses. (the second emoji is missing in the font I'm using

[2020-04-23 09:01] #160 closed, assigned to riasvdv

[2020-04-23 12:35] StanBarrows opened #166 "ERROR: mailcoach.actions.prepare_subject"
Hello everyone,

I'm not able to send campaigns anymore. When I check out the log files I can see the following errors. I'm using the package installer.

![image](https://user-images.githubusercontent.com/10268813/80099633-10ec3100-856f-11ea-8b3b-a06aeae13e30.png)

I've tried to send test-emails within the configuration and this worked perfectly. Tried different lists or created several campaigns

[2020-04-23 14:43] freekmurze commented on #166
Can you read trough this issue and try this solutions that are proposed there? https://github.com/spatie/mailcoach-support/issues/145

[2020-04-23 14:58] StanBarrows commented on #166
Perfect thanks!

I was updating from v2.2.* to 2.7.* and the following lines were missing within the config file.

[code]

[2020-04-23 15:00] #166 closed, assigned to nobody

[2020-04-23 18:32] binaryk opened #167 "Cannot install package at all. Conflict with cakephp/chronos 2.0.4"
![image](https://user-images.githubusercontent.com/6833714/80136063-de135e80-85a9-11ea-86ae-f2e966f03a2f.png)

[2020-04-23 18:36] binaryk commented on #167
It works when I manually downgraded this to:

[code]

[2020-04-23 18:39] ziming commented on #167
Hmm but the latest version of laravel nova (3.4.1) now uses chronos v2. So I would keep this issue open actually.

[2020-04-23 18:56] binaryk commented on #167
That's true, just twitted that, because Horizon uses chronos v2 as well. Mailcoach is using v1 and horizon 4. So we cannot have Horizon and Mailcoach at the same time.

[2020-04-23 19:29] renatonascalves commented on #157
Have access now!  Tks! :)

[2020-04-24 16:41] freekmurze commented on #167
This has been fixed in the latest version of the package.

[2020-04-24 16:41] #167 closed, assigned to nobody

[2020-04-25 17:34] vesper8 commented on #18
@freekmurze I really wish you would reconsider and allow us to specify which database connection the tables are created on.. letting us use our own models is a step further but simply specifying the database connection would be a small but very welcome modification

[2020-04-27 07:43] freekmurze commented on #157
To keep our issue tracker clean, I'm going to close this one, but will revisit this in the future. Like said above, if you needs this quick, send a PR 👍

Thank you for your Mailcoach tweet earlier today, really made my day 😄

[2020-04-27 07:43] #157 closed, assigned to nobody

[2020-04-27 07:48] freekmurze commented on #158
@InWave could you let us know what the response from that endpoint is? ⏫

[2020-04-27 07:48] freekmurze commented on #138
We'll take care of this at the relevant repo.

[2020-04-27 07:48] #138 closed, assigned to riasvdv

[2020-04-27 08:12] rnleal commented on #158
The response is a url and the file has been uploaded, but just like @InWave's issue, on the frontend, it stuck on 50%.

I also want to add that this only happens on the package version, it is working perfectly fine on the App version.

[2020-04-27 08:59] riasvdv commented on #158
Is the URL accessible? If you copy paste it in your browser?

[2020-04-27 11:21] AlexVanderbist commented on #155
Hi @jab1000,

I'd hoped to respond sooner but we were looking to tag a fix for this particular issue. Unfortunately we're waiting for some other issues before tagging this fix in v3 of the package when Laravel 8 is released this summer.

As you've mentioned the `webhook_calls` table can slow things down quite a bit. The quick fix for this would be to delete processed webhooks after they've been pr

[2020-04-27 11:27] freekmurze commented on #155
Thanks @AlexVanderbist

[2020-04-27 11:27] #155 closed, assigned to AlexVanderbist

[2020-04-28 14:00] electronick86 opened #168 "Custom segment class not visible in campaign detail"
The page /mailcoach/campaigns/42/settings don't show the correct custom segment. It show

I see that the file resources/views/vendor/mailcoach/app/campaigns/draft/partials/emailListFields.blade.php contains
`
@if($campaign->usingCustomSegment())
        <x-help>
            Using custom segment class ({{ $emailList->segment_class }}).
        </x-help>
    @else
`

If I'm correct, it should be
`
@

[2020-04-28 19:37] RicardoRamirezR opened #169 "Error htmlspecialchars() trying Delivery tab in a new campaign"
![Captura de Pantalla 2020-04-28 a la(s) 2 33 15 p  m](https://user-images.githubusercontent.com/6526545/80529672-694f7400-895d-11ea-8fff-eed7273193f9.png)
[Flare](https://flareapp.io/share/87nvX67w)

[2020-04-28 19:53] freekmurze commented on #169
Can you give us some more info on how to recreate this? Do you also get
this error for an empty email list and empty html?

Are you using a db that support json columns (like mysql 5.7 or higher)?

On Tue, 28 Apr 2020 at 21:37, Ricardo <notifications@github.com> wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2020-04-28 19:59] RicardoRamirezR commented on #169
Thank you @freekmurze. With empty html worked. Then added `hello` and it fails.

Note: I did enable the Monaco editor...

[2020-04-28 20:01] RicardoRamirezR commented on #169
removed Monaco, same issue...

[2020-04-29 00:01] RicardoRamirezR opened #170 "[Feature request] Add tag to group of subscribers"
Hi there,

After sending a campaign, a group of subscribers should open the newsletter, Mailcoach will take care of registering the openings.

Now is the time for a campaign focused on that group of subscribers, it would be nice to have some way of putting a tag on them. (I've already did that at database label)

[2020-04-29 06:20] electronick86 commented on #170
Hello Ricardo

I did something similar using a Segment Class :

[code]

That way, campaign can only be sent to users that recently subscribe OR that open a campaign in the last X months.

[2020-04-29 08:08] freekmurze commented on #170
Mailcoach doesn't to automatic tagging on open and clicks, because everyone will likely want to do something else.

When installing into a Laravel app, you can leverage events and manually tagging to get your desired result.

https://mailcoach.app/docs/v2/package/advanced-usage/handling-events
https://mailcoach.app/docs/v2/package/working-with-lists/working-with-tags

[2020-04-29 08:08] #170 closed, assigned to nobody

[2020-04-29 10:02] rubenvanassche commented on #164
Hi @rafahernandez,

A `composer update` should solve this problem, we've fixed this bug  in `laravel-mailcoach:2.9.2`. I will close this issue for know, please let me know when you run into any other issues.

[2020-04-29 10:02] #164 closed, assigned to rubenvanassche

[2020-04-29 11:59] gathrlabs opened #171 "Issue importing Subscribers on one-click installer"
The import status seemed to stay stuck on "scheduled". SSHing into the droplet and running horizon seemed to fix this issue. Is it possible that Horizon wasn't started on install?

[2020-04-29 14:12] RicardoRamirezR commented on #169
Mailcoah: 2.9.1
Laravel: 7.9.2
php 7.4.4

Visual 😉

![ezgif com-gif-maker-2](https://user-images.githubusercontent.com/6526545/80606208-a9643480-89f9-11ea-91c7-6ded752768c4.gif)

[2020-04-29 14:18] electronick86 opened #172 "Sendgrid feedback generate error when doesn't contain send_uuid"
Hello,

I use the sendgrid mail provider and I see that sometimes feedback do not contain eny send_uuid. This generate an Error

[code]
This exception happens when the feedback payload doesn't contains any send_uuid key.

![_MySQL_5_7_28__GocarDinghyLocal_gocarmail_webhook_calls](https://user-images.githubusercontent.com/8201501/80606632-da158f80-8a34-11ea-95c3-b85c0fd7d386.jpg)

Do I select too m

[2020-04-29 21:58] RicardoRamirezR commented on #169
When downgrade to Mailcoach 2.7.1 it works

[2020-04-30 03:20] rafahernandez commented on #169
Some comments as I also encountered this, downgrading to 2.7.4 didn't seem to work , I followed the Flare trace and did some debugging, seems like the select inside `DateTimeFieldComponent` the select are having issues with `$hourOptions` and `$minuteOptions`. If I hardcode an array for those values, the error goes away

[2020-04-30 08:10] betaselect commented on #158
Sorry missed the response, @riasvdv @freekmurze.

This is the response:
<img width="2047" alt="image" src="https://user-images.githubusercontent.com/16295795/80687422-8d7c9380-8aca-11ea-8cae-2bb1515cc89b.png">

And indeed the URL is not accessible from the browser. Although this is not unexpected behavior all my files uploads in the rest of the application are done to Spaces from DigitalOcean.

[2020-04-30 10:53] riasvdv commented on #158
Unlayer needs to be able to access the image to finish uploading and displaying it, make sure you're uploading to a publicly accessible bucket.

[2020-04-30 11:43] riasvdv commented on #168
Fixed in 2.10.2!

[2020-04-30 11:43] #168 closed, assigned to nobody

[2020-04-30 11:43] riasvdv commented on #169
Fixed in 2.10.2! Thanks for the research and reporting

[2020-04-30 11:43] #169 closed, assigned to riasvdv

[2020-04-30 12:06] riasvdv commented on #171
Could you post the contents of the supervisor log? This should be starting horizon automatically

You can view the log by doing

`cat /var/log/supervisor/supervisord.log`

On your server through ssh

Maybe also the horizon log: `cat /var/www/html/horizon.log`

[2020-04-30 12:08] riasvdv commented on #158
It could also be possible you still have to run `php artisan storage:link` in your Laravel install so the public disk is accessible https://laravel.com/docs/master/filesystem#the-public-disk

[2020-04-30 12:08] #158 closed, assigned to riasvdv

[2020-04-30 12:14] riasvdv commented on #172
I can see there's an `sg_message_id` parameter in the payload, can you compare those in the payloads where `send_uuid` is present and see if they are the same?

Could you paste one of each payload anonimyzed? One that contains the send_uuid and one that doesn't? I might be able to find something to connect the feedback, otherwise it's a Sendgrid issue

[2020-04-30 12:41] electronick86 commented on #172
Hello Rias.

I don't find any matching IDS betweens payload with uuid and without.

[code]

I can maybe ask sendgrid a bit more but theses message without send_uuid should maybe be ignored?

I just sent some more campaign test emails  (from the campaign > delivery tab) and I received that kind of feedback when I opened/clicked the content of the test email.

Just to be sure that this is the way to

[2020-04-30 22:26] RicardoRamirezR commented on #166
I had the same error. But Mailcouch did not warn about it. Shall Mailcoach send some sort of feedback

[2020-04-30 22:28] RicardoRamirezR opened #173 "Campaign summary"
Is this the new look?
![Captura de Pantalla 2020-04-30 a la(s) 5 18 29 p  m](https://user-images.githubusercontent.com/6526545/80765163-f46c6d80-8b07-11ea-8577-03c5e4f87060.png)

[2020-04-30 23:32] RicardoRamirezR opened #174 "Campaign to 34,032 subscribers got stocked at 8047 out of 8048 🙄"
This is still since two hour ago.

![Captura de Pantalla 2020-04-30 a la(s) 6 26 03 p  m](https://user-images.githubusercontent.com/6526545/80768513-39949d80-8b10-11ea-8ecb-a16c90bb733f.png)

and SendCampaignJob is at Pending Jobs

[2020-05-01 09:42] freekmurze commented on #174
Where there any failed jobs? Do you see any exception in the log?

In the outbox tab there should be a button display with which you can retry sending mails.

[2020-05-01 14:50] RicardoRamirezR commented on #174
Nothing! What I did was to send another campaign  with the missing subscribers.

(how to mark this as completed)
![ezgif com-video-to-gif-2](https://user-images.githubusercontent.com/6526545/80813631-fda11d00-8b8f-11ea-98f4-f4de881d40f9.gif)

The campaign thinks it has only 8084 subscribers has only one pending...
![Captura de Pantalla 2020-05-01 a la(s) 9 38 40 a  m](https://user-images.githubuse

[2020-05-01 17:51] freekmurze commented on #174
I don't know why, but it seems like there is an action missing in your config.

I've just released v2.11.2 of Mailcoach which will use the default action class if none is specified in the config file. Before contuinuing, make sure to upgrade to that version.

To me it seems strange that your job is halted midway in creating campaign sends. It makes me think that timeout of a job is not correctly c

[2020-05-01 18:37] RicardoRamirezR commented on #174
Thank @freekmurze, um, no action is missing; I've sent another campaign right away to the missing 27,083 subscribers yesterday without any problem. Any way thank you!

[2020-05-01 18:37] #174 closed, assigned to nobody

[2020-05-01 19:48] shatterproof commented on #174
@freekmurze I'm using a customized config for Mailcoach in my app so additions to the internal config aren't automatically applied, which could explain how this happens.

Using default values for new additions to the config if nothing is specified would be great going forward since I've been needing to manually copy them over to avoid issues after updating.

[2020-05-02 09:42] gathrlabs commented on #171
2020-04-25 11:54:15,634 CRIT Supervisor running as root (no user in config file)
2020-04-25 11:54:15,636 INFO Included extra file "/etc/supervisor/conf.d/horizon.conf" during parsing
2020-04-25 11:54:15,681 INFO RPC interface 'supervisor' initialized
2020-04-25 11:54:15,702 CRIT Server 'unix_http_server' running without any HTTP authentication checking
2020-04-25 11:54:15,706 INFO supervisord star

[2020-05-02 09:47] gathrlabs commented on #171
The only entry in the horizon log is

`Horizon started successfully.`

[2020-05-02 11:42] electronick86 commented on #155
Hello All.

I was doing some test concerning the send performance. I create a list of 5000 recipients. Then I opend a fake smtp server ([michielbdejong/mailtrap](https://hub.docker.com/r/michielbdejong/mailtrap), This Docker image will listen on port 25, and do nothing else than responding to SMTP traffic in a valid way).

I set my send rate to 100/sec into config/mailcoach but my effective send r

[2020-05-02 17:39] freekmurze commented on #174
In normal circumstances new config options are merged automatically for people that do not have them. I think in this instance it went wrong because we added a value to an array.

[2020-05-02 18:51] Propaganistas opened #175 "Placeholder tags are not replaced"
Here's a screenshot of an actual test email sent by Mailcoach. As you can see the supposed placeholder tags are unfortunately not replaced?

![mail](https://user-images.githubusercontent.com/6680176/80873121-97fb8080-8cb6-11ea-8c94-0daecf8fc22a.png)

I created the template & content using Unlayer.

[2020-05-02 19:18] Propaganistas commented on #175
I was looking at a test mail

[2020-05-02 19:18] #175 closed, assigned to nobody

[2020-05-04 06:50] riasvdv commented on #171
It seems like horizon failed to start the first few times, but then did successfully.

Is everything working for you currently? Seems like it was a once time mishap, haven't had any other reports and I can't reproduce it myself after starting a few one-click droplets.

Closing this for now

[2020-05-04 06:50] #171 closed, assigned to riasvdv

[2020-05-04 09:46] sebastiandedeyne commented on #173
Hi @RicardoRamirezR!

There were some CSS changes in the previous release. Republishing Mailcoach's assets should to the trick.

[code]

Although I assume you didn't, if you've customized Mailcoach's views you might need to apply some changes to the class names in `resources/views/app/campaigns/sent/summary.blade.php`. Here's an overview of what changed: https://github.com/spatie/laravel-mailcoach

[2020-05-04 14:00] RicardoRamirezR commented on #173
Hi @sebastiandedeyne, thank you for looking at this.

I do have a
[code]

in the `composer.json` `post-update-cmd`

![Captura de Pantalla 2020-05-04 a la(s) 8 49 59 a  m](https://user-images.githubusercontent.com/6526545/80973806-78af4100-8de5-11ea-98a8-9f40de9515ff.png)

I must say that I'm using Safari on Mac, the issue persist after upgrading to 2.11.3

[2020-05-04 16:06] ziming commented on #149
It will be great if we can set a custom mailable that except arguments to its constructors like this

[code]

Rather than

[code]

[2020-05-06 12:38] electronick86 commented on #168
Hello Rias,

Is it the message you expect?

![Gocar_Daily_2020-05-06___Mailcoach](https://user-images.githubusercontent.com/8201501/81177460-fd958880-8fa6-11ea-8d19-c59055807864.jpg)

I have the feeling that `(class: {{ $campaign->segment_class }})` is not necessary.

[2020-05-06 13:46] riasvdv commented on #168
You're right, fixed in 2.11.4!

[2020-05-06 14:37] Hesesses commented on #9
I would love to use mailcoach as separate "micro service" with API access.

Our main app would create lists and subscribers etc using API.

I would also like to give our marketing team access to login mailcoach, create newsletter content with simple editor / drag & drop tools, choose lists and send.

[2020-05-06 14:59] vesper8 commented on #9
@Hesesses I believe you achieve the first part with https://github.com/leeovery/mailcoach-api

[2020-05-06 15:19] RicardoRamirezR commented on #173
Good day, please reopen this issue since is not fixed yet

[2020-05-06 16:15] Hesesses commented on #9
Thanks @vesper8.
Just wanted to say that the standalone install with user management etc would be a killer feature

[2020-05-06 19:21] electronick86 commented on #168
thanks!

[2020-05-06 20:57] freekmurze commented on #118
Closing this due to inactivity and me not understanding the problem.

@RicardoRamirezR Since you have reported this issue, we have opened up the laravel-mailcoach repo. Maybe it's best that you just send us a PR with the change you'd like to see 👍

[2020-05-06 20:57] #118 closed, assigned to willemvb, riasvdv

[2020-05-07 04:23] shatterproof opened #176 "CalculateStatisticsJob QueryException"
**PHP:** 7.4.5
**Laravel:** 7.10.3
**Mailcoach:** 2.11.4

After updating from Mailcoach 2.11.3 to 2.11.4 the CalculateStatisticsJob has been giving this exception every minute it is called:

```SQLSTATE[42000]: Syntax error or access violation: 1055 Expression #1 of SELECT list is not in GROUP BY clause and contains nonaggregated column 'app.mailcoach_campaign_opens.id' which is not functionally d

[2020-05-07 07:45] sebastiandedeyne commented on #173
Hi @RicardoRamirezR,

A few more things to try:

- Could you make sure your browser cache is cleared so the old CSS doesn't get loaded?
- Does `resources/views/vendor/mailcoach` exist in your project? (and could you confirm if it doesn't?)
    - If it exists and you haven't modified any views, you can delete this folder
    - If it exists and you've customized Mailcoach's views, you'll need to app

[2020-05-07 11:19] ziming opened #177 "Github actions tests and auth.json"
Currently my github action tests are failing as auth.json isn't in my project git repository.

Just wondering if you guys know how to deal with this issue.

[2020-05-07 13:16] Propaganistas opened #178 "Campaign subject not used"
I'm on Mailcoach 2.11.3

I've configured a campaign with the following settings and I'm using Mailgun:
![Capture](https://user-images.githubusercontent.com/6680176/81298300-e0c78680-9074-11ea-86f2-596ed5211fae.PNG)

Luckily I sent the campaign with a test list first, because apparently the set subject isn't retained:

![Capture2](https://user-images.githubusercontent.com/6680176/81298359-f76ddd80-

[2020-05-07 13:23] Propaganistas commented on #178
Looking in the database, it seems the `mailcoach_campaigns.subject` column gets emptied, when sending a campaign...

**EDIT:** I just created a new campaign and launched sending while refreshing the database. The subject is indeed being emptied while the campaign is in "sending" status!

[2020-05-07 13:46] YannikFirre commented on #176
Hello, same issue.

[2020-05-07 13:55] freekmurze commented on #178
Verifying...

[2020-05-07 13:59] freekmurze commented on #178
I'm trying to recreate the project using a test. Seems like this one is passing: https://github.com/spatie/laravel-mailcoach/blob/faf788b7ab96724a29a0e8bcca94222312281de9/tests/Jobs/SendCampaignJobTest.php#L88-L101

@Propaganistas  Can you provide a failing test for me to fix. Will test in a real world app now...

[2020-05-07 14:05] freekmurze commented on #178
I'm using `v2.11.4` of mailcoach on freek.dev. There, using a custom subject seems to be working fine.

<img width="456" alt="Screenshot 2020-05-07 at 16 03 47" src="https://user-images.githubusercontent.com/483853/81303843-8b8f7300-907c-11ea-9c27-375ccf987756.png">

[2020-05-07 14:08] freekmurze commented on #178
O, noticed that you are using the test mail, not the actual campaign...

[2020-05-07 14:09] freekmurze commented on #178
Seems test mail subject are working fine as well.
<img width="799" alt="Screenshot 2020-05-07 at 16 08 23" src="https://user-images.githubusercontent.com/483853/81304208-0e183280-907d-11ea-9e0b-48e5e4aa1124.png">

<img width="454" alt="Screenshot 2020-05-07 at 16 08 26" src="https://user-images.githubusercontent.com/483853/81304227-12445000-907d-11ea-97e7-f33369149692.png">

[2020-05-07 14:12] freekmurze commented on #178
This test proves that the subject should be ok, even for a test mail: https://github.com/spatie/laravel-mailcoach/blob/305d23ae09a87786fd4f94b26d70c3f5b1db946f/tests/Jobs/SendTestMailJobTest.php#L31

I appreciate any tips on how to reproduce the problem you are seeing.

[2020-05-07 14:14] Propaganistas commented on #178
I'm on a completely fresh install of Mailcoach 2.11.3. No fancy settings... Let's set up a call? I'll email you.

[2020-05-07 14:15] freekmurze commented on #178
Unfortunately, I don't have time for a call atm. Could you try upgrading to the latest version?

[2020-05-07 14:55] YannikFirre opened #179 "Campaign never marked as send with custom segment class"
Hello :)

**PHP**: 7.4.5
**Laravel**: 7.10.3
**Mailcoach**: 2.11.4

When i use a custom Segment class in campaign, the campaign is never marked as send always in progress.

RM : No issue if the segment return true for all the subscribers.

Example of Segment Class :
[code]

Thanks

[2020-05-07 15:11] Propaganistas commented on #178
Okay got it. I did configure a custom replacer that merely substitutes a placeholder for the current year. Nothing too fancy, almost copy-paste from the docs.

But here's the catch. The docs are leading to this "bug":

https://mailcoach.app/docs/v2/package/advanced-usage/creating-custom-placeholders#creating-a-replacer

[code]

should be

[code]

It seems that performing substitution and returning

[2020-05-07 17:36] freekmurze commented on #178
Thanks for letting us know. The docs have been updated.

[2020-05-07 17:36] #178 closed, assigned to rubenvanassche

[2020-05-07 17:39] freekmurze commented on #177
You can set the content of auth.json as an environment variable
https://getcomposer.org/doc/03-cli.md#composer-auth

So you could but the auth.json content in a GitHub secret and use that in your action. Here's an example: https://github.com/spatie/freek.dev/blob/cbfce05037b35825afd5285e376ddb2513c0d826/.github/workflows/run-tests.yml#L45-L48

[2020-05-07 17:39] #177 closed, assigned to nobody

[2020-05-07 18:47] goaround commented on #176
+1

[2020-05-07 19:48] YannikFirre commented on #176
FYI : Works with Laravel v7.9.2

[2020-05-08 12:21] freekmurze commented on #159
This has been fixed in the latest version.

[2020-05-09 13:51] RicardoRamirezR commented on #173
Hi @sebastiandedeyne

He we go:

- Cache is cleared
- It does exists; I did changes on mails. Oh my God, I deleted it and now it shows the grid as it supposed to be

THANK YOU!

[2020-05-09 13:51] #173 closed, assigned to sebastiandedeyne

[2020-05-11 08:20] YannikFirre commented on #179
Correction, the campaign remains "in progress" only if the class segment returns 0 or 1 subscriber.

Thanks a lot for this package, I launched 100 campaigns to 22k subscribers in one time, it worked like a charm ! :D

[2020-05-11 18:07] bluelupin opened #180 "Customization of Frontend"
There should be some way to customize the header, footer, font, and color theme without editing the file in the vendor folder. It will make it consistent with the main Laravel application.

[2020-05-12 06:46] freekmurze commented on #180
Run this command to publish all the views

[code]

You can customise the published views to your liking.

[2020-05-12 06:46] #180 closed, assigned to nobody

[2020-05-12 10:21] electronick86 commented on #176
https://stackoverflow.com/a/53876660

This (disable strict mode in config/database.php) solve the problem. But the query should maybe/probably be adapted.

[2020-05-12 10:23] freekmurze commented on #176
Yeah, we'll adapt the query soon.

[2020-05-12 10:53] dircm opened #181 "Statistics dashboard not showing SES opens but chart shows opens and clicks"
After campaign is sent, webhooks receive SES notifications and seem to process but dashboard statistics dont update.

The opens and clicks DO show correct number in the line chart however (see image).

![Statistics updating](https://user-images.githubusercontent.com/18188561/81674661-e536d980-9490-11ea-9f65-3e48ec6ad178.jpg)

Horizon shows queues processing, no errors :

`Horizon started successfu

[2020-05-12 11:01] freekmurze commented on #181
This is a duplicate of #176

We'll fix it soon!

[2020-05-12 11:01] #181 closed, assigned to nobody

[2020-05-13 10:52] lesaff opened #182 "FR: Import/migrate from Sendy"
@freekmurze first of, congrats with Mailcoach. It's about time that Sendy has a competition.
We've been using Sendy for a few years now. I would love to use Mailcoach but the thought of moving brands over to Mailcoach manually would deter my effort.

It would be super if there is an easy way for existing Sendy users to migrate to Mailcoach.

What do you think?

[2020-05-13 11:58] freekmurze commented on #182
Thanks for your kind words and your suggestion. I'd like to keep the core of Mailcoach as simple (and maintainable) as it can be. That's why I probably won't include some kind of migration code.

Feel free to develop a migration from Sendy yourself and optionally share and document the code on GitHub. I'd be more than happy to share a link to such a migration in our docs.

[2020-05-13 11:58] #182 closed, assigned to nobody

[2020-05-14 03:36] nkeena commented on #176
Disabling strict mode seems to solve that problem, but now getting this error when using mailgun feedback:

[code]

[2020-05-14 06:09] ziming commented on #176
If i downgrade to 2.11.3 what will I lose?

Because this CalculateStatisticsJob is important to me.

[2020-05-14 06:10] ziming commented on #176
Ouch. Fix for PrepareEmailHtmlAction breaking html (latest version) 2.11.4 changes is more important to me.

[2020-05-14 06:52] ziming commented on #179
I got the Always in progress issue too.

[2020-05-14 08:47] riasvdv commented on #172
Hi @electronick86, did you contact Sendgrid about this already? I can't seem to find a reason why it would be empty for some webhook calls

I'm closing this issue for now, as this doesn't seem something we have control over, but if you receive some feedback from Sendgrid, do let me know here :)

[2020-05-14 08:47] #172 closed, assigned to riasvdv

[2020-05-14 08:47] #159 closed, assigned to rubenvanassche

[2020-05-14 08:48] riasvdv commented on #179
Should be fixed in 2.11.6

[2020-05-14 08:48] #179 closed, assigned to riasvdv

[2020-05-14 08:49] riasvdv commented on #176
Should be fixed in 2.11.6!

[2020-05-14 08:49] #176 closed, assigned to riasvdv

[2020-05-14 22:32] mabadir opened #183 "Mailcoach 1-click install does not capture opens & clicks"
Hello,
I have Mailcoach on version `2.11.8`. The opens and clicks for each campaigns are not captured. The log has a single error that is repeated indefinitely:

[code]

[2020-05-15 06:58] electronick86 commented on #172
Hello Rias, I contact them again about this topic.

[2020-05-15 10:57] ziming opened #184 "Strange Unwanted Unsubscribe Issue."
Not sure if it's a bug on mailcoach side or an issue with my subscribers.

So currently my client has made 4 email campaigns so far with mailcoach. For some strange reasons there are 2 subscribers that always go unsubscribed right after each send.

Checking Campaign Unsubscribes doesn't show them. But when you go to email list section, the 2 subscribers will be marked unsubscribed with the same da

[2020-05-15 11:08] freekmurze commented on #184
I'm thinking this is not directly caused by mailcoach as manual unsubscribes, or bounces are the only way people get unsubscribed. Our tests seems to indicate that everything is working correctly and no other people are reporting this issue.

A custom segment normally doesn't do unsubscribes.

Perhaps you're handling one of the events wrong? I think it's best to put some logging around the code th

[2020-05-15 12:50] riasvdv commented on #183
Just to be sure, have you restarted your queue after updating Mailcoach?

You can do this by running `php artisan horizon:terminate`

[2020-05-15 13:37] mabadir commented on #183
I am sorry, I totally forgot about the queue. That fixed the issue with the new campaigns.

Any way to retrieve the data for the old campaigns?

[2020-05-16 16:16] riasvdv commented on #183
Horizon should still contain the failed jobs, if you rerun those the data should be added

[2020-05-16 17:16] #183 closed, assigned to riasvdv

[2020-05-17 18:16] bluelupin opened #185 "Logged in User icon is not appearing in header."
We are facing strange problem after we upgraded the package today and published the views/vendor/mailcoach. We are not see logged in user icon to logout or change the settings. Please refer the screenshot.
![mailcoach-screenshot](https://user-images.githubusercontent.com/6630490/82156411-8dd1a880-9898-11ea-8a0a-128b68f126de.jpg)

[2020-05-18 04:17] ingoldsby commented on #185
I had (have) that issue too. I did some testing installing mailcoach as a new application.

1. If I installed "using composer" https://mailcoach.app/docs/v2/app/installation/using-composer then it was fine and the settings cog was there
2. If I installed into an existing (newly created with auth) Laravel project, the settings cog was not there

[2020-05-18 05:58] Propaganistas opened #186 "Option to preserve existing tags when importing subscribers"
Hi team Spatie

When using the "Import subscribers" feature, if a subscriber already exists within the list all of its current tags will be wiped in favor of just the one(s) available in the csv.

I think it'd be great if there's an option during import to determine how to deal with imports:
* sync tags with detaching
* sync tags without detaching

My use case: we're hosting multiple events. I set

[2020-05-18 06:09] bluelupin commented on #185
I installed it in an existing Laravel project.  @ingoldsby  Your theory looks correct.

[2020-05-18 06:12] bluelupin opened #187 "There should be setting to specify media table"
We are trying to install Mailcoach in an existing Laravel project. This project already has "media" table. There should be a setting to specify a custom table name for media.

[2020-05-18 06:25] electronick86 commented on #172
Hello @riasvdv ,

Sorry for this issue. I realized that I use the same API key for my app email (the app don't send other emails than the campaigns, except the campaigns reports and that kind of emails).

So the feedback witout send_uuid is just feedback from others emails send from the same sendgrid subaccount.

Thanks for help!

[2020-05-18 09:02] freekmurze commented on #185
The cog icon with user management and mail config options is only used when you use the Mailcoach full app.

When installing the mailcoach package in an existing Laravel app, it is assumed that your app already has mail providers configured in the config file and you already have user management in the admin section of your app.

To get the configuration screens for the Mailcoach full app, you can

[2020-05-18 09:02] #185 closed, assigned to riasvdv

[2020-05-18 09:07] freekmurze commented on #187
You can use your own media model: https://docs.spatie.be/laravel-medialibrary/v8/advanced-usage/using-your-own-model/

In your own media model, add a property `$table` and set it to the table name you want to use.

[2020-05-18 09:07] #187 closed, assigned to nobody

[2020-05-18 09:07] freekmurze commented on #184
Closing this for now, as I can't see what the package does wrong. If you have any more info, let us know.

[2020-05-18 09:07] #184 closed, assigned to nobody

[2020-05-18 11:33] beberlei opened #188 "Postmark Broadcast Support Changes before GA"
Postmark has now announced broadcast support to be generally available in June, with a small twist that their API for usage is changing slightly. Is this something you could incorporate into the Postmark support?

See at the bottom SMTP section: https://postmarkapp.com/support/article/1207-how-to-create-and-send-through-message-streams

Changing the SMTP itself is easy, but there probably needs to

[2020-05-19 01:58] w3bleads opened #189 ""FIRST OPENED AT" takes the UTC time, not the local timezone"
PHP: 7.4.6
Laravel: 7.11.0

Mailcoach 1-Click Application
Mailcoach: 2.11.8

In config/app.php timezone set America/Los_Angeles

Campaign->Statistics->Opens takes the UTC time, not my local timezone which is America/Los_Angeles

![1](https://user-images.githubusercontent.com/65088207/82276170-8f34cb00-9995-11ea-8a94-99c8ba398b9a.PNG)
![2](https://user-images.githubusercontent.com/65088207/82276176

[2020-05-19 07:23] rnleal opened #190 "Error Viewing Delivery Page"
This happens only on one of the campaigns when viewing the delivery page. I get the error. This is on the standalone app

[code]

[2020-05-19 20:26] funkdoobiest opened #191 "Exception on campaign, when error_reporting is without "E_NOTICE""
Hi,

following function is throwing an exception on our production system, where error reporting is like
```error_reporting(E_ALL & ~E_NOTICE & ~E_DEPRECATED);```

PHP 7.4.5
Mailcoach 2.11.5

Class "Models\Campaign":

[code]

The problem is the try catch on "unserialize". unserialize is throwing an "E_NOTICE" and returns FALSE. When error reporting is without "E_NOTICE" $segmentClass is FALSE and

[2020-05-19 20:40] funkdoobiest opened #192 "Custom replacers not working with custom mailable"
Hi,

when I add a campaign with a custom mailable, my custom replacers are not working.
I do not know why, but this workaround helps me:

[code]

I set the mailable to "null" after setting content and then it's working like expected.

PHP 7.4.5
Mailcoach 2.11.5

[2020-05-20 07:42] freekmurze commented on #191
What is the content of the `E_NOTICE`. Do you have a trace?

[2020-05-20 09:36] riasvdv commented on #192
I've just added a test with a custom Mailable & Replacer and everything works as expected.

Could you give a little more context:
- what does your Replacer and custom Mailable look like?
- What's the content and what are you expecting to happen?

[2020-05-20 09:38] ziming commented on #192
Just to check does replacer work when i am using $this->markdown instead of $this->view in my custom mailable?

[2020-05-20 18:31] iAmKevinMcKee opened #193 "All Messages going to Log"
I am trying to get Mailcoach installed and use SES as my driver.

I am able to send emails through SES outside of mailcoach (for example, the password reset email that comes standard with Laravel).

However, when I try to send any email with Mailcoach, it uses the log driver. For example, here is the result of my job from telescope. Note near the very end where the mailer is set to log.

[code]

H

[2020-05-20 18:34] freekmurze commented on #193
In a tinker session what is the output of `config('mail')`?

[2020-05-20 18:36] freekmurze commented on #193
Maybe you have not restarted your queues and they are still making use of some old mail config?

You could try to create a new job, let it write to output of `config('mail')` to the log file, and dispatch it.

[2020-05-20 18:47] iAmKevinMcKee commented on #193
I terminated and restarted horizon. Still seeing mailcoach emails go to log.

Here's the `config('mail')` from a new job.

[code]

[2020-05-20 20:28] freekmurze commented on #193
That's very strange. I'm thinking it's something specific to your app and not a bug in Mailcoach. Could you try installing it in a fresh copy of Laravel?

[2020-05-20 21:58] iAmKevinMcKee commented on #193
Is there anything else you can think of that I could try to debug? I just created this site a few days ago and there's nothing to it. It's a personal site with single page. If not for using mailcoach to get email subscribers, it would have been a Jigsaw static site.

I will try to spin up a new site and reinstall everything and check tonight, but please let me know if you can think of anything els

[2020-05-21 02:11] iAmKevinMcKee commented on #193
Turns out my problem was that when I created the list, the MAIL_MAILER was 'log' so it set that value on the EmailList model. I didn't realize this setting was available in the UI.

I just had to go here and update the mailer:

![image](https://user-images.githubusercontent.com/4503765/82515659-5e13e200-9ade-11ea-9455-cd572f057673.png)

[2020-05-21 02:11] #193 closed, assigned to nobody

[2020-05-22 12:16] ziming commented on #192
@riasvdv Isn't there a still open PR on this? Waiting for it to get merged too :)

https://github.com/spatie/laravel-mailcoach/pull/225

[2020-05-26 13:50] rjnicolai opened #194 "How to upgrade to a new version and keep data (one-click installer)"
We are using the one click installer and noticed there is a new version out. How can we upgrade to the latest version without any data loss of templates, users, etc.?

[2020-05-26 13:53] freekmurze commented on #194
The only thing you need to do, is to run `composer update` in the directory where the laravel apps resides. We'll make a note of this in the docs.

[2020-05-26 13:53] #194 closed, assigned to nobody

[2020-05-26 13:55] rjnicolai opened #195 "Options to choose beween comma and semicolon separator when importing .csv"
Excel exports .csv with a semicolon as separator on default. Mailcoach requires the separator to be a comma.  We'd love the option to change the separator in Mailcoach, to make importing more smoothly and simple to understand for our users

[2020-05-26 13:57] freekmurze commented on #195
That makes sense, thanks for your suggestion. We'll take care of making the delimiter configurable soon.

[2020-05-26 19:13] ziming commented on #184
ok, here are some updates. So it looks like their email client automatically tries to check each link and hence triggered the unsubscribe link every time i sent to them as well.

As for why this doesn't happen back in the days of using Mailchimp, I suppose Mailchimp either has an extra confirmation page (or ask why you unsubscribing screen first) or that mailchimp is famous enough that the email c

[2020-05-27 12:25] riasvdv commented on #189
All dates and times are shown in the same timezone, we've recently had some fixes on the feedback packages (they were not using the correct timestamps)

If updating the feedback packages doesn't work, could you elaborate some more on which dates & times you expect to see? That might help us solve the issue you're having

[2020-05-27 12:35] riasvdv commented on #192
Seems like that PR will indeed solve your issue, I'm closing this in favor for the PR. If the author can't work on it anymore we'll pick it up!

[2020-05-27 12:35] #192 closed, assigned to riasvdv

[2020-05-27 13:12] riasvdv commented on #195
This is something you can customize yourself by replacing the `mailcoach.actions.import_subscribers` action with a class of your own that extends our `\Spatie\Mailcoach\Actions\Subscribers\ImportSubscribersAction::class` and overwriting the `importSubscribers()` method (you can basically copy-paste the method and add the `useDelimiter` option to the SimpleExcelReader)

Implementing this now would

[2020-05-27 13:12] #195 closed, assigned to riasvdv

[2020-05-27 13:13] riasvdv commented on #186
This is something you can customize yourself by replacing the `mailcoach.actions.import_subscribers` action with a class of your own that extends our `\Spatie\Mailcoach\Actions\Subscribers\ImportSubscribersAction::class` and overwriting the `importSubscribers()` method
(you can basically copy-paste the method and change where we use `$subscriber->syncTags($row->tags());` with `$subscriber->addTags

[2020-05-27 13:13] #186 closed, assigned to riasvdv

[2020-05-27 13:16] riasvdv commented on #190
This is fixed in 2.13.0

[2020-05-27 13:16] #190 closed, assigned to riasvdv

[2020-05-27 14:46] jonaswouters opened #196 "Unlayer caches the template/content and shows it in every other view"
Since updating to the last version, updating any content seems to overwrite all templates and campaign content.

The content is not actually saved to the database, but it uses the same cached HTML every time unlayer is used in a view.

[2020-05-27 14:50] jonaswouters commented on #196
A little update. The Uncaught TypeError: unlayer.init is not a function only happened when you have a pi-hole running.  After disabling that, this problem stays.

Any change/update anywhere to the template, is visible everywhere else.   You have to clear the cache to show the actual content/template.

[2020-05-27 19:56] jbraband commented on #192
The PR is ready for @riasvdv to review

[2020-05-27 23:18] w3bleads commented on #189
Updating to "2.13.0" version not resolve a problem
Campaign->Statistics->Opens->"FIRST OPENED AT" show by UTC time, but I set in config/app.php "America/Los_Angeles" timezone (UTC-7)
Others all dates and times work correctly.
And I am using SES if its help.

[2020-05-27 23:24] w3bleads opened #197 "Campaign statistics - Opens date time problem"
Updating to "2.13.0" version not resolve a problem
Campaign->Statistics->Opens->"FIRST OPENED AT" show by UTC time, but I set in config/app.php "America/Los_Angeles" timezone (UTC-7)
Others all dates and times work correctly.
And I am using SES if its help.

[2020-05-28 10:10] #197 closed, assigned to nobody

[2020-05-28 12:14] gosman commented on #26
Great product but docs leave a lot to be desired!!

[2020-05-28 12:18] freekmurze commented on #26
If there are other things you see that can improved on the docs, let me know!

[2020-05-28 21:14] w3bleads commented on #189
Some data from mailcoach_campaign_opens and webhook_calls tables
![1 PNG](https://user-images.githubusercontent.com/65088207/83194357-9902bf00-a149-11ea-8b6b-7494059bfd1b.png)
![Screenshot_1](https://user-images.githubusercontent.com/65088207/83194365-9b651900-a149-11ea-8e5a-16988ddb45f3.png)

[2020-05-28 23:43] adamthehutt opened #198 "EmailList::tags() ignores model name configuration"
The mailcoach configuration settings allow for child classes to be used in lieu of the standard Subscriber, EmailList, and Template models. However, the tags() method in the EmailList class fails if different model names have been set.

Currently we have:

[code]

This results in an SQL error when the model is named, say, MailcoachList. The fix should be as simple as:

[code]

[2020-05-29 00:27] adamthehutt commented on #198
It looks like there may be a number of similar issues in other spots. Most everywhere that a relation is defined the code is relying on Laravel conventions to guess the key names, rather than having them explicitly defined. This only works if the Model class base names are the same as the Mailcoach defaults.

[2020-05-30 16:53] nkeena commented on #133
I'm running the latest version `v2.13.0` and this still seems to be an issue. When using a custom mailable it's passing an empty string into line 34 of the `PrepareEmailHtmlAction.php`. Am I missing something that needs to be added to my mailable to inject the HTML?

This is the error I keep getting in my `failed_jobs` table only when using a custom mailable:
[code]

[2020-05-30 20:00] jbraband commented on #133
Sounds like your mailable implements ShouldQueue, is that correct?

I'm pretty sure the custom mailable must not be queued for it to work. I'll check the next time I'm at my desk.

Consider that mailcoach only sends mail from inside a queued job, so queueing the mail isn't really needed since the "slowness" of sending mail won't slow down a web response to the user.

[2020-05-30 20:34] nkeena commented on #133
This is my mailable. It's only extending `CampaignMail` as per the mailcoach documentation.

[code]

[2020-05-30 21:39] w3bleads commented on #189
it helps me,  but is it correct?
in SesEvent
`public function getTimestamp(): ?DateTimeInterface`
`{`
`$eventType = strtolower($this->payload['eventType']);`
``
`    $timestamp = $this->payload[$eventType]['timestamp'];`
``
`//        return $timestamp ? Carbon::parse($timestamp) : null;`
`    return $timestamp ? Carbon::parse($timestamp, 'UTC')->setTimezone('America/Los_Angeles') : null;`
`}`

[2020-06-01 18:29] adamthehutt opened #199 "Template controller ignores model configuration"
Similar to #198.

TemplatesController::store() makes a direct call to Template::create(), ignoring the template model specified in the configuration.

Happy to do pull requests for this kind of thing, but I'm not sure that's possible since the code is in a private repository...

[2020-06-01 18:52] freekmurze commented on #199
Thanks for bringing this to my attention. If you want to fix this yourself, you can do so.

You can get access to the private mailcoach repo by clicking the "Configure GitHub access" button on this page: https://mailcoach.app/account

[2020-06-01 19:22] adamthehutt commented on #199
Great, thank you. Will do!

[2020-06-01 21:30] adamthehutt commented on #199
Okay, a pull request has been submitted: https://github.com/spatie/laravel-mailcoach/pull/241

[2020-06-01 22:54] freekmurze commented on #199
Merged and tagged. Thanks!

[2020-06-01 22:54] #199 closed, assigned to nobody

[2020-06-02 03:51] connecteev commented on #96
Hi @freekmurze can we bump this up to extend the period for the performance graph? thanks...

[2020-06-02 03:53] connecteev commented on #130
+1 @freekmurze Drip campaigns would be incredibly useful.

[2020-06-02 03:53] ziming opened #200 "Confirmation Page before actual unsubscribe"
Hi,

You may recall some time earlier about having some strange Email List unsubscribe issues. It turns out that for those users in my mailing list, their email client tries to auto check the links in the email which includes triggering the unsubscribe link.

Hence although they did not want to unsubscribe, they keep getting unsubscribed automatically.

Hence I like to propose that the unsubscribe

[2020-06-02 04:10] connecteev commented on #200
It would be better if this would be a configurable option in Mailcoach.

[2020-06-02 06:47] ziming opened #201 "Unsubscribe link truncated?"
So i have some error logs related to unsubscribed due to me trying to access $event->send->subscriber in my UnsubscribedListener. As send is null.

https://my-domain.censored/mailcoach/unsubscribe/ef02e66d-24d6-477c-8aec-0ed638c89866/ZGIzYzQwYT

The Email List part is the correct UUID. But the Send UUID is totally weird. Ends up the user unsubscribe from the email list, but because ZGIzYzQwYT does

[2020-06-02 08:08] freekmurze commented on #201
Mailcoach itself does not trim the links. I suggest you send a campaign to yourself, check in the email client if the link is correct.

Any tips on how to recreate this behaviour are welcome.

[2020-06-02 08:49] ps-cyrano opened #202 "Update UI to use custom subscriber fields"
I've added custom fields to the subscriber model via a migration and I've updated the views to reflect these fieds, but how do I update the controller action?

E.g. the create action:

The `CreateSubscriberRequest` returns only the first_name and last_name fields, how do I add there my fields so they are stored?

Thanks for this great package

[2020-06-03 12:27] mbardelmeijer commented on #131
@freekmurze would you accept a full PR with translations in Dutch for mails & application on the `spatie/laravel-mailcoach` branch?

[2020-06-03 13:16] bluelupin opened #203 "Customization of Frontend"
This issue is continuation to the closed issue - https://github.com/spatie/mailcoach-support/issues/180

I was able to customize the frontend as per the instructions. However, following are a few observations:

1. **[Critical]** Though landingPages directory is also copied in the vendor folder, changes are not reflected.
2. It would be great if we could specify the vendor folder name ourselves
3.

[2020-06-03 16:38] nkeena opened #204 "Custom Mailable Errror - DOMDocument::loadHTML is being passed an empty string"
I'm running version `v2.13.0`. When using a custom mailable it's passing an empty string into line 34 of the `PrepareEmailHtmlAction.php`. Am I missing something that needs to be added to my mailable to inject the HTML?

This is the error I keep getting in my `failed_jobs` table only when using a custom mailable:
[code]

This is my mailable. It's only extending `CampaignMail` as per the mailcoach

[2020-06-03 18:51] freekmurze commented on #203
1. Maybe you've cached your views? Run `php artisan views:clear`

2. I assume you mean the `vendor` directory in the `resources/views` directory. We can't change that. This name is hardcoded in Laravel.

3. Maybe @sebastiandedeyne can answer that one.

[2020-06-03 22:01] jasonkaplan79 opened #205 "Question on using Mailcoach for unlimited domains"
I have a technical question about the Mailcoach "unlimited domains" plan.
How is that enforced? If I purchase mailcoach for one domain, I understand that during installation, there is a mailcoach API key used to get the latest code. But what is stopping someone from doing that and using the same downloaded code from mailcoach for additional domains?
To be clear, I am not advocating that people do

[2020-06-04 06:32] mabadir opened #206 "Links clicked appended by wrong characters"
Hello,

When checking the clicks for a campaign `campaigns/{id}/clicks`, I see that the links are appended by wrong characters, mainly brackets ")".

I am not sure where to start from to track this problem.

[2020-06-04 07:29] sebastiandedeyne commented on #203
Hi @bluelupin!

Since Mailcoach uses [Tailwind](https://tailwindcss.com), we generally recommend updating views instead of globally modifying CSS. We might make Mailcoach more "themeable" in the future, but that's not on the roadmap right now.

You can always register additional CSS by pushing it to the `endHead` stack from your views.

[code]

See https://github.com/spatie/laravel-mailcoach/blob/

[2020-06-04 07:29] #203 closed, assigned to nobody

[2020-06-04 07:33] freekmurze commented on #206
I'm pretty sure this is caused by something specific to your installation, as you are the first to report this.

Right now, there's too little information to help you. Could you give us as much info as possible:
- the `html` use use
- the email client you are seeing this problem in
- the email sending service you are using
- can you replicate the problem in a fresh installation?
- ...

[2020-06-04 07:55] freekmurze commented on #205
Currently there are no technical checks in place. You should pick the right license though to be in order legally.

If we see abuse, we might add checking code.

[2020-06-04 07:55] #205 closed, assigned to nobody

[2020-06-04 10:03] beberlei commented on #188
@riasvdv an update, i went down this rabbit hole yesterday and the Swiftmailer Transport for Postmark doesn't even use SMTP, but their REST API. So there needs to be a change in wildbit/swiftmailer-postmark first, i created https://github.com/wildbit/swiftmailer-postmark/issues/28 and will work on a PR.

[2020-06-04 11:41] WDC commented on #8
When using Mailcoach with Laravel Vapor, we are running into the following error:

```Redis connection [horizon] not configured.```

We are deploying to AWS Lambda and AWS Elasticache (Redis) with the following `config/connections.php` configuration:

[code]

And this `config/queue.php`:

[code]

The error message is very odd, because the `horizon` connection is most certainly defined, and when ru

[2020-06-04 12:59] riasvdv commented on #188
Oof, sounds like a pain, will look into this as soon as that's fixed then!

[2020-06-04 15:12] webmastervinay opened #207 "Subscriber import issue"
I was trying to import 20 subscribers but failed. I am on Laravel Forge with AWS. My horizon & scheduler both are running. However, the import row is still showing pending even after 10-15 minutes. I can see some jobs in the Horizon dashboard, but it is not in pending jobs, failed jobs or completed jobs. There is no error message in logs. What could be the problem?

[2020-06-04 18:51] nkeena commented on #204
Finally got it to work by updating my mailable and view to what's below.

From what I can tell, the content from the Mailable's view is extracted by Mailcoach and used instead of the `$campaign->html`. It also would not work when using a variable named `$html` or `$campaignHtml`. That's why I chose `$emailContent`.

The documentation on using a custom mailable is kinda vague, so hopefully this hel

[2020-06-04 18:51] #204 closed, assigned to nobody

[2020-06-05 06:09] mabadir commented on #206
Hi Freek,
Thanks for your response, just to clarify, I am not seeing that on the email client. Those are the links stored under clicks.
I can see them in the database under `mailcoach_campaign_links.url`. I cannot replicate this issue even on the same installation.
It happened to one campaign using specific HTML email. Other campaigns using the same template work fine.

This campaign was using Sen

[2020-06-05 10:38] webmastervinay commented on #207
Working fine, there was some issue with horizon.

[2020-06-05 10:38] #207 closed, assigned to nobody

[2020-06-05 16:55] beberlei opened #208 "Campaign never stops "sending" status"
![Screenshot_2020-06-05 Campaigns Mailcoach](https://user-images.githubusercontent.com/26936/83903226-091ecf80-a75e-11ea-9dd3-5e45067a4d92.png)

I cant seem to find out why this "sending" status never goes away. 1 e-mail seems to be unsent, but never gets sent (for days now).

[2020-06-05 17:32] goaround commented on #208
Try to raise the timeout for the send-campaign queue. If the job times out, it will stay like you described it

[2020-06-05 18:17] beberlei commented on #208
@goaround any pointers how that is done? I don't usually use Laravel only for Mailcoach.

[2020-06-06 10:16] jonaswouters commented on #196
I did some investigating, and even though the correct template gets loaded via an XHR request, the first opened template gets loaded via unlayer.loadDesign().

Disabling turbolinks on templates and campaigns fixes this issue for me for now.

[code]

[2020-06-06 12:58] ziming commented on #201
Hi @freekmurze

Sending the campaign to myself looks fine although I discovered a new bug.

In Helo during development, My unsubscribe link is a proper link with the word Unsubscribe

But in production. In my Web and desktop Outlook. The Unsubscribe link appears literally as:

`[Unsubscribe](https://thelink.com)`

The markdown is completely escaped. My email template view is a markdown view and al

[2020-06-08 06:58] riasvdv commented on #196
Thanks for the research, I'll look into it this week!

[2020-06-08 07:54] freekmurze commented on #201
Which email provider do you use? Have you set up tracking op clicks / opens?

[2020-06-09 11:14] goaround commented on #208
In `config/horizon.php` I created a supervisor just for the queue `send-campaign` and there you can raise the timeout

Here is my supervisor:

[code]

Be sure to remove the queue `send-campaign` from the default `mailcoach` supervisor

[2020-06-09 12:15] bluelupin opened #209 "Webview on different url like S3"
There is need of running Mailcoach on a secure server behind the VPN/firewall. The public URL for webview will not be accessible. There should be a provision to deploy review on different URL, for example, S3 bucket. It could be a simple job that can copy HTML file on some different storage disk.

[2020-06-09 17:54] freekmurze commented on #209
This is something that is not supported by Mailcoach itself, but with a little knowledge of Laravel, you can take care of this yourself.

Listen for the event that is fired when a campaign has been sent. Using that event you can get to the html of the sent campaign and you can do whatever you want with that html.

[2020-06-09 17:54] #209 closed, assigned to nobody

[2020-06-09 18:05] ziming commented on #201
ses

I did not set up clicks so it should be the raw unsubscribe link

[2020-06-12 04:19] connecteev opened #210 "Installation steps in documentation - How to prevent "Route [login] not defined" error in Mailcoach Installation"
I was setting up Mailcoach (the package) in an existing laravel 7 project. After going through all the steps [here](https://mailcoach.app/docs/v2/package/general/installation-and-setup) I was met with this error page when I went to http://127.0.0.1:8000/mailcoach
[code]
I did try adding Auth::routes(); to my routes/web.php, but I was getting redirected to /login with:
[code]

The docs need to make

[2020-06-12 11:21] riasvdv commented on #208
@goaround his solution should work! Thanks

@beberlei You could also check Horizon to see what went wrong with the send campaign job. If it's something other than a timeout please open a new issue

[2020-06-12 11:21] #208 closed, assigned to riasvdv

[2020-06-12 11:27] riasvdv commented on #198
This should be fixed in the latest version thanks to your PR

[2020-06-12 11:27] #198 closed, assigned to riasvdv

[2020-06-12 12:16] rubenvanassche commented on #206
Hi @mabadir,

Tried recreating this issue but couldn't, I have tried this with SendGrid. Mailcoach normally won't replace these links(unless you've added an extra replacer), this is handled by the transactional mail providers like Mailgun and Sendgrid. Which transactional provider are you using? Is there maybe a setting over there where this goes wrong?

[2020-06-12 12:21] sebastiandedeyne commented on #196
Hey @jonaswouters,

Thanks for reporting and investigating! I tagged a new version of `laravel-mailcoach-unlayer` that fixes the Turbolinks compatibility issues.

[2020-06-12 12:21] #196 closed, assigned to riasvdv

[2020-06-12 12:27] rubenvanassche commented on #201
Hi @ziming a few questions:

- What's going on in `CustomMarkdownMailable` could it be for some reason that the markdown isn't converted into html when running in a production env?
- Could you also provide a dump of the `htmlContent` in production?

Thanks!

[2020-06-12 19:31] connecteev opened #211 "No Campaign Stats are seen - Opens, clicks, etc do not get registered"
**Steps:**
- Set up mailcoach using the steps at https://mailcoach.app/docs/v2/package/general/installation-and-setup
- Once set up, go to http://127.0.0.1:8000/mailcoach
- Create a test email list and campaign
- Go to http://127.0.0.1:8000/mailcoach/campaigns/5/delivery
- Hit "Send Now" and confirm the send by clicking "Send 2 emails"
- You get redirected to http://127.0.0.1:8000/mailcoach/campai

[2020-06-12 19:33] connecteev opened #212 "Error: "Division by zero" error page on sending a new campaign"
**Steps:**
I just installed mailcoach as a package and tried to send some test campaigns.

Steps:
- Go to http://127.0.0.1:8000/mailcoach/campaigns/5/delivery
- Hit "Send Now" and confirm the send by clicking "Send 2 emails"
- You get redirected to http://127.0.0.1:8000/mailcoach/campaigns/5/summary

with this error (note that about 20% of the time the error is not seen, no idea why)
Note that the

[2020-06-13 08:59] freekmurze commented on #211
We'll continue the conversation at the laravel-mailcoach repo

[2020-06-13 08:59] #211 closed, assigned to nobody

[2020-06-13 09:00] freekmurze commented on #212
We'll continue the conversation at laravel-mailcoach.

[2020-06-13 09:00] #212 closed, assigned to nobody

[2020-06-13 09:01] freekmurze commented on #200
Having it as a configurable option is a good idea. We'll also make the confirmable behaviour the default in v3.

Closing this now but we'll revisit this when creating v3

[2020-06-13 09:01] #200 closed, assigned to nobody

[2020-06-13 09:02] freekmurze commented on #191
Closing due to inactivity.

[2020-06-13 09:04] freekmurze commented on #210
I think you can solve this by specifying a route that does exist in the `redirect_unauthorized_users_to_route` of the mailcoach config file.

[2020-06-13 09:04] #210 closed, assigned to nobody

[2020-06-13 20:46] connecteev commented on #210
Yes, thanks, it would just be good to add both of these options to the documentation, so that others (perhaps me, when I forget in the future!) don't encounter the issue again.
- ```redirect_unauthorized_users_to_route ``` in mailcoach config, which I tried setting to null without success previously ('null' doesnt make sense in hindsight now), and
- call make:auth in laravel to enable login / regi

[2020-06-14 23:41] funkdoobiest commented on #191
There is no Exception with "error_reporting(E_ALL & ~E_NOTICE & ~E_DEPRECATED);". That is ne problem. When setting "error_reporting(E_ALL & ~E_NOTICE & ~E_DEPRECATED);" and you create a new campaign "$segmentClass" is null.

[2020-06-16 12:06] Elandlord opened #213 "Images not showing in Campaign email"
Hi,

Yesterday, we bought Mailcoach, so that we could integrate it into an existing Laravel project. After a couple problems with Redis and other configuration files, I managed to get it to work. Interesting stuff!

Everything seems to be working fine, however, images I added in a Template are not showing up when sending an e-mail. They are working when I try to preview it.

![image](https://user-

[2020-06-16 12:26] freekmurze commented on #213
What is the path used in the broken image?

[2020-06-16 12:30] Elandlord commented on #213
https://ci6.googleusercontent.com/proxy/3poPivFLQn9DKtJ9HypDfHR-hYguqwrZ1I_WXumt1A1BPLP3LX6WpmEH8F1-L63-tLqWu20ZnJKI_rEXHZvpxmtsg41DUWHOwE0ax2boC1gZc24pxTRjx1GGmkU=s0-d-e1-ft#http://allesinbeweging.test/storage/3/conversions/bikker-terras-image.jpg

I see it references the local URL, surely that seems to be the problem?

I was unaware of this. I figured the uploads were stored in the database.

[2020-06-16 15:13] Elandlord commented on #213
I can confirm this is not an issue. I've deployed my project to a server and got the images to work.

Thanks!

[2020-06-16 15:13] #213 closed, assigned to riasvdv

[2020-06-17 13:33] electronick86 commented on #212
@freekmurze , can you tell me where can I follow this discussion? I have the same problem.

[2020-06-17 13:42] freekmurze commented on #212
This problem has already been fixed in the latest version. Just run composer update to pull in the fix 👍

[2020-06-17 13:45] electronick86 commented on #212
Thank you @freekmurze . Just had to php artisan view:clear ;-)

[2020-06-18 06:39] electronick86 opened #214 "Advice: wrong encoding of of "|" character in links"
Hi!

I'm not sure my problem is due to mailcoach at all, but as I can't explain it, I would like to get your advise.

My customer has a website with URL that contains pipes ("|") characters.

[code]

When i create this mail, the preview of mailcoach contains a correct link.
<img width="342" alt="Capture d’écran 2020-06-18 à 08 35 29" src="https://user-images.githubusercontent.com/8201501/8498640

[2020-06-18 06:56] electronick86 commented on #214
I see [here](https://help.marklogic.com/Knowledgebase/Article/View/251/0/using-url-encoding-to-handle-special-characters-in-a-document-uri) that specials characters should be encoded.

I suppose that the encoding done by mailcoach is the expected behavior and that the problem is on my client site. His website should interpret these two URLs exactly the same way (`https://testdomain.be/?ed=MYED#|SU

[2020-06-18 07:37] rubenvanassche opened #215 "Test mail not coming through"
Hello,

I have purchased the script and installe dit on a DO server with the one click installer.

When I try to send an email I recive following error.

Type of App\Mail\TestMail::$theme must not be defined (as in class Illuminate\Mail\Mailable)

Symfony\Component\ErrorHandler\Error\

FatalError

in /var/www/html/app/Mail/TestMail.php (line 9)

use Illuminate\Bus\Queueable;use Illuminate\Mail\Mai

[2020-06-18 08:24] riasvdv opened #216 "Issue with v1 and Laravel 6"
In MedialibraryServiceProvider.php:33

[2020-06-18 11:01] rubenvanassche commented on #215
Hi this is solved by updating to Mailcoach 2.2.1!

[2020-06-18 11:03] #215 closed, assigned to rubenvanassche

[2020-06-18 13:15] riasvdv commented on #214
This is definitely something the website should support, url encoding/decoding is a standard practice to make HTML safe to process and send.

If you'd like to change this, you can replace the `PrepareEmailHtmlAction` with a version of your own in the `mailcoach.actions.prepare_email_html` config key that extends our class and calls `urldecode` on the resulting HTML. This could have unintended side

[2020-06-18 13:15] #214 closed, assigned to riasvdv

[2020-06-18 13:17] electronick86 commented on #214
Thanks a lot @riasvdv !

[2020-06-18 14:38] #216 closed, assigned to riasvdv

[2020-06-18 19:05] electronick86 commented on #159
Hello, can you tell my why mailcoach remove the doctype tag?

My html html begins with `<!doctype html>` and the layout works perfectly with the "Test your email first" function.

Once that the campaign is sent, this tag is removed and the final email html contains `<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN" "http://www.w3.org/TR/REC-html40/loose.dtd">`. At that moment, my templ

[2020-06-18 23:10] freekmurze commented on #159
Add @electronick86 could you open a new PR for this? Please include the html that you are using.

[2020-06-20 02:04] jeffjacobsen opened #217 "SES-Feedback using 'notificationType' instead of 'eventType'"
I've seen this error a few times recently when trying to run ProcessSesWebhookJob:

`ErrorException: Undefined index: eventType in /home/forge/patternjam.com/releases/20200620011533/vendor/spatie/laravel-mailcoach-ses-feedback/src/SesEvents/Click.php:11`

Looking in the webhook_calls table, it appears that on a few occasions we have received a message that has a notificationType instead of an even

[2020-06-22 05:46] philsam opened #218 "jobs table not found"
@freekmurze  I'm getting a lot of this in my log files. Please help me resolve

Base table or view not found: 1146 Table 'mailcoach.jobs' doesn't exist (SQL: select * from `jobs` where `queue` = default and ((`reserved_at` is null and `available_at` <= 1592804014) or (`reserved_at` <= 1592803924)) order by `id` asc limit 1 for update) {"exception":"[object] (Illuminate\\Database\\QueryException(co

[2020-06-22 06:29] freekmurze commented on #218
It seems like you aren't using Horizon / Redis for queues. Please refer to the installation instruction on how to set that up.

[2020-06-22 06:29] #218 closed, assigned to nobody

[2020-06-24 04:01] philsam opened #219 "Gmail opens tracking"
It seems emails sent to Gmail are automatically opened without the recipient actually opening the email. Is there any workaround for this?

[2020-06-24 06:16] Dgalhotra commented on #44
I'm using 7.4 still getting that error

[2020-06-24 08:01] freekmurze commented on #219
I haven't seen this behaviour yet, and I can't offer a workaround right now.

[2020-06-24 08:01] #219 closed, assigned to nobody

[2020-06-24 16:02] beberlei commented on #208
@riasvdv can you explain what "checking horizon" entails? I have no clue

[2020-06-25 11:13] riasvdv commented on #208
You can access horizon at https://your-mailcoach-domain.com/horizon and get information on the queues

[2020-06-26 07:47] riasvdv commented on #217
Could you check for me that those 50 are all complaints? AWS might just be using a different format for those

[2020-06-26 09:28] beberlei commented on #208
@riasvdv alright, then I think i have the bug. During attempting to send an email it fails, and the failure reason is stored, but that fails with a database column length error:

![Screenshot_2020-06-26 Horizon - Failed Jobs](https://user-images.githubusercontent.com/26936/85842511-1b5dbd80-b7a0-11ea-92ab-2eec3fefb546.png)

[2020-06-26 09:29] beberlei opened #220 "PDOException: SQLSTATE[22001]: String data, right truncated: 1406 Data too long for column 'failure_reason'"
Follow up from #208

![Screenshot_2020-06-26 Horizon - Failed Jobs](https://user-images.githubusercontent.com/26936/85842590-3b8d7c80-b7a0-11ea-9817-60a1b7449516.png)

[2020-06-26 14:58] beberlei opened #221 "In mailcoach admin show a small warning when not running in production"
It is currently not visible when you run your mailcoach instance in "local" environment instead of "production". The Mailcoach admin could show a small error when this happens.

[2020-06-26 15:00] freekmurze commented on #221
Maybe we could add this to the footer. @riasvdv could you take a look at this?

[2020-06-28 07:41] willyw2k opened #222 "Error Import Subcriber After Update To Last Version!"
Hi , Im got Error Import Subcriber After Update To Last Version

![image](https://user-images.githubusercontent.com/11731303/85941451-56512400-b94d-11ea-9652-e5d8b0335a5f.png)

![image](https://user-images.githubusercontent.com/11731303/85941444-46394480-b94d-11ea-92b7-7a2ba10fe063.png)

[2020-06-28 08:11] #220 closed, assigned to nobody

[2020-06-29 07:52] mbardelmeijer commented on #222
Hey @willyw2k -- have you restarted Horizon (queue worker) after updating to the latests version?

[2020-06-29 08:04] willyw2k commented on #222
@mbardelmeijer  yes, im already restart the horizon

![image](https://user-images.githubusercontent.com/11731303/85988822-d0e77580-ba19-11ea-856b-b8316e026069.png)

![image](https://user-images.githubusercontent.com/11731303/85988772-bf05d280-ba19-11ea-8325-7dca8278bba5.png)

[2020-06-29 20:38] jeffjacobsen commented on #217
They not only all seem to be complaints, but they all tend to be from only a few email providers (comcast.net, sbcglobal.net, aol.com)   Complaints from others (such as gmail) are always in the correct format.

I've also noticed that in some cases there are 2 feedback messages coming together, with one in the correct format and one in the wrong format, but otherwise the same complaint, so it may b

[2020-06-29 20:49] jeffjacobsen opened #223 "Too easy to forget to Save in Unlayer editor"
1 - Make changes to a Campaign email on the Content tab
2 - Forget to click Save Content at the bottom
3 - Click on the Delivery tab to send myself a Test email
4 - Go back to the Content tab and realize my changes are gone

It would be helpful to have a modal to warn me to save changes before leaving the Content edit tab

[2020-06-29 20:55] freekmurze commented on #223
Agreed, we'll have to improve on this.

[2020-06-30 06:05] riasvdv commented on #217
Okay, we'll opt to ignoring messages without `EventType` then, thanks for helping us research, I've created an issue on the ses-feedback package to implement it https://github.com/spatie/laravel-mailcoach-ses-feedback/issues/11

[2020-06-30 06:05] #217 closed, assigned to riasvdv

[2020-06-30 09:35] riasvdv commented on #217
Fixed in 2.2.1

[2020-06-30 12:55] willyw2k commented on #222
Already Solved , Thanks @freekmurze @mbardelmeijer

[2020-07-01 07:27] riasvdv commented on #223
This is fixed in the 1.1.2 version of (https://github.com/spatie/laravel-mailcoach-unlayer/commit/41563055342836b46416d557f4fd898eb7dfa41c)! It will now ask you to confirm when you haven't saved any changes yet.

[2020-07-01 07:27] #223 closed, assigned to riasvdv

[2020-07-01 07:35] riasvdv commented on #221
![image](https://user-images.githubusercontent.com/3626559/86216300-1cb32f80-bb7e-11ea-9955-b7da5e65ab76.png)

We'll now (2.19.3) show a label in the footer when your environment isn't set to production, or debugging is on

[2020-07-01 07:35] #221 closed, assigned to riasvdv

[2020-07-01 07:59] riasvdv commented on #222
@willyw2k Could you share what the solution was? So others might benefit from it if they come across this issue?

[2020-07-01 08:10] riasvdv commented on #189
I've released a new version of laravel-mailcoach-ses-feedback (2.2.2) that takes into account the app's configured timezone, let me know if that fixes your issue!

[2020-07-01 08:10] #189 closed, assigned to riasvdv

[2020-07-01 08:11] willyw2k commented on #222
@riasvdv its wrong setting in my end im adding app folder in .gitignore

[2020-07-01 08:12] riasvdv commented on #222
Ok! Closing this then

[2020-07-01 08:12] #222 closed, assigned to rubenvanassche

[2020-07-01 12:16] electronick86 commented on #206
I have the same problem. I only use sendgrid. Maybe it comes from the sendgrid side.

[2020-07-03 06:43] rubenvanassche commented on #206
@electronick86 Is it possible for you to check Sendgrid for settings that could cause this? And do you have an example of an Url that get's the wrong clicks? Maybe we can find some pattern?

[2020-07-03 06:51] electronick86 commented on #206
So, 3 things,

* The wrong character I see is always a ")".

* I see feedback even for content that is not a link tag in my email body, it's a <img /> header. Strange

* I looked at the feedback payload and the wong characters comes well in the payload

I wonder if there is not something wrong at the sendgrid side. But in the configuration, I don't see any settings for that.

![Clicks___7Dimanche_

[2020-07-03 06:55] rubenvanassche commented on #191
Hi @funkdoobiest, I've tried setting the error reporting to the levels you described, but no exception is thrown when creating a new campaign. I tried setting the `error_reporting` in `config/app.php` and the `AppServiceProvider. Where did you configure the error_reporting?

[2020-07-03 09:29] electronick86 opened #224 "post from external form : return 419 page expired"
Hello,

I'm trying to implement a subscription form from an external website (from a wordpress).

I receive a message "419 expired" as the request doesn't contains a csrf token.

Should this setup works? Is it possible to disable the csrf token verification on this request?

[2020-07-03 09:35] electronick86 commented on #224
should I do that :

[code]

[2020-07-03 10:14] #224 closed, assigned to nobody

[2020-07-13 19:34] ziming commented on #201
Hi @rubenvanassche

Sorry for the late reply

The CustomMarkdownMailable is just this

[code]

Here is how the code is like in the email view (the last few lines)

[code]

When the email is sent out in production, all the markdown gets converted to HTML. Except the Unsubscribe link.

The unsubscribe link looks like this. It shows up like the raw markdown tags instead of being changed to proper lin

[2020-07-14 13:17] timoladoyinbo opened #225 "Installing on Forge"
Hi, I'm trying to install as a package using the git repository feature offered on Forge but I'm getting an issue with authentication. Please what's the best way to add my credentials for it to work without having it in my version control?

Thanks.

[2020-07-14 13:34] freekmurze commented on #225
I suggest you place an `auth.json` in the composer home directory like described in our docs.

<img width="795" alt="image" src="https://user-images.githubusercontent.com/483853/87431846-7d635300-c5e7-11ea-8574-441b60b35890.png">

https://mailcoach.app/docs/v2/package/general/installation-and-setup

[2020-07-14 13:34] #225 closed, assigned to nobody

[2020-07-14 13:53] timoladoyinbo commented on #225
Thanks for the response. I have done that already, that is putting the auth.json in the home directory but still, get the same issue. I want to avoid putting it in the composer directory of the project as I'll be forced to include this in version control because of the automatic deploy.

[2020-07-14 14:17] freekmurze commented on #225
In normal circumstances the home directory of composer is not equal the home directory of the user. If in your case it is, I would suggest configuring composer to use another home directory that is not version control.

[2020-07-14 14:48] timoladoyinbo commented on #225
Thanks for the response. I think that might actually be the case here, I'll give it a try.

[2020-07-14 19:48] w3bleads opened #226 "How To Pause, Resume Campaigns"
Hello,
What do you recommend, how to pause, resume, stop, restart sending campaigns(campaign in the process of sending).

Thank you

[2020-07-14 20:15] freekmurze commented on #226
You can't do this in mail coach itself, but you can pause Horizon.

[2020-07-14 20:15] #226 closed, assigned to nobody

[2020-07-15 13:36] christophrumpel opened #227 "How to debug Unlayer error "The HTML is not valid"?"
Is there a good way to debug this Unlayer template error?
`The HTML is not valid (DOMDocument::loadHTML(): error parsing attribute name in Entity, line: 402).``

Is there a way to check the code when using the template editor?

[2020-07-16 06:36] jmichaelterenin opened #228 "Can I use predis as a substitute for PHP Redis?"
Laravel 7
php 7.4
Purchased MailCoach
Order confirmation #14146359
brett @ explore.com

I've installed predis and set the REDIS_CLIENT=predis in the .env file
Tested a single email campaign, and the job just spins and says it's preparing. Laravel horizon dashboard  doesn't indicate any jobs in the queue.

Is there anything else I need to do to use predis, or is it just not possible?

[2020-07-16 06:45] freekmurze commented on #228
Mailcoach relies on Laravel for connecting Redis. If something goes wrong there it's probably either:
- something wrong on your end (did you clear the config cache?)
- something wrong in Laravel (unlikely, but possible)

Could you test your setup by creating an app of your own, using predis there, and check if you can queue a job there.

Closing this for now, as I highly suspect this isn't a probl

[2020-07-16 06:45] #228 closed, assigned to nobody

[2020-07-16 06:49] jmichaelterenin commented on #228
Ok, just wanted to confirm that predis could be used, thank you! I did clear the config cache. I'll keep working on it.

[2020-07-16 07:14] jmichaelterenin commented on #228
It's a predis issue: `SELECT` failed: NOAUTH Authentication required. [tcp://127.0.0.1:6379] in the error log file. All the links I'm finding on this is related to using phpredis. If someone stumbles across this thread and can provide some insight, I'd greatly appreciate it.

[2020-07-16 17:18] maxacarvalho opened #229 "Image upload limit [QUESTION]"
Hello,

I started using the package (finally).
I'm using the **Unlayer** editor.

I see an error message when trying to upload images, it says that there's a limit of 1MB per image.
I searched within the package but I couldn't find the place where that's set, is it possible to configure?

Ps.: My PHP settings allow up to 99MB file upload. Of course I don't want to have file that big but still, I'd

[2020-07-16 20:53] freekmurze commented on #229
Mailcoach itself sets no limit on the maximum size of uploads. You'll need to configure that yourself. In most cases you do that by upping the max upload and max post size in php ini. Google a bit for a configuration for your hosting.

[2020-07-16 20:53] freekmurze commented on #227
Answered via Telegram.

[2020-07-16 20:53] #227 closed, assigned to nobody

[2020-07-16 21:03] freekmurze commented on #201
I've tried to reproduce this but wasn't able to. We also are not getting reports on this from other users. My guess it's caused by something specific to your setup.

Did you figure it out in the meantime?

[2020-07-16 21:04] freekmurze commented on #191
Closing due to inactivity.

[2020-07-16 21:04] #191 closed, assigned to rubenvanassche

[2020-07-16 21:05] freekmurze commented on #188
Closing this due to inactivity. @beberlei feel free to open up at our repo should there be anything that needs to be changed in mailcoach.

[2020-07-16 21:05] #188 closed, assigned to riasvdv

[2020-07-16 21:07] freekmurze commented on #202
Currently it seems that this is hard to accomplish without having to write your own controller and letting the route point to that one.

In the next major version of the package we could add an action for this, so it's easily overridable and customisable.

Closing this for now.

[2020-07-16 21:07] #202 closed, assigned to riasvdv

[2020-07-16 21:09] maxacarvalho commented on #229
Hello @freekmurze

My server is hosted on AWS, my PHP settings allow files up to 99MB (as I already said) to be uploaded.

[code]

The error that I'm getting seems to come from the frontend validation, since I don't see any call being made to the the backend. I added a screenshot [here](https://cln.sh/DTCVxm), so you can have an idea about what I'm talking about.

Thanks.

[2020-07-17 01:15] ziming commented on #201
No. Everything in that email blade file convert to markdown correctly except the unsubscribe link where `::unsubscribeUrl::` gets replaced with the actual unsubscribe url correctly, but the markdown didn't convert and change it to a proper link with the Unsubscribe word. Causing it to display as

[code]

I believe if my link in the brackets isn't `::unsubscribeUrl::` but an actual url, the markdow

[2020-07-17 03:55] jmichaelterenin commented on #228
@freekmurze I was able to figure it out, as I had set a password for predis for security reasons on our main website, and had to do the same for the Laravel 7 install. For those that stumble upon this error, the missing/incorrect credentials are why this error comes up.

[2020-07-17 05:16] christophrumpel commented on #227
Yes, thanks again. For everyone else: You cannot see the code of the email without a paid version of Unlayer.

[2020-07-17 07:22] rubenvanassche commented on #206
Hi guys, I still looked for aw while where this could be going wrong but couldn't find it. I would try for you guys to check the `ClickEvent` file in `vendor/spatie/laravel-mailoach-sendgrid-feedback`. Maybe you could add some logging temporarily to the `handle` function where you log the `payload` coming from Sendgrid? Because from that point the url passes through this piece of code:

[code]

Wh

[2020-07-17 07:22] #206 closed, assigned to rubenvanassche

[2020-07-18 21:08] maxacarvalho commented on #229
@freekmurze sorry to poke you again.

I'm forever grateful for all the amazing contributions that you and Spatie have done, and will continue to do for the PHP community but, since this is a paid product and the issue I'm facing comes from the product itself, I unfortunately have to say that, "Google search it" is far from what I'd expect from customer support.
Specially because the thing you sugg

[2020-07-21 09:07] rajolm opened #230 "Can I integrate MailCoach views inside my admin panel?"
Hi,
thanks for amazing work on this package (and other packages)

I want to ask if I can integrate MailCoach views inside my admin panel so it can be styled the same way as other pages inside my admin panel instead of visiting mailcoach built-in pages at /mailcoach route?
e.g. viewing campaigns and creating them using a page inside my admin panel
e.g. adding a page to edit campaigns and templates

[2020-07-21 09:10] freekmurze commented on #230
No, Mailcoach is meant to be used with the UI that we provide. I'm pretty sure that you could do some css hacks to override some of the styling, but we recommend using the UI that we ship.

[2020-07-21 09:10] #230 closed, assigned to nobody

[2020-07-21 09:11] freekmurze commented on #229
We'll take a look at this issue soon.

[2020-07-26 00:04] ziming commented on #201
Ok I did some extra testing so:

If it is

[code]

The email will display it literally as `[Unsubscribe](::unsubscribeUrl::)`

But if it is just

[code]

The email will display a proper Unsubscribe link that is aligned to the left (since it is not centered).

[2020-07-27 14:58] riasvdv commented on #229
Hi @maxacarvalho, this seems to be an issue with Unlayer themselves, I've created an issue here https://github.com/unlayer/react-email-editor/issues/138

We're always using the latest Unlayer version from their CDN, so you can follow that issue and when they fix and release it, it should be fixed in Mailcoach.

Other than that, it's still advisable to keep images in emails small and optimized, you

[2020-07-27 14:58] #229 closed, assigned to riasvdv

[2020-07-27 15:30] rubenvanassche commented on #201
Hi @ziming,

That's quite a strange problem! But I can reproduce it 😃! Now let's find out why this is happening, I hope to have this fixed this week (since my working day is almost over 😄)!

[2020-07-27 17:00] maxacarvalho commented on #229
Hello @riasvdv

Thank you very much for your update, I will keep an eye open for the Unlayer issue.
Yes, I totally agree that the images must be kept optimized but still, it's good to know why and how. I might have a client that does not want to follow the best practices and send bigger images, in that case, I must know how to allow that to happen.

[2020-07-29 18:57] maxacarvalho commented on #80
@freekmurze I saw that `composer.lock` file inside the `.gitignore` today.
"Problem" here is, when I need to update the packages, `composer install` won't do.

For example, my Forge deploy recipe will run `composer install --no-interaction --prefer-dist --optimize-autoloader`, which will not bump the package's versions, I need a `composer update` for that.

What's your approach when you need to up

[2020-07-30 07:25] fxkopp opened #231 "Add attachments to campaign"
Is it possible to add attachments to a campaign via Mailcoach API?

I think Mailcoach is using the underlying Laravel Mail function - so maybe there is a way to access this function?

Thanks!

[2020-07-30 07:27] freekmurze commented on #80
AFAIK, when no lock file is present, `composer install` should install the current versions of the dependencies and not the lower ones.

[2020-07-30 07:28] freekmurze commented on #231
Currently there's no full API for mailcoach, but we do plan on adding one in future.

[2020-07-30 07:28] #231 closed, assigned to nobody

[2020-07-30 07:33] fxkopp commented on #231
So at the moment there is no way to manipulate (add attachment) the campaign before sending?

[2020-07-30 07:40] maxacarvalho commented on #80
Hi @freekmurze

Once I saw that the lock file was in the `.gitignore` and found this issue, I simply tried to hit the deploy button on Forge.
After that I ran `composer outdated --direct` on my server and still got the list of outdated packages as well as the "**new updates available**" message inside the Mailcoach app. So that does not work apparently.

Then I did a test, removed the lock from th

[2020-07-30 08:00] freekmurze commented on #80
I think the issue being raised here is that it easy to forget to remove `composer.lock` for `.gitignore` when installing the project. I'll add a command that gets executed on install to automate that.

[2020-07-30 08:04] maxacarvalho commented on #80
Oh!!!!!! Now I got it.

You expect that whoever is installing the app, removes the lock from the ignore file after installing it.

No problem with that, I believe a note on the installation docs would be enough. I'd never thought of checking the ignore file 🤷‍♂️

Thanks @freekmurze!

[2020-07-30 08:07] freekmurze commented on #231
You could use a custom mailable for the campaign where you attach something to the mail

https://mailcoach.app/docs/v2/package/advanced-usage/using-custom-mailables
https://laravel.com/docs/master/mail#attachments

[2020-07-30 08:10] freekmurze commented on #80
Yeah, it's not that common that you have to do this, and I should have added it to the docs from day one.

Meanwhile, I've automated it so it shouldn't be a problem for future installs: https://github.com/spatie/Mailcoach/blob/4724f0c241c01c2048e05ef97b49fc7c717fae9c/composer.json#L98

[2020-08-02 20:46] llbbl commented on #201
For me: The Spatie\Mailcoach\Support\Replacers aren't firing before it gets to SendMailJob or SendTestMailJob. Haven't figured it out yet.  (I think my issue might be related to this)

[2020-08-03 18:39] kosmonowt opened #232 "Type of App\Mail\TransactionalTestMail::$theme must not be defined"
`(as in class Illuminate\Mail\Mailable) {"userId":1,"exception":"[object] (Symfony\\Component\\ErrorHandler\\Error\\FatalError(code: 0): Type of App\\Mail\\TransactionalTestMail::$theme must not be defined (as in class Illuminate\\Mail\\Mailable) at /var/www/mailcoach/app/Mail/TransactionalTestMail.php:9)`

Hi there,
I am having that problem with
- mailcoach 2.23.2,
- php 7.4.3

When trying to sen

[2020-08-04 07:45] freekmurze commented on #232
Thanks for reporting this. We've already fixed this in the Mailcoach app skeleton.

https://github.com/spatie/Mailcoach/blob/2d1e7ed36a263360b425387ed19e24b438334a35/app/Mail/TransactionalTestMail.php#L13

[2020-08-04 07:45] #232 closed, assigned to nobody

[2020-08-05 00:56] leveredge opened #233 "Entire server freezes"
I installed the package version of mailcoach. I've been playing around with it. Seemingly at random, it causes the entire server to freeze. This has occured twice in the last few hours.

I'm hosting it on a t3.xlarge instance setup by Laravel Forge on AWS.
Fairly standard setup: redis, horizon, mailcoach, mysql database on the server itself.

The freeze occurs as I'm setting up the campaigns i.e.

[2020-08-05 03:16] #233 closed, assigned to nobody

[2020-08-05 06:09] freekmurze commented on #233
Could you share the solution? Might be helpfull for others.

On Wed, 5 Aug 2020 at 05:17, LeverEdge <notifications@github.com> wrote:

--
Freek Van der Herten https://spatie.be +32 495 84 27 91

[2020-08-05 14:02] leveredge commented on #233
Yes, of course.

If you are setting up Horizon using Forge, I recommend following [Taylor's medium article](https://medium.com/@taylorotwell/deploying-horizon-to-laravel-forge-fc9e01b74d84). I was following the instructions on Laravel's site. While it's correct, I incorrectly interpreted that I should be running the php artisan horizon command every minute so I set it up as a CRON job rather than

[2020-08-11 10:55] electronick86 opened #234 "Monaco and Unlayer"
Hi!

Could you tell me if it should be easy to use Monaco and Unlayer, and based on the user, switch the editor?

Thanks in advance!

[2020-08-13 11:39] riasvdv commented on #234
Using both at the same time is not recommended, Monaco saves templates in raw HTML, but Unlayer uses its own JSON structure. You can't edit a campaign that's made with Unlayer in Monaco and vise-versa.

[2020-08-13 11:39] #234 closed, assigned to nobody

[2020-08-18 15:26] joostvanhoof opened #235 "unserialize(): Error at offset 0 of 56 bytes"
I get `unserialize(): Error at offset 0 of 56 bytes` multiple times when I'm creating and sending a campaign. Screenshot below of where it occurs, and these are the places that trigger the error:

[code]

<img width="1141" alt="Screenshot 2020-08-18 at 17 23 27" src="https://user-images.githubusercontent.com/5268113/90532761-e9e9e880-e177-11ea-86e9-605df32cc4cb.png">

[2020-08-18 15:56] joostvanhoof opened #236 "Error when adding mailgunFeedback route"
If I add `Route::mailgunFeedback('mailgun-feedback');` to my `RouteServiceProvider` as per [the instructions](https://mailcoach.app/docs/v2/package/handling-feedback/mailgun) I get `InvalidArgumentException: Attribute [mailgunFeedback] does not exist.`. I add it in the `map()` method as that's where `Route::mailcoach` is as well. Is this the correct place?

[2020-08-19 07:05] riasvdv commented on #235
Is the exception thrown an `ErrorException` or something else?

[2020-08-19 07:07] riasvdv commented on #236
- Are you on the latest version of `laravel-mailcoach-mailgun-feedback`?
- Does it work if you put it in the `boot` method of your `RouteServiceProvider`?

[2020-08-19 13:40] joostvanhoof commented on #236
I'm on `2.2.0` which I think is the latest? Looking back at my logs I now think that it tried to call the route before the package was fully installed and loaded on my production server. I'll monitor this closely and reopen this if it pops up again. Sorry if this was a mistake on my end!

[2020-08-19 13:40] #236 closed, assigned to nobody

[2020-08-19 13:43] joostvanhoof commented on #235
Nope, just the message that you see in the screenshot.

[2020-08-20 07:39] riasvdv commented on #235
Do you have any logs you could share? Should be in `storage/logs/laravel.log`

[2020-08-20 16:24] dom235 commented on #231
Cheers for your great Package! I had to comment on this issue as we encountered the same problem using latest laravel 7+, latest mailcoach 2+

There is one big issue with your SendMailAction which makes it impossible for us to use very custom mailables

Line 47,48
        /** @var \Spatie\Mailcoach\Mails\CampaignMail $campaignMail */
        $campaignMail = app(CampaignMail::class);

Sure, we can

[2020-08-21 12:38] rubenvanassche commented on #201
Hi,

Sorry for the late response! Could you please try to update Mailcoach to the newest version? I'll guess this PR should fix the problem: https://github.com/spatie/laravel-mailcoach/pull/274

[2020-08-21 17:05] nkeena opened #237 "Unable to Access Campaign in Custom Mailable"
After updating the mailcoach package from version `2.21.0` to `2.22.0` and even the lastest `2.23.5`, I am not able to access the `campaign` model in my custom mailable. Did something change? Now, `$this->campaign` returns `null`.

[code]

[2020-08-24 08:16] joostvanhoof commented on #235
Nothing shows up in the logs...

[2020-08-25 07:00] electronick86 opened #238 "replaceModelAttributes when extra_attribute is missing generates an error"
Hello guys!

Am I the only one having this small issue. I use the Subscriber Replacer with extra_attributes. This generates an `Array to string conversion` when the extra attributes is missing.

I don't find the place in the replaceModelAttributes trait where I could correct that.

[code]

Any advice? Thanks a lot!

[2020-08-26 06:55] ziming commented on #201
Hi @rubenvanassche , thanks for informing me.

I will test it on my next email campaign send and update this issue on the results.

[2020-08-26 07:45] riasvdv commented on #235
Could you temporarily change the try-catch by this snippet?

[code]

If that fixes it then I'll add it to the next release, it seems like you can't try-catch unserialize errors

[2020-08-26 11:45] joostvanhoof commented on #235
Thanks for looking into this. I have this running on production and I'm quite packed, is there a quick way to add this in production as this file is in the vendor folder?

[2020-08-28 10:24] rubenvanassche commented on #238
Hi @electronick86,

This should be fixed in `laravel-mailcoach` 2.23.7. Thanks for using Mailcoach!

[2020-08-28 10:24] #238 closed, assigned to rubenvanassche

[2020-08-28 10:44] rubenvanassche commented on #237
Hi @nkeena, if you upgrade to `laravel-mailcoach` 2.23.8 then this problem should be fixed. Thanks for using Mailcoach!

[2020-08-28 11:00] electronick86 commented on #113
Hi All,

Several months later, I reopen this discussion because, maybe, you have some more feedback from users.

I create several project for clients based on Mailcoach and I really loved it. I learned (and learn) a lot when using your package. Thank you very very much!

The biggest mailing list at the moment contains 200k emails and I works like a charm. I wonder if it's a bad idea to plan using

[2020-08-28 11:14] freekmurze commented on #113
I think the biggest one that I know of is 400K subscribers and there were no problems whatsoever. Feel free to converse here with anyone that responds to this issue.

[2020-08-28 19:00] electronick86 commented on #113
Hello @freekmurze,

Thanks. I'll let you know how does it works in the futur. If I reach 500k, do I get a trophy? ;-)

[2020-08-31 07:25] freekmurze commented on #113
Here you already go! 🏆

[2020-09-03 13:10] electronick86 opened #239 "Distinction PermanentBounce and Blocked email with Sendgrid"
Hello!

During the migration of lists from an old system to Mailcoach, we have to manage the IP warmup process with our new email service provider. In our case : Sendgrid.

We have problems when Microsoft mails servers reject our messages due to IP reputation. The answer Sendgrid get is `550 5.7.1 Unfortunately, messages from [w.x.y.z] weren't sent. Please contact your Internet service provider si

[2020-09-03 14:02] riasvdv commented on #239
We could adapt the check to `$this->event === 'bounce' && $this->type === 'bounce';`

You won't get any overview of "blocked" messages in Mailcoach though, as different providers handle them in different ways, but at least your subscribers won't be unsubscribed

What do you think about this?

[2020-09-03 14:25] electronick86 commented on #239
Hi Rias.

I think this check is way better. We just have to keep an eye on the deliverability stats on Sendgrid, especially during the migration/IP warmup process.

In the future, theses blocks could appear in a Mailcoach Campaign Report (in fact, the block event could just do an increment of a counter in the `mailcoach_campaigns`tables).

[2020-09-03 14:35] riasvdv commented on #239
This is fixed in version 2.2.5 of the sendgrid package: https://github.com/spatie/laravel-mailcoach-sendgrid-feedback/releases/tag/2.2.5

[2020-09-03 14:35] #239 closed, assigned to riasvdv

[2020-09-04 08:21] TwilightDuck commented on #93
Hi,

I ran into the same issue and I figured it out.
You need to add the repositories key in your composer.json ABOVE the require key.

[2020-09-04 10:05] joostvanhoof opened #240 "See list name in campaigns overview"
Feature request: it would be useful to see what list the campaign was sent to in the campaign overview. I'm sometimes sending one campaign to multiple lists, or they have similar titles, so it's much easier to distinguish between them based on what list they were sent to.

[2020-09-06 19:54] connecteev opened #241 "Signed URLs in Mailcoach campaigns"
Maybe this functionality exists and is buried somewhere within the code and unit tests, but I read the Mailcoach documentation and watched all the videos and couldn't find an obvious way to do this.

I'd like to incorporate signed URLs in my emails. This means: if the subscriber (who has an account in my app) clicks on a secure link in the email, it would change their user preference or setting in

[2020-09-06 20:07] freekmurze commented on #241
Mailcoach doesn't offer this out of the box. You might use a replacer for this. https://mailcoach.app/docs/v2/package/advanced-usage/creating-custom-placeholders

Your replacer might replace some kind of placeholder with a signed url generated by your replacer class.

[2020-09-06 20:07] #241 closed, assigned to nobody

[2020-09-06 20:59] connecteev commented on #241
@freekmurze thanks for the tip.

How are you doing signed URLs in your newsletter, which seems to use Mailcoach? Are you using Replacers? The URLs look like this:

[code]

![image](https://user-images.githubusercontent.com/64816/92335121-dfb95c80-f048-11ea-978d-65c334f4e075.png)

[2020-09-06 22:35] connecteev opened #242 "$emailList->subscribers and $emailList->allSubscribers return subscribers in random order"
See https://mailcoach.app/docs/v2/package/working-with-lists/subscribing-to-a-list

```$emailList->subscribers``` and ```$emailList->allSubscribers``` returns subscribers in random order

This returns subscribers in random order, so ```$emailList1->subscribers->first()->email``` and ```$emailList1->subscribers->last()->email``` arent in the order they were added to the list

Similarly for ```$emai

[2020-09-07 01:56] freekmurze commented on #242
Why do you think they are returned in a random order? We do nothing special regarding the order.

[2020-09-07 01:58] freekmurze commented on #241
Those aren't signed URLs generated by Laravel. Mailgun replaces all URLs in a mail in order to track opens/clicks.

[2020-09-07 04:50] connecteev commented on #241
I see..

[2020-09-07 05:15] connecteev commented on #242
This is not a blocker, but I reported it anyway.

Here's a unit test that should pass but doesn't:

[code]

If you enable the dd() command, you get:
[code]

[2020-09-07 07:35] freekmurze commented on #242
Try this:

[code]

[2020-09-08 02:26] connecteev commented on #242
That works..thanks. It would also make sense to have these:

[code]

order by *some* field (whether that is ```id``` or ```date```) by default...instead of what it currently is doing. But I leave that to your discretion.

[2020-09-08 07:59] webmastervinay opened #243 "Timezone"
Hi, I am located in India. My timezone is +530 GMT. My server is located in US. I am getting wrong date time everywhere. Where can I save timezone for my profile?

[2020-09-11 03:36] connecteev opened #244 "Idea: Geotracking where an email was opened from"
Apps like Mailtag do this. It would be good to know _where_ the email was opened from (IP, city, state, and country).

[2020-09-11 06:38] freekmurze commented on #244
It's a good idea, but not many users are asking for this.

If you need this fast, we'd accept a PR that adds this to laravel-mailcoach and the feedback packages.

[2020-09-11 06:38] #244 closed, assigned to nobody

[2020-09-11 17:46] timothyasp opened #245 "mailcoach.app/roadmap - 500 error"
Sorry if this isn't the appropriate issue tracker for this.

Browsing [the roadmap](https://mailcoach.app/roadmap) from a recent email and getting a 500 error.  I'm sure you're aware, but just in case it slipped through, opening an issue.

Love the package btw.

[2020-09-11 17:51] freekmurze commented on #245
Thanks for letting us know, we'll fix that soon!

[2020-09-11 19:05] connecteev commented on #244
Not urgent, just sharing an idea

[2020-09-14 06:46] #245 closed, assigned to riasvdv

[2020-09-16 14:30] mbardelmeijer commented on #195
This something that can be visited for Mailcoach V3? We notice clients have issues with importing CSV files due to system settings with delimiter. Would love to see native Excel import support for instance (we normally use https://github.com/Maatwebsite/Laravel-Excel for that).

Can PR something into `spatie/laravel-mailcoach` if wanted?

[2020-09-16 16:40] freekmurze commented on #195
@mbardelmeijer Feel free to submit a PR to v3. We aim to release v3 somewhere next week.

[2020-09-17 12:51] Wulfheart opened #246 "GDPR compliance"
How does the mail tracking work? Is it GDPR-compliant?

[2020-09-17 12:54] riasvdv commented on #246
Mail tracking works through the tracking of the providers, you can find more info in their respective GDPR policies:

Amzon SES: https://aws.amazon.com/compliance/gdpr-center/
Sendgrid: https://sendgrid.com/resource/general-data-protection-regulation-2/
Mailgun: https://www.mailgun.com/gdpr/

[2020-09-17 12:54] #246 closed, assigned to nobody

[2020-09-17 12:54] riasvdv commented on #243
You can set a timezone in `config/app.php`, we'll look into adding a UI setting for this in the future.

[2020-09-17 12:54] #243 closed, assigned to nobody

[2020-09-19 09:13] electronick86 opened #247 "routes mailcoach.emailLists and mailcoach.emailLists.subscribers slow with 800k subscribers"
Hello!

One of the project I'm working on with mailcoach (currently v2.23.13) has 800k subscribers. Once the subscribers are imported, the routes `mailcoach.emailLists` and `mailcoach.emailLists.subscribers` becomes very slow.

I saw (thanks telescope) thatone query tooks ~10seconds...(on my macbook pro 16 with valet and also on a 8vcpu server) I think one new index could be created. Can you give

[2020-09-19 18:53] connecteev commented on #247
I haven't encountered this yet, but wow....11 seconds to 385ms, that's amazing!

[2020-09-20 07:30] freekmurze commented on #247
@electronick86 that's quite amazing. Could you send a PR to the v3 branch that adds this index to the default migration?

[2020-09-23 12:36] joostvanhoof commented on #235
Just a gentle reminder that I still get about 2 to 4 errors every time I create and send a campaign. As indicated in the previous comment I'm not too proficient in testing this in production so if you're able test, or have some instructions on how I can do this that would be much appreciated.

[2020-09-23 12:37] riasvdv commented on #235
I will take a look at it again later this week

[2020-09-24 11:16] riasvdv commented on #247
Added in the v3 branch

[2020-09-24 11:16] #247 closed, assigned to nobody

[2020-09-24 11:21] riasvdv commented on #240
This will be added in v3

[2020-09-24 11:21] #240 closed, assigned to riasvdv

[2020-09-24 11:29] riasvdv commented on #235
Should be fixed in 2.23.14

[2020-09-24 11:29] #235 closed, assigned to riasvdv

[2020-09-24 11:29] #242 closed, assigned to nobody

[2020-09-24 11:29] riasvdv commented on #201
Closing due to inactivity, let us know in a new issue or by reopening if you're still having problems.

[2020-09-24 11:29] #201 closed, assigned to rubenvanassche

[2020-09-24 11:30] #237 closed, assigned to rubenvanassche

[2020-09-27 19:00] electronick86 opened #248 "Campaign sent twice to same subscriber"
Hello!

Today was a big "Mailcoach" days with campaigns sent to more than 400k subscribers. A lot of tuning done to improve the queues workers etc but always pleasant to work (and learn) with mailcoach!

I'm facing the following issue: the campaign is sometime sent twice to the same subscribers. This happens on Mailcoach 2.23.13 and also 2.23.9

I have the same issue with 2 Mailcoach instances tod

[2020-09-27 19:17] electronick86 opened #249 "Improving ProcessSendgridWebhookJob with extra mysql index"
Hello,

I discovered (thanks Horizon) that the job ProcessSendgridWebhookJob tooks sometimes 3 seconds.

executing a `show processlist`on the mysql server,  realized that there was a lot of request with the pattern :
[code]
testing this request tooks 3 seconds.

I created an index on the column mailcoach_sends.uuid and the seepds instantly increased.

<img width="919" alt="Horizon_-_Metrics" src="

[2020-09-27 19:24] freekmurze commented on #249
That's a good suggestion. I've added this by default on v3, which will be released this week.

[2020-09-27 19:24] #249 closed, assigned to nobody

[2020-09-27 19:33] electronick86 commented on #248
One extra check :

[code]

[2020-09-27 19:41] freekmurze commented on #248
That's kinda strange. There are several protections in mailcoach to prevent sending a mail to the same recipient twice.

We loop over every subscriber in the list you're sending a campaign to

https://github.com/spatie/laravel-mailcoach/blob/master/src/Actions/Campaigns/SendCampaignAction.php#L72-L74

In the `createSend` method we check that no sent is created if one already exists.
https://github

[2020-09-27 19:52] electronick86 commented on #248
Hello @freekmurze ,

Indeed, I red the code of the SendCampaignAction and I saw theses checks. One more check could be to have an index on the table to make the combination "campaign_id" + "subscriber_id" unique.

I think that you got the problem. Looking n horizon again :
<img width="1126" alt="Horizon_-_Failed_Jobs" src="https://user-images.githubusercontent.com/8201501/94374262-51963a80-010b-11

[2020-09-27 20:26] freekmurze commented on #248
That's a good suggestion. I think we could also make it so that the `SendCampaignJob` is re-attempted by specifically setting the `$tries` to 1.  @riasvdv could you add these things in v3?

[2020-09-27 20:36] freekmurze commented on #248
@electronick86 I've created a new release where I've added the `$tries = 1` to `SendCampaignJob`. Run `composer update` to pull it in. You should create that index you suggested manually in your mailcoach installation.

@riasvdv I've took care of this in v3 now.

[2020-09-27 20:36] #248 closed, assigned to nobody

[2020-09-28 04:17] jmichaelterenin commented on #141
I haven't taken a look yet at the package, but I can quickly/safely say that this is something my client very much **assumes** would be available in the MailCoach package. Thanks for your work @timmoh. It's very possible that I will want to add on so that model / database fields can be utilized here as well.

[2020-09-28 14:29] electronick86 commented on #248
Thanks @freekmurze .

Maybe my reflexion doesn't make any sense with the new logic in v3 but at I wonder if the `SendCampaignAction` (https://github.com/spatie/laravel-mailcoach/blob/3b3e1e722c4a6ad0217af65a697ed23b46618fc9/src/Actions/Campaigns/SendCampaignAction.php#L72-L74) would not be faster if all the inserts were done before the sends begins.

At the moment, the inserts continue while the `

[2020-09-28 14:49] freekmurze commented on #248
This is an awesome suggestion. In Mailcoach v3 we'll do just that. We'll first create all sends and prepare all jobs, before sending out any mails.

@riasvdv is already on it 👍

[2020-09-28 17:15] Vardkin opened #250 "'419 page expired' when testing transactional email config"
## Describe your issue
Thank you for releasing 3.0!
When testing transaction email configuration. `/settings/send-transactional-test-mail` returns `419 page expired`.
Transaction API key set using Sendgrid driver.

Edit: I noticed that is no CSRF token on the 'settings/send-transactional-test-mail'  page form.

---
## Health check:

**Environment**: production
**Debug**: OFF
**Horizon**: Active
**

[2020-09-28 17:36] Vardkin commented on #250
Confirmed that adding `@csrf` to `vendor/spatie/mailcoach-ui/resources/views/app/settings/transactionalMailConfiguration/sendTestMail.blade.php` on line 16 fixes this issue. Sadly, I do not see `spatie/mailcoach-ui` to make the PR.

[2020-09-28 17:51] mabadir commented on #89
Hi @riasvdv, I am on v2.23.15, and I am having this problem. Is there something I need to do to get the full error message?

[2020-09-28 20:16] freekmurze commented on #250
I've just made the mailcoach-ui repo public

Feel free to make a PR that fixes this.

[2020-09-28 20:16] #250 closed, assigned to riasvdv

[2020-09-29 07:16] riasvdv commented on #89
This is now fixed in 2.23.16 and 3.0.1, there was indeed still a limit on the message

[2020-09-29 07:16] #89 closed, assigned to riasvdv

[2020-09-29 17:04] Vardkin commented on #141
I have to second this. I just deployed Mailcoach for my marketing team yesterday (2020-09-28) and the first thing they responded to me with was, "I can't add custom fields?"

I'll be installing your addon @timmoh. Thank you for sharing your work.

[2020-09-29 19:09] mbardelmeijer opened #251 "Database migration"
Is there a ready-to-go file available for the database migration required from V2 to V3? I've seen the changes listed on https://mailcoach.app/docs/v3/app/installation/upgrading but would be less error prone to have an official one.

[2020-09-29 19:14] riasvdv commented on #251
This is a migration we used on a Mailcoach instance, we prefer to just list the changes since people might have made other changes in their own application.

[code]

[2020-09-29 19:14] #251 closed, assigned to nobody

[2020-09-29 20:01] timmoh commented on #141
@Vardkin feel free to add some additional fields via pr.
I think @freekmurze has already said that it want go into mailcoach... but i think with this open source repo/addon everybody can expand the placeholder...

[2020-09-30 06:46] Propaganistas opened #252 "API routes are requiring a CSRF token"
Hi

I think there's a problematic registration of the new v3 API routes:

1) `Route::mailcoachUi()` is called in `web.php` (https://github.com/spatie/Mailcoach/blob/cfeff72919cfc7cb030b665815882f4f7275d931/routes/web.php#L5)

2) In `RouteServiceProvider` all routes in `web.php` are given the `web` middleware stack (https://github.com/spatie/Mailcoach/blob/cfeff72919cfc7cb030b665815882f4f7275d931/a

[2020-09-30 06:56] freekmurze commented on #252
You're right, thanks for the detailed info. We'll fix this later today.

[2020-09-30 07:57] riasvdv commented on #252
This has been fixed by moving the registration of the route to the RouteServiceProvider:

https://github.com/spatie/Mailcoach/commit/202432f6cf78ddba5dd37b9ba515419eb79f2dcf

You can make the change in your own application, as a `composer update` won't have any effect on this part of the application

[2020-09-30 07:59] #252 closed, assigned to nobody

[2020-10-01 07:40] electronick86 opened #253 "SendCampaignJob fails"
Hello Guys,

A I mentionned here  #248 , I had some trouble a few days ago with a SendCampaignJob that runs multiple times.

I don't have the problem anymore as I create unique index on the `mailcoach_sends` table for (subscriber_id+campaign_id) and that the job `SendCampaignJob` don't attempt several time (    public int $tries = 1; )

The project concerned by this issue have two mailing list (21

[2020-10-01 08:24] freekmurze commented on #253
What is the value of `retry_after` in your `queue` config file? This should be set to a higher number than the default as well.

[2020-10-01 08:59] rodrigolopespt commented on #69
getting this with the new version 3.0.6

[2020-10-01 09:24] electronick86 commented on #253
@freekmurze, you impressed me one more time 🥇

[code]

This means that the retry after should always be higher than the timeout? In my mind, the `retry_after` value was the amount of seconds after a failed job.

This is for sure the cause of #248 .

EDIT : [https://laravel.com/docs/8.x/queues#job-expirations-and-timeouts](url) it's now clear.

[2020-10-01 11:16] #253 closed, assigned to nobody

[2020-10-02 06:39] electronick86 commented on #248
Hello guys,

Just to share you some finding related to the duration of the `SendCampaignJob`. Even if we found that this problem  (unexpected retry of the job) was caused by a wrong `queue.connections.mailcoach-redis.retry_after` value ( #253) , I changed the folowing mysql setting `innodb_flush_log_at_trx_commit=0` . This value make  the `sends`creation 3 time faster (and impact the complete data

[2020-10-02 06:41] freekmurze commented on #248
Thanks for letting us know. 👍

[2020-10-03 16:12] limenet commented on #251
@riasvdv thanks for providing this snippet! Unfortunately, it seems one column is missing: `mailcoach_campaigns` also needs `$table->string('send_batch_id')->nullable();`. Could you please add that to your snippet?

Additionally, while your snippet accounts for the changes to campaigns, the SQL query for webhooks is missing (`update webhook_calls set processed_at = NOW() where processed_at is null

[2020-10-03 18:37] jorenvh commented on #251
Below you can find the migration file that I used for my application.

[code]

[2020-10-04 17:53] freekmurze commented on #251
@limenet @riasvdv I've updated @riasvdv 's comment with your suggested changes.

[2020-10-06 10:05] vanthao03596 opened #254 "Dupliate query"
When visit email list subscriber i got duplicate query
![2](https://user-images.githubusercontent.com/34786441/95188048-2344e900-07f6-11eb-9122-f64b741a4669.png)

[2020-10-06 10:43] freekmurze commented on #254
We'd accept a PR at laravel-mailcoach that fixes this.

[2020-10-07 01:24] tdondich commented on #251
@freekmurze Line 16 is missing a semicolon.

Also, if this migration runs in sqlite (say using phpunit), then the last DB::statement fails.  So can easily run a check using:

[code]

[2020-10-07 07:02] freekmurze commented on #251
@tdondich Thanks for reporting. I'll fix those things.

[2020-10-07 15:15] karticbedi opened #255 "Welcomes email is also sent if user is already subscribed."
I have a custom mailable setup and whenever i try to pass same email/data to that list which is already subscribed, it sends email to them, which should not happen.

Not sure if that should be handled with a check on build method or not.

Another issue i faced is, if a list has no welcome email enabled and then if i directly goto database and specify a custom mailable, it won't work. (i cleared ca

[2020-10-07 16:06] LorenzoSapora opened #256 "Hitting errors when trying to update via composer"
[code]

Credentials have not changed, they exist, and seem to be repeatable.

[2020-10-07 18:02] yushkevichv commented on #256
Same problem. Write to email

[2020-10-07 18:24] freekmurze commented on #256
Could you try to empty your composer cache and try again?

[code]

[2020-10-07 18:46] LorenzoSapora commented on #256
Now it's hitting a hard error, and not continuing with updating composer.. hmm

[code]

Double checked the key, it's exactly the same as in my purchases.

[2020-10-08 07:04] riasvdv commented on #255
I don't really understand what you mean here, could you clarify what it is you're doing exactly?

You're probably missing some setting that has to change if you're changing values directly in the database, is there a reason you're doing this and not using the methods provided by the package?

[2020-10-08 09:57] AlexVanderbist commented on #256
Hi, sorry for the inconvenience. We've located and fixed the issue with the satis.mailcoach.app repository. Alternatively you can switch to the satis.spatie.be repository with the same authentication credentials.

[2020-10-08 11:31] karticbedi commented on #255
Lets say we have a list called "Users" and it has welcome email enabled.

1. John Subscribed with john@email.com
2. John Got welcome.

All good here so far.

Now if somehow we call subscribe method on "Users" list with same email as Johnn "john@email.com"

1. John is already subscribed and nothig happens in database.
2. John got welcome email again (This should not happen if John is aleready Subsc

[2020-10-08 11:40] karticbedi commented on #255
For the second issue i followed this video and added my custom class to database
https://spatie.be/videos/building-mailcoach/configuring-welcome-mails

Here Feek is adding class to database directly in "welcome_mailable_class" after using followinng options

1. Send default welcome mail
2. Send customized welcome mail
3. Custom class in database (he used in sequence)
Which works for him in the vid

[2020-10-08 11:45] riasvdv commented on #255
The first issue is fixed in versions 2.23.20 and 3.2.1 of laravel-mailcoach, that was indeed a case that wasn't tested yet.

`send_welcome_mail` should be `true` on your list, you should also have a `welcome_mail_subject` set, and then your class.

[2020-10-08 11:45] #255 closed, assigned to riasvdv

[2020-10-08 13:06] LorenzoSapora commented on #256
Is `satis.mailcoach.app` going to be depricated over `satis.spatie.be` at any point? Would it be wiser to use the spatie domain?

[2020-10-08 13:09] freekmurze commented on #256
We will probably leave satis.mailcoach.app running for some time, but it's indeed better to use satis.spatie.be.  We will communicate this change with all Mailcoach users beginning 2021.

[2020-10-08 13:09] #256 closed, assigned to riasvdv, AlexVanderbist

[2020-10-08 21:05] LorenzoSapora commented on #256
Thanks for the clarification, Freek. I'll make the change.

[2020-10-09 09:41] surjithctly opened #257 "First Login: A table was not found"
After migrating database and creating user, I logged in, but it shows this error.

I tried to rollback and then ran migration again but same error.

Any help?

View error: https://flareapp.io/share/DPyLk86m#F61

![image](https://user-images.githubusercontent.com/1884712/95568208-95f5d480-0a41-11eb-86ab-616cb4f55db1.png)

[2020-10-09 09:47] freekmurze commented on #257
It seems like the correct migration has not run. Did you publish the migration? How does your `database/migrations` directory look like?

[2020-10-09 09:51] surjithctly commented on #257
I ran `php artisan migrate` this code.

`database/migrations` look like this:

![image](https://user-images.githubusercontent.com/1884712/95569360-1cf77c80-0a43-11eb-9818-d8d3f7752dcd.png)

[2020-10-09 09:53] riasvdv commented on #257
Did you clone https://github.com/spatie/mailcoach? You should use

`composer create-project spatie/mailcoach <project-name>` to have everything set up correctly.

[2020-10-09 09:55] surjithctly commented on #257
Yes. I used that command only.

Is this folder missing something? In local as well, I got the same files inside /migrations.

This is database looks like:

![image](https://user-images.githubusercontent.com/1884712/95569682-84153100-0a43-11eb-9077-36982f3c8869.png)

[2020-10-09 09:56] riasvdv commented on #257
These commands should have ran after the create-project, you can try running them manually:

[code]

[2020-10-09 09:57] surjithctly commented on #257
Oh I see. Its never documented, or not seen. Let me try it and get back to you.

[2020-10-09 09:58] riasvdv commented on #257
No, because they normally run automatically. What OS and PHP version are you on?

[2020-10-09 10:12] surjithctly commented on #257
Its a Linode Basic Server, PHP 7.4. Managed by Serverpilot.

Anyway, After running your command, Asked to Install Redis, this also not shown any steps, so found another article. Now I can see the campaigns page finally.

[2020-10-09 10:25] riasvdv commented on #257
You can see the requirements here https://mailcoach.app/docs/v3/app/general/requirements

[2020-10-09 14:26] surjithctly commented on #257
Okay. Now getting the following error on Test Email. after SES setup.

How to fix this?

[code]

![image](https://user-images.githubusercontent.com/1884712/95595134-783c6580-0a69-11eb-85dc-bf34ad977934.png)

[2020-10-09 15:24] freekmurze commented on #257
Please refer to the Laravel docs to learn how to get started sending mails via SES.

[2020-10-09 15:24] #257 closed, assigned to nobody

[2020-10-09 18:56] erikwestlund opened #258 "How can I confirm bounces and clicks?"
Hi,

I set everything up with Amazon SES and sent out a few test campaigns.

I used a few different email addresses, including two ones that should bounce.

I'm not seeing any statistics.  I opened them all and get no click statistics. I also do not see any failures with bounces.

When I check the original message I'm not sure I see anything related to tracking either. How can I confirm the beacon

[2020-10-09 19:21] freekmurze commented on #258
Hi,

Are you using Horizon? And if so, are you sure it is running? Do you see pending jobs there? Could you take a look at the payload of the webhook and see what those webhooks concern?

Did you follow the instructions in our docs on how to setup SES?
https://mailcoach.app/docs/v3/app/mail-configuration/amazon-ses

[2020-10-10 07:40] surjithctly commented on #257
Okay. Following Laravel Docs fixed it. But I still wonder why these info missing in docs. Even if its a link to them, if something is definitely needed to work, it should be mentioned right?

[2020-10-10 07:41] surjithctly commented on #257
Also, I checked the debug page and saw this. Is it fine? or any changes required from my side? @freekmurze

![image](https://user-images.githubusercontent.com/1884712/95649213-0ceea400-0afa-11eb-90c2-4cfe7011f9e8.png)

[2020-10-10 08:59] surjithctly opened #259 "Tags & attributes data is not receiving via POST"
I did a POST test on postman to subscribe users.

I just added `tags` key and `value` (already added via app), but seems its not passing to the App. Same for `attribute[key]`

I tried adding `first_name` and `last_name` which works fine. I inspected the Horizon Logs and the json does not contain the word `tags`.

How can I fix this?

[2020-10-10 09:15] freekmurze commented on #259
With only this information, it's hard to help you. Could you share the exact request you are performing and what the response is? Did you already generate a token that can be used? Did you try some other endpoints? What does `https://your.app/mailcoach/api/user` return?

 Horizon is used for queues, it is not used on the API.

[2020-10-10 09:43] surjithctly commented on #259
Hello,

I'm using postman for subscribe test. See below image & code.

The URL you've mentioned returns to Login Page.

<details>
<summary>
Here's the log json from horizon
</summary>

[code]
</details>

![image](https://user-images.githubusercontent.com/1884712/95651860-ae7df180-0b0a-11eb-8100-42f92c075cf2.png)

[2020-10-10 09:57] freekmurze commented on #259
Did you enable subscriber tags for the list you are using? You must specify the allowed tags. This prevents your list from just any tag being used.

<img width="424" alt="image" src="https://user-images.githubusercontent.com/483853/95652203-b67c6800-0aef-11eb-993c-c4fd1fd90816.png">

[2020-10-10 13:32] surjithctly commented on #259
Okay. I have got what's wrong, Even after adding tags, I have to add allowed tags in List Settings.

Thanks for the screenshot. It helped.

By the way do you know why saving the `attribute` goes empty after a Save & reload?

![image](https://user-images.githubusercontent.com/1884712/95656306-23f9ba00-0b2b-11eb-8305-9c7096bc6e6c.png)

[2020-10-10 13:44] freekmurze commented on #259
👍  Glad the screenshot helped.

We'll fix that `attribute` field soon. Closing this issue as the original problem is resolved.

[2020-10-10 13:44] #259 closed, assigned to nobody

[2020-10-10 19:41] erikwestlund commented on #258
It is possible Horizon wasn't running at the exact moment those webhooks came in.  Would they not be queued then?

Yes, I followed the SES directions closely and double-checked.

Here are the payloads:

[code]

and

[code]

[2020-10-12 09:43] georgeboot opened #260 "How to use with separate teams"
We're looking at using Mailcoach for our app. We have multiple teams and each team can only see their own things.

How can we setup Mailcoach so that users of team 1 can only see lists and campaigns created by team 1, and vice versa for team 2?

[2020-10-13 09:06] leevigraham opened #261 "Class 'Aws\Ses\SesClient' not found"
## Describe your issue

Initial install with minimal customisation. Setup amazon SES following the docs here: https://mailcoach.app/docs/v2/app/mail-configuration/amazon-ses

Attempted to send a test email and got `Class 'Aws\Ses\SesClient' not found`

<img width="1506" alt="image" src="https://user-images.githubusercontent.com/25124/95840124-83580400-0d8f-11eb-8acb-6a87389194f0.png">

---
## Heal

[2020-10-13 09:28] riasvdv commented on #261
Make sure you've followed Laravel's prerequisites for mailing with SES https://laravel.com/docs/master/mail#driver-prerequisites

[2020-10-13 10:21] leevigraham commented on #261
requiring `aws/aws-sdk-php` sorted the issue I think.

[2020-10-13 10:38] leevigraham commented on #261
Follow up question if it's not too much trouble… new to mailcoach / laravel… but is there a way to configure the mailers in the `mailcoach.php` config? I've set the values in the `config/mail.php` but I'm still being prompted.

<img width="613" alt="image" src="https://user-images.githubusercontent.com/25124/95850225-3af31300-0d9c-11eb-95ea-d66f8604f7c3.png">

<img width="578" alt="image" src="htt

[2020-10-14 07:22] freekmurze commented on #260
This is currently not supported by Mailcoach itself. You could solve it by adding adding team_id columns on the mailcoach tables and with a middleware add global scopes.

We might add this functionality out of the box in Mailcoach v4.

[2020-10-14 07:22] #260 closed, assigned to nobody

[2020-10-16 03:39] erikwestlund commented on #258
I think I figured this out:

If you go into the feedback package from Spatie, and AddConfigurationSetHeader file, it has:

[code]

But check out the default config files on Laravel:

https://github.com/laravel/laravel/blob/master/config/mail.php

There is no "driver" field, and there hasn't been since 6.0. See:

https://github.com/laravel/laravel/blob/6.x/config/mail.php (6.0)

vs.

https://github

[2020-10-16 04:00] erikwestlund commented on #258
Pull request submitted.

One other suggestion: Your docs do not show "open" and "clicked" set in the SES set up. I recommend you make a reference to that!

[2020-10-16 07:01] #254 closed, assigned to nobody

[2020-10-16 07:01] freekmurze commented on #254
Going to close this one for now as I considered it a bit of technical debt, but not something that makes the package unusable.

[2020-10-16 07:02] freekmurze commented on #258
@riasvdv can you take a look a the docs? I'll take a look at the PR. Thanks @erikwestlund

[2020-10-16 09:25] nckrtl opened #262 "Customized views don't seem to change transactional mails layout"
I came across the following issue in Mailcoach standalone ap ( (installed as a project via composer, v3.01). I haven't tested this with Mailcoach as a package

When you publish the mail views with `php artisan vendor:publish --tag mailcoach-views` and change a blade view, the changes won't take effect in the transactional test email. Also clearing the view cache doesn't work.

I created a video to

[2020-10-16 11:17] erikwestlund commented on #258
It appears to me that I was actually originally following the directions correctly, because I bet you guys are programmatically turning on click and open checking, and so you leave it off in the Notification settings. I noticed they were not checked because I was looking for any reason why this wasn't working.

I turned it on by hand and that made it so it is successfully adding an image tracking

[2020-10-16 15:16] erikwestlund commented on #258
A couple more things:

I'm actually unsure whether or not I'm supposed to use "Track Clicks" and "Track Opens" in the SES settings:

![Screen Shot 2020-10-16 at 9 57 53 AM](https://user-images.githubusercontent.com/6514609/96274438-1a8ea880-0f96-11eb-9f81-65a20f2e1959.png)

As I noted above, I thought perhaps it was programmatically setting this, but as I think about this I do not believe there is

[2020-10-17 11:29] bolechen opened #263 "New installed mailcoach use api have error."
[code]

I installed new mailcoach app in my server via

[code]

After config, the ui worked all good, But when i call with api, it always return 500 error, the error log have some contents below, and a saw my mysql database table, users tables do not have the `api_token` column.

Where am i wrong?

[2020-10-17 11:32] bolechen commented on #263
here is the debug info

---
## Health check:

**Environment**: production
**Debug**: OFF
**Horizon**: Active
**Queue** connection: OK
**Webhooks**: 11 unprocessed webhooks
**Schedule**: ran 0 minute(s) ago
**Default mailer**: smtp
**Mailcoach mailer**: null
**Campaign mailer**: null
**Transactional mailer**: null

## Technical details

**App directory**: /home/forge/dm.nanrenwa.com
**User agent**:

[2020-10-18 10:59] freekmurze commented on #261
You can configure the mailers in `config/mail.php`

[2020-10-18 10:59] #261 closed, assigned to nobody

[2020-10-18 11:04] freekmurze commented on #258
You'll need to check `send` at Amazon as well. We'll update that screenshot soon. Thanks for bringing this to our attention.

If a job just stays hanging in Horizon, that means that Horizon is not configured correctly. Make sure you configured workers that pick up jobs in that queue.

Our own integration is with SES is working, and we don't get reports from other clients that it is not working. Co

[2020-10-18 12:12] erikwestlund commented on #258
Thanks.

Could someone on staff confirm with SES confirm that they’re receiving web hooks for clicks and opens and bounces? I’ve tried everything and checked settings and can still only see clicks and opens in Cloudwatch. I’m willing to troubleshoot with someone too.

[2020-10-19 07:06] riasvdv commented on #263
Could you check and make sure this line is set to `sanctum` in your project? https://github.com/spatie/Mailcoach/blob/master/config/mailcoach.php#L135

[2020-10-19 07:26] bolechen commented on #263
yes have this

<img width="533" alt="image" src="https://user-images.githubusercontent.com/195015/96414227-6a33d500-121f-11eb-828c-87619384e267.png">

[2020-10-19 07:33] riasvdv commented on #263
Which endpoint are you trying?

[2020-10-19 07:46] bolechen commented on #263
i test with curl

<img width="1156" alt="image" src="https://user-images.githubusercontent.com/195015/96416144-31e1c600-1222-11eb-8bde-47f26704b828.png">

[2020-10-19 07:47] bolechen commented on #263
the server error log is

[code]

[2020-10-19 11:03] riasvdv commented on #258
So below is a screenshot of a working SES configuration set:

![image](https://user-images.githubusercontent.com/3626559/96442198-03a4bc00-120b-11eb-941d-9e5dd63853cd.png)

You don't need to check `send`, but you do need to check `open` & `click` if you want to track those. Make sure the configuration set name is configured correcly (as far as I know this is case sensitive, the best thing to do is

[2020-10-19 11:51] jameslkingsley opened #264 "New install via 1-click DO has a lot of issues"
## Describe your issue
I just installed Mailcoach via the 1-click setup in DigitalOcean, however, it has since had a lot of issues. Namely missing packages for SES, the editors don't work, the settings have UI bugs. I'm trying to fix the issues one by one manually but it's quite confusing and I'm not sure if I'm doing things right.

Is there an earlier version without these issues that I can compl

[2020-10-19 11:58] riasvdv commented on #264
It's a bit hard to help with this limited information, could you specify, preferably with screenshots or logs, what errors or bugs you're getting exactly?

[2020-10-19 12:04] jameslkingsley commented on #264
I followed the instructions [in this video](https://mailcoach.app/docs/v3/app/installation/using-the-1-click-installer) and had the following:

- Attempts to send an email resulted in 500 error. After turning debug mode on, the error was due to missing the AWS PHP SDK package.
- Refreshing the Mail or Editor settings page showed all configuration fields for all options at once.
- Only the plain te

[2020-10-19 13:24] erikwestlund commented on #258
That’s the settings I have.

My sns topic is confirmed. But I’m not getting the web hooks from opens,
with the exception of the web hook saying my subscription is confirmed.

Would you mind sharing your redacted privacy policies on sns and ses?

[2020-10-19 13:42] riasvdv commented on #258
What privacy policies? Everything else is default, we don't do anything extra that isn't described in the docs here https://mailcoach.app/docs/v3/package/handling-feedback/amazon-ses

[2020-10-19 13:51] erikwestlund commented on #258
Here are screenshots of all relevant configurations:

SES configuration set:

<img width="772" alt="Screen Shot 2020-10-19 at 8 38 57 AM" src="https://user-images.githubusercontent.com/6514609/96458488-98e18980-11e6-11eb-8be5-b1556f4ded84.png">

SNS Topics:

<img width="1098" alt="Screen Shot 2020-10-19 at 8 42 28 AM" src="https://user-images.githubusercontent.com/6514609/96458919-1a391c00-11e7-11

[2020-10-19 14:35] erikwestlund commented on #258
Figured it out. @freekmurze, you all may want to put a warning for others:

Cloudflare has recently stepped-up some of its Web Access Firewall (WAF) settings, and requests with JSON in them are getting flagged at a high rate. This especially affects Livewire parts of my app, to the point I've had to disable security on certain endpoints.

**Cloudflare was blocking all webhooks to my feedback endpo

[2020-10-19 15:30] freekmurze commented on #258
Nice, good that you figured this out. Thanks for letting us know the solution.

[2020-10-19 15:30] #258 closed, assigned to nobody

[2020-10-21 15:09] agusesetiyono commented on #263
Mailcoach uses job batching under the hood. Make sure you add the required database table, as mentioned in the Laravel docs on Job batching.

try to run

`php artisan queue:batches-table`
`php artisan migrate`

[2020-10-22 12:39] vanthao03596 opened #265 "Add allowedIncludes to query"
I'm using mailcoach v3 api. Currently our query not use allowedIncludes.
Some one can help me to add this ?

[2020-10-22 12:43] freekmurze commented on #265
There's too little info here to help you. Could you give a small code example of what you are trying to accomplish?

[2020-10-22 15:16] vanthao03596 commented on #265
Example CampaignQuery and CampaignResource. CampaignResource use ->whenLoaded('emailList') but in CampaignQuery we don't have ->allowedIncludes('emailList').
[code]

[code]

[2020-10-22 15:19] freekmurze commented on #265
Feel free to send a PR to https://github.com/spatie/laravel-mailcoach for this.

[2020-10-22 15:19] #265 closed, assigned to nobody

[2020-10-23 01:59] agusesetiyono commented on #259
Hi,
How to add tags via API on v3?

[2020-10-23 07:11] riasvdv commented on #263
@bolechen There is a conflict with the route in `routes/api.php`, remove the route there and the Mailcoach API should work.

[2020-10-23 07:11] #263 closed, assigned to riasvdv

[2020-10-23 07:15] riasvdv commented on #264
Which 500 error? Could you share you logs with us? They are stored in storage/logs/laravel.log

This seems to point to a javascript error, could you take a look in your browser console if there are any and share a screenshot?

Configuration you set in the UI is stored in the `config-mailcoach-app` folder

[2020-10-23 07:18] riasvdv commented on #262
The test mail views are from the `mailcoach-ui-views` package, since they're only needed in the UI, try publishing those views.

[2020-10-24 14:49] thannaske opened #266 "Add information about ext-exif to docs"
I ran into the issue that (although imagick was installed and enabled) the installation failed due to missing ext-exif extension. Maybe this should be mentioned as requirement in the docs as well.

[2020-10-24 14:56] freekmurze commented on #266
I'll add that to the docs 👍

[2020-10-24 14:56] #266 closed, assigned to nobody

[2020-10-25 15:43] nckrtl commented on #262
Yes I can adjust the content of the test mail when publishing those view. However, I still wasn't able to apply changes to the markup of the email as it uses the message component (@component('mail::message').

With a bit looking around I noticed message.blade.php in /views/mails/layout. I tried editing that file but it didn't have any effect.

So in the test email I changed the component to mailc

[2020-10-26 07:37] freekmurze commented on #262
@nckrtl does this change fix the problem for you? https://github.com/spatie/mailcoach-ui/pull/3

[2020-10-26 07:48] nckrtl commented on #262
Yes I can edit the templates accordingly. I'm just wondering if the edit (mail::message to mailcoach::mails.layout.message) in the component directive of /views/vendor/mailcoach-ui/mails/test.blade.php is the correct way to make it work.

[2020-10-27 13:11] crzzano commented on #130
+1 @freekmurze  Drip campaigns would be incredibly useful. :-)

[2020-10-29 15:24] gilbitron opened #267 "ERROR: Class 'Aws\Ses\SesClient' not found"
## Describe your issue

I've just set up a fresh install of Mailcoach using the DO 1-click installer and configured SES. When I try to send a test email I get a 500 error. The logs show this:

[code]

Any ideas?

---
## Health check:

**Environment**: production
**Debug**: OFF
**Horizon**: Active
**Queue** connection: OK
**Webhooks**: 1 unprocessed webhooks
**Schedule**: ran 0 minute(s) ago
**Defa

[2020-10-29 15:43] gilbitron commented on #267
This was fixed by requiring the `aws/aws-sdk-php` package. Not sure why this isn't installed in the first place?

[2020-10-29 20:47] victortolbert opened #268 "Problems with 1-click install, sending AWS mail and CalculateStatisticsJob"
## Describe your issue

Hi,

As soon as I click "Send test mail", after setting up the AWS mail configuration, I receive a 500 error.

The console reveals that the POST request to /settings/send-test-mail fails

---
## Health check:

**Environment**: production
**Debug**: OFF
**Horizon**: Active
**Queue** connection: OK
**Webhooks**: 1 unprocessed webhooks
**Schedule**: ran 0 minute(s) ago
**Defau

[2020-10-29 20:53] victortolbert commented on #268
Closing.

This seems like a duplicate of #267

[2020-10-30 18:09] beberlei opened #269 "Unable to locate a class or view for component [icon-label]"
I upgraded my Mailcoach v2 app to v3 by copying over the composer.json from the `spatie/mailcoach` repository, running `composer update` and applying everything from the upgrading guide, including the database migration. The mailcoach app itself works mostly, but when I go to the user profile page, or the users list or other laravel framework provided user pages I get this error:

[code]

[2020-10-30 18:19] beberlei opened #270 "Postmark Broadcast Support"
Follow up to #188

The Postmark adapter for Mailcoach needs support for Broadcast Streams. This is necessary to move from transactional sending mode to broadcast sending mode. This was added in https://github.com/wildbit/swiftmailer-postmark/pull/35 and released in wildbit/swiftmailer-postmark 3.3 which Mailcoach v3 uses.

Laravel's `MailManager::createPostmarkTransport` does not support this opti

[2020-10-30 18:26] beberlei commented on #251
@freekmurze @riasvdv There is another change missing, I get `Unknown column 'api_token' in 'where clause' (SQL: select * from `users` where `api_token` = limit 1)` shouldnt a migration for this be shipped with Laravel directly?

[2020-10-30 18:54] beberlei commented on #251
It looks that happens because i use `api:auth`, as documented in the upgrade guide. But the spatie/mailcoach installation moved to another auth middleware that allows creating multiple tokens per user.

[2020-10-30 18:55] beberlei commented on #269
My mistake, I needed to merge tons of additional changes from `spatie/mailcoach` into my own fork. Doing that fixes it.

[2020-10-30 18:55] #269 closed, assigned to nobody

[2020-10-31 13:22] binaryk opened #271 "Method toMailcoachFormat does not exist."
Context:

I followed all the steps to install v3.

I followed all steps to install unlayer.

Tried to save my first template:
![image](https://user-images.githubusercontent.com/6833714/97780396-0d280f80-1b8d-11eb-88d3-d164e834f1a4.png)

![image](https://user-images.githubusercontent.com/6833714/97780361-d94cea00-1b8c-11eb-8df6-233e38427bce.png)

[2020-10-31 13:26] binaryk commented on #271
Get rid of that method:

![image](https://user-images.githubusercontent.com/6833714/97780450-6a23c580-1b8d-11eb-896e-dfe13a2de48c.png)

[2020-10-31 13:28] binaryk commented on #271
Trying to edit the template and get this:

![image](https://user-images.githubusercontent.com/6833714/97780477-9f301800-1b8d-11eb-8023-ede4bccaf401.png)

I assume it may be related to the unlayer native library.

[2020-10-31 18:05] freekmurze commented on #270
If you need this quick, we'd accept a PR that adds support for Broadcast streams to the Postmark adapter package. Otherwise we'll take a look in the next couple of weeks.

[2020-11-01 21:36] marju212 opened #272 "Send campaigns not working"
## Describe your issue
Campaign test mail is working fine but when I send the campaign the popup showing "send 1 mail" and will not close.

And the mail will not be sent. I also have unprocessed web hooks.

Im using postmark.

Rgds,

Marcus

---
## Health check:

**Environment**: production
**Debug**: OFF
**Horizon**: Active
**Queue** connection: OK
**Webhooks**: 25 unprocessed webhooks
**Schedule

[2020-11-02 07:59] riasvdv commented on #272
Could you check horizon (bloppa.nu/horizon) and see if there are any failed jobs and if there are, what the exception tells you?

[2020-11-02 08:07] riasvdv commented on #267
This has been added in the starter project https://github.com/spatie/Mailcoach/releases/tag/3.0.3 new 1-click installs and `composer create-project` installs will have the AWS driver added by default.

[2020-11-02 08:07] #267 closed, assigned to riasvdv

[2020-11-02 09:18] marju212 commented on #272
There aren't any failed jobs.

On Mon, 2 Nov 2020 at 08:59, Rias <notifications@github.com> wrote:

[2020-11-02 18:03] marju212 commented on #272
Sending mail from settings page is working fine.
Webhook test from postmark is ok.
Nothing found in the laravel logs.

[2020-11-02 18:42] marju212 commented on #272
Followed this guide, Horizon - Forge and Envoyer setup.
https://medium.com/@driesvints/laravel-horizon-with-forge-and-envoyer-82a7e819d69f

[2020-11-04 18:42] marju212 commented on #272
Any idea how to solve this?

[2020-11-05 08:42] riasvdv commented on #272
So the popup never closes? Could you open your browser console and see if there are any errors after you click 'send'?

[2020-11-05 19:38] marju212 commented on #272
No, no errors. I did a composer update, all my mailgun settings was erased?
Sometimes I got a message flashing Horizon not running - but its ok on the debug page.

[2020-11-05 20:04] marju212 commented on #272
Now I also got 'unauthorized' when sedning test mail. I used the Mailgun API credentials on the API security page.

[2020-11-05 20:15] marju212 commented on #272
I changed to postmarkapp, now test mail is working but still no campaign sent.

[2020-11-05 23:33] tobyzerner opened #273 "SES configuration set header does not get set on fresh composer install"
Just spent a frustrating amount of time trying to work out why I wasn't getting any open/click/bounce stats. SES configuration double and triple-checked. SNS webhook confirmed. Realised that emails I was sending from Mailcoach were not having link URLs replaced to track clicks, even though I had set up and specified a configuration set to do so. Was working fine when sending a test email from with

[2020-11-06 09:10] riasvdv commented on #273
I've added a new release of the ses feedback package that also checks `mail.mailers.mailcoach.transport` for 'ses'

https://github.com/spatie/laravel-mailcoach-ses-feedback/releases/tag/2.3.2

If this doesn't solve the issue, you can reopen this.

[2020-11-06 09:10] #273 closed, assigned to nobody

[2020-11-06 09:12] riasvdv commented on #271
Can you check if your ad blocker is blocking Unlayer?

[2020-11-06 09:31] surjithctly opened #274 "Get Tags using API while subscribing?"
How to get tags while subscribing via API?

I have tried the following but not working.

[code]

[2020-11-06 21:14] tobyzerner commented on #273
Thank you!

[2020-11-09 06:15] MianSaleem opened #275 "Unable to locate a class or view for component [icon-label]"
I tried to update mailcoach to v3 from v2 and getting the following error

[code]

Stack trace: https://flareapp.io/share/95J8ea0P

Can you please help me resolve this. Thank you

[2020-11-09 07:06] freekmurze commented on #275
Did you run this command?

php artisan clear:views

[2020-11-09 07:08] MianSaleem commented on #275
Yes, I did clear the views, cache and config too :(

[2020-11-09 07:23] freekmurze commented on #275
Did you remove the cache in the bootstrap dorectory?

[2020-11-09 07:27] MianSaleem commented on #275
yes, the cache were cleared too. I did again but still same error.

[2020-11-09 07:36] freekmurze commented on #275
Then it's probably caused by something specific to your setup. Several users were able to upgrade.

When you find out what the problem was, please post it here to help others.

[2020-11-09 07:37] riasvdv commented on #275
Did you republish the views? Make sure the views in resources/views/vendor/mailcoach are the latest

[2020-11-09 07:55] MianSaleem commented on #275
@riasvdv Yes, it was the views. I was keep publishing the assets of thinking that these are views. Thank you very much @riasvdv & @freekmurze

[2020-11-09 07:55] #275 closed, assigned to nobody

[2020-11-09 23:45] victortolbert commented on #268
I did a `composer require aws/aws-sdk-php` and now I can successfully send test emails but I'm still getting the above error.

- My tester email list has 4 email addresses subscribed.
- In Horizon, there's 1 completed, but 3 failed `SendMailJob`'s with the following exception

[code]

[code]

By the way, the `CalculateStatisticsJob` never succeeds.

[code]

[2020-11-10 15:42] StanBarrows opened #276 "Unprocessed Webhooks"
## Describe your issue

After I've sent out an initial campaign I receive a few email statistics but somehow a lot of feedbacks stays unprocessed within the database.

- I've checked the Scheduler commands and run dem also manually.
- I've checked Horizon for failed jobs
- Attached a few screenshots on the bottom

---
## Health check:

**Environment**: production
**Debug**: OFF
**Horizon**: Active

[2020-11-10 15:44] riasvdv commented on #276
Could you check your-domain.com/horizon to see if there are any jobs that have errors?

[2020-11-10 15:54] StanBarrows commented on #276
Hi @riasvdv

Thanks for your reply.

Everything looks normal.

![image](https://user-images.githubusercontent.com/10268813/98697444-37d84c00-2375-11eb-9783-ce8402651a79.png)

![image](https://user-images.githubusercontent.com/10268813/98697516-4fafd000-2375-11eb-87e9-046f1620c3dd.png)

[2020-11-10 19:52] victortolbert commented on #268
Rebooting the droplet resolved my sending issue.

Should nginx have automatically restarted upon reboot? I had to run `sudo systemctl restart nginx`

Also, the `CalculateStatisticsJob` is still failing with a permissions error.

I ran `php artisan clear:cache` in an attempt to resolve.

Should I just recursively set the permissions to 777 on the storage folder?

[2020-11-11 16:11] mbardelmeijer opened #277 "Appending tags via import"
We've got the question for the ability to append tags via the import, instead of overwriting ("syncing") them. This is due to new lists that come in, but the existing tag is still relevant. I understand that this is client specific, so perhaps best to have this option per import.

I'm happy to give it a shot for implementation, but wanted to discuss the best way forward. I think we have 2 options

[2020-11-11 21:43] freekmurze commented on #277
I think option 1) will be the simplest way. 👍  Thanks for your work on this.

[2020-11-11 21:43] #277 closed, assigned to nobody

[2020-11-12 08:49] beberlei commented on #251
@riasvdv the migration for subscriber imports is missing the `uuid` and `subscribers_csv` field. I assume it must be this:

[code]

[2020-11-12 16:09] victortolbert commented on #268
I see that the `CalculateStatisticsJob` error is also reported here https://github.com/spatie/laravel-mailcoach/issues/366

[2020-11-12 17:46] beberlei commented on #270
I am using the following workaround for now using a `MessageSending` listener:

[code]

And i updated the `EventServiceProvider`:

[code]

[2020-11-13 13:36] ersanserkan opened #278 "Language support"
## Describe your issue

Hello,

I am trying to add Turkish support.

I published lang files with;

[code]

and added ***tr.json*** file to /resources/lang/vendor/mailcoach folder but this does not work.

Do I do anything wrong?

---
## Health check:

**Environment**: local
**Debug**: ON
**Horizon**: Inactive
**Queue** connection: OK
**Webhooks**: 3 unprocessed webhooks
**Schedule**: hasn't run
**D

[2020-11-16 11:57] surjithctly commented on #274
@freekmurze Can anyone look at this issue?

[2020-11-16 12:02] freekmurze commented on #274
I don't understand the question. Do you want to set the tags when subscribing?

[2020-11-16 12:10] electronick86 commented on #274
I think that we cannot create a subscriber with tags and extra-attributes using the API. https://mailcoach.app/docs/v3/package/api/subscribers#subscribing-to-an-email-list

Correct?

[2020-11-16 12:18] freekmurze commented on #274
Right! I'd accept a PR with tests and updated docs that adds this to the package. If none such PR comes in, we'll take a look at it in the next few weeks.

[2020-11-16 12:52] surjithctly commented on #274
Yes. @electronick86 was right.

[2020-11-17 11:46] riasvdv commented on #278
Make sure your `app.locale` config key is set to `tr`, see https://laravel.com/docs/master/localization#configuring-the-locale

[2020-11-17 18:12] bushbill opened #279 "Mailcoach is not sending any email by smtp"
Mailcoach is not sending any email by smtp. It does not send a test email and sending a campaign is in progress for a long time (sending only 3 emails). Laravel can send emails... I tested it.

Sending a test email shows the success message!

Redis, Horizon and Cron is running correctly. Redis has a lot of mailcoach and horizon entries. The horizon dashboard shows a lot of pending jobs (SendTestMa

[2020-11-17 18:21] freekmurze commented on #279
It seems like Horizon is not picking up the jobs. Probably there is something miscondigured there. Did you use the 1 click DO installer of mailcoach?

[2020-11-17 18:37] bushbill commented on #279
No, I use Mailcoach in an existing project by composer.

Hmmm, I ran `php artisan queue:work` and it sends my "Welcome Emails"... I ran `php artisan queue:work --queue=mailcoach` and then it sends my Test-Emails. So I have to run it for "send-campaign", "send-mail", etc?

Is it really necessary to run this commands in background? Or miss I something else?

[2020-11-17 18:49] freekmurze commented on #279
It seems to me that the issue here is a Horizon configuration issue, unrelated to Mailcoach.

Have you checked in Horizon if there are workers displayed that can pick up jobs?

[2020-11-17 19:20] bushbill commented on #279
Argh! I misspelled something in my configs... I love such problems and the wasted time;-) Thank you for the hint.

Keep up the good work:-)

[2020-11-17 19:20] #279 closed, assigned to nobody

[2020-11-19 06:50] riasvdv commented on #276
Can you check the webhook_calls table for the webhooks that are not processed and give an example of one? (make sure to censor any sensitive data)

[2020-11-19 07:05] riasvdv commented on #272
Did you install using the DigitalOcean one-click or in a project of your own?

It seems like something is wrong with your Horizon configuration

[2020-11-19 07:16] riasvdv commented on #274
This is now available in 3.3.0, `tags` and `extra_attributes` expect an array

[2020-11-19 07:16] #274 closed, assigned to riasvdv

[2020-11-19 07:37] riasvdv commented on #270
This is now available with the following versions:

laravel-mailcoach-postmark-feedback: 2.4.1
mailcoach-ui: 1.1.0

Let me know if everything works as expected!

[2020-11-19 07:37] #270 closed, assigned to riasvdv

[2020-11-19 09:27] marju212 commented on #272
On my own - Forge and Envoyer setup.
And Horizon: https://medium.com/@driesvints/laravel-horizon-with-forge-and-envoyer-82a7e819d69f

[2020-11-20 01:09] StanBarrows commented on #276
Hi @riasvdv sure no problem.

The unprocessed web-hooks increased to 32 by now. The types are  all from **postmark-feedback** but there two different payload types of WebHook Calls.

#1
`{"OS": {"Name": "iOS", "Family": "iOS", "Company": "Apple Inc."}, "Geo": {"IP": "84.***.**.**", "Zip": "4055", "City": "Basel", "Coords": "47.5584,7.5733", "Region": "Basel-City", "Country": "Switzerland", "Region

[2020-11-20 01:21] StanBarrows commented on #276
Just would like to crosscheck that I have added the Mailcoach routes correctly.

**RouteServiceProvider**
[code]

According to the Laravel 8 update i thought the map method was replaced.

![image](https://user-images.githubusercontent.com/10268813/99743923-fcf1b900-2ad6-11eb-8c1b-e40ac358f596.png)

https://mailcoach.app/docs/v2/package/general/installation-and-setup

[2020-11-20 07:04] riasvdv commented on #276
You're looking at the v2 docs, in your project I see you have v3 installed, so make sure to follow those instructions, there are slight differences: https://mailcoach.app/docs/v3/package/general/installation-and-setup

[2020-11-20 08:43] StanBarrows commented on #276
Hi @riasvdv Sorry I was double checking the wrong docs yesterday night. I have initially installed it with the correct v3 docs.

[2020-11-22 05:53] aprendible opened #280 "Sendgrid feedback: The signature is invalid"
Apparently [Sendgrid webhook](https://app.sendgrid.com/settings/mail_settings) configuration has changed and does not match the [Mailcoach documentation](https://mailcoach.app/docs/v3/package/handling-feedback/sendgrid).
I have tried with Signed Event Webhook Requests enabled and disabled and I keep getting the same error that I detail below.

This is the confusing part for me in the [Mailcoach do

[2020-11-22 21:17] ersanserkan commented on #278
Yes, app.locale key is already set to `tr`

When I change something in `de.json` and `nl.json` they are not working too..

[2020-11-22 21:45] freekmurze commented on #278
Did you try clearing the config cache?

[code]

[2020-11-23 03:14] aprendible commented on #280
I just added a custom validator that just returns true (while you guys work out the actual validation of the signature), and I no longer get the exception, however, it still doesn't show me the clicks and opens of a campaign I sent a few hours ago.
[code]

[code]
Checking the `webhook_calls` table in the database, I see that in all the records, the payload is an empty array.
[code]

The tables `ma

[2020-11-23 06:40] ersanserkan commented on #278
Yes, I did it too.

I found this solution while searching.

https://stackoverflow.com/questions/51822028/how-to-override-json-translations-for-a-laravel-package

Is this the correct way while overriding the json translations?

[2020-11-23 06:45] riasvdv commented on #280
The secret is something you append to your URL yourself, since Sendgrid doesn't support signing secrets

![image](https://user-images.githubusercontent.com/3626559/99934907-ae0a8480-2d5f-11eb-9498-19dbb2f02f13.png)

I suggest using a random string of >8 characters

[2020-11-23 07:04] riasvdv commented on #276
I've looked at the payload and it seems your webhooks are missing the `Metadata`, it should contain a `send-uuid`:

[code]

Which should be added here https://github.com/spatie/laravel-mailcoach/blob/master/src/Actions/Campaigns/SendMailAction.php#L61

Are you using a custom SendMailAction?

[2020-11-23 14:42] aprendible commented on #280
It seems like the **Signed Event Webhook Requests** option exists, that's what got me confused about the secret.
<img width="1248" alt="Screen Shot 2020-11-23 at 09 35 30" src="https://user-images.githubusercontent.com/55994087/99974787-6be93f00-2d6f-11eb-9b33-de9c8c366a6c.png">
<img width="1212" alt="Screen Shot 2020-11-23 at 09 35 45" src="https://user-images.githubusercontent.com/55994087/99974

[2020-11-23 14:43] riasvdv commented on #280
Ah that looks like something new, we haven't added support for that yet

[2020-11-23 14:48] aprendible commented on #280
That's what I thought. So in the meantime, what can I do about webhooks that aren't being stored correctly? clicks and opens are not tracked.

The `webhook_calls` table in the database, I see that in all the records, the payload is an empty array.

[code]
The tables mailcoach_campaign_clicks, mailcoach_campaign_links and mailcoach_campaign_opens are empty.

[2020-11-23 18:32] goaround opened #281 "SendMailJob always runs on Default Queue"
Hi,

since my upgrade to v3 the SendMailJob always runs on the `default` Queue. I think it should run on the `send-mail` queue but I can't figure out why this happens.

My `perform_on_queue` looks fine and in the Job data `queue is` set to `send-mail` but it still runs on the default Queue.

[code]

![grafik](https://user-images.githubusercontent.com/5927337/100000950-a7f9bf80-2dc2-11eb-811e-7de83

[2020-11-23 18:37] riasvdv commented on #281
This should have been recently fixed in laravel-mailcoach 3.2.13, can you confirm you're on that version or a later one?

[2020-11-24 09:10] goaround commented on #281
Shame on me, no... Thank you!

[2020-11-24 09:10] #281 closed, assigned to nobody

[2020-11-25 03:53] aprendible commented on #280
It seems that the structure of the sendgrid webhooks have changed, this is what the new webhook looks like:
[code]

[2020-11-25 04:51] mklahorst opened #282 "Routes for Unlayer not rendering for S3"
Laravel 8
PHP 7.4
Mailcoach 3

I installed the package using Composer as a new package.

Per the docs here: https://mailcoach.app/docs/v2/package/customizing-the-editor/unlayer

Adding 'Route::mailcoachUnlayer('mailcoachUnlayer');' to the map() method to the RouteServiceProvider is not creating the routes. When I set 'disk_name' in the docs to use 's3', there is an error in the network console tha

[2020-11-25 05:25] aprendible commented on #280
Now i get this error
[code]

[2020-11-25 07:28] freekmurze commented on #282
Is `map` being called? Put a `dd` statement there to know for sure. Could you try adding it in the `boot` or `register` method of the service provider?

[2020-11-25 12:17] jameslkingsley commented on #264
Sorry for the very delayed response.. we ended up going a different route entirely as some things changed in our project - and no longer have Mailcoach setup anywhere to test. Thanks for your help nonetheless!

[2020-11-25 12:17] #264 closed, assigned to nobody

[2020-11-25 21:50] reefki commented on #272
@marju212 I think you should click on that "Send 1 mail" text, it's actually a button to confirm sending..

[2020-11-26 07:04] reefki opened #283 "Record clicks and opens data"
I'm installing Mailcoach as a package and I'm trying to figure out how to get clicks and opens data from webhook, for example with Amazon SES, it returns an IP address for both events and link tags information for clicks.

This way I can get additional metrics on the campaign statistic like geolocation data by IP address and add subscribers to certain tags based on the link (with tags: `ses:tags="

[2020-11-26 15:58] freekmurze commented on #283
Thanks for your suggestion. We might improve on this in the next major version.

[2020-11-26 15:58] #283 closed, assigned to nobody

[2020-11-27 08:00] riasvdv commented on #280
Is there a way for you to log exactly what Sendgrid is sending to you? Maybe add a log somewhere, it could help a lot with debugging

[2020-11-27 20:24] binaryk commented on #271
It doesn't because it was working on the Unlayer sanbox itself.

[2020-11-27 20:24] binaryk commented on #271
But it seems to be an issue only on mine, feel free to close the Issue.

[2020-11-27 20:24] #271 closed, assigned to nobody

[2020-11-28 16:18] larsjanssen6 opened #284 "Not seeing user menu"
Hi spatie,

Today I bought mail coach very happy with it. However when setting up mailgun I have to configure the signing secret. But, I do not see a menu at the top right so I cannot go to the page where this can be configured.

From the documentation:

<img width="1426" alt="transactional" src="https://user-images.githubusercontent.com/7254997/100520322-7fe0d680-319d-11eb-99d5-fb0b0fe8da05.png">

[2020-11-28 18:56] freekmurze commented on #284
Hi @larsjanssen6,

we installing Mailcoach as a package in an existing Laravel app, we assume that you already have user management in your app.

To get that user menu, you can installing the Mailcoach full app using Composer: https://mailcoach.app/docs/v3/app/installation/using-composer

[2020-11-28 18:56] #284 closed, assigned to nobody

[2020-11-30 03:13] michael-presentcompany opened #285 "Horizon queue not actioning Mailcoach tasks."
## Describe your issue

I have configured Mailcoach as its own project (composer create-project spatie/Mailcoach) But I'm having a number of issues.

1. Every time I deploy with envoyer.io onto my own AWS instance, the mail configuration is lost. This is not the end of the world, but its annoying to have to re-input the data each time. Is it possible to set these variables in the .env file?

2. Th

[2020-11-30 09:54] electronick86 opened #286 "Exporting subscribers fails."
Hi team!

I just discovered that there is as problem when trying to export a subscriber list that's to important. I already have the problem with 50k subscribers.

The error is something logic : `  (Symfony\\Component\\ErrorHandler\\Error\\FatalError(code: 0): Maximum execution time of 30 seconds exceeded at /var/www/html/vendor/laravel/framework/src/Illuminate/Database/DatabaseManager.php:90)`

S

[2020-11-30 12:23] freekmurze commented on #286
Yes, I'd accept a PR that does this. Because I assume that there will be some breaking changes due to added columns to track generation, this PR should be set to the `v4` branch.

 If none such a PR comes in, I'll take care of it myself in the coming months.

[2020-11-30 12:35] freekmurze commented on #285
The config values are saved in a json file. You could opt to add this to version control as well. If that isn't possible, you might want to add the values to your .env file and add a small command that writes that json file after deploy based on those env variables.

What do you mean with actioned? if you mean "executed", then there is something wrong with Horizon config on AWS. I would recommend

[2020-11-30 12:35] #285 closed, assigned to nobody

[2020-11-30 15:00] riasvdv commented on #278
Try adding a `tr.json` to your own project's `resources/lang` folder

[2020-11-30 15:37] christophrumpel opened #287 "Can I send extra attributes via a form?"
Hey,

I'd like to store some additional info with my subscriber who is subscribed via an external form. I was wondering if it is possible to do that with an input field?

[2020-11-30 16:33] mklahorst opened #288 "Timeouts with large lists"
We used the API to import our data into the system and create tags. About 5 tags, 1 to 3 tags per subscriber.

Loading the Subscriber List in the UI is slow (15 to 20 seconds) and getting timeouts setting up segments and viewing details and "population" ui gives me a 504.

Subscriber Size: 540k
Digital Ocean Server: 2CPUs, 4GB Memory
Installed as standalone via Command Line
Mailcoach v3, Laravel 8

[2020-11-30 16:42] freekmurze commented on #288
That's strange. We have customers that report that everything works well with lists of that size. It will take us some time to set up at test to investigate this.

If you can already know a fix, feel free to send a PR and we'll try to merge it in quickly.

[2020-11-30 16:44] mklahorst commented on #288
Thanks for getting back.

Since I am on a deadline, I am going to try to resize the server resources first as an intermediate fix. I will post back here if that will server as an intermediate solution.

For you to test on your end, anything specifically I can provide (other than data) to assist?

[2020-11-30 17:37] freekmurze commented on #287
Absolutely: here are the docs on that: https://mailcoach.app/docs/v3/package/advanced-usage/working-with-extra-attributes-on-subscribers

[2020-11-30 17:40] mklahorst commented on #288
I increased the server to 4 CPUs and 16GB memory as well as extended the max_execution_time to 60 seconds.

I still get a 504 Gateway Timeout accessing this endpoint below to get population:

domain.com/email-lists/2/segments/1/subscribers

Inspecting the network, it looks like that call gets cancelled: https://d.pr/i/4g0zY8

The population size of this segment is 26,078 of 550k+

Additionally, on

[2020-11-30 17:42] christophrumpel commented on #287
I've been there but these are just for adding a subscriber "manually". I subscribe my user from an external form. (https://mailcoach.app/docs/v3/package/working-with-lists/using-subscription-forms) Does that work too? Tried to add an input for those values but probably difficult to define the key of extra attributes in there.

[2020-11-30 17:51] freekmurze commented on #287
It seems like this is not documented yet.

On your email list you should put the names of the extra form fields that you allow in the `allowed_form_extra_attributes` attribute on the email list: https://github.com/spatie/laravel-mailcoach/blob/5081c59032d1d5bcdb737db9c8e0da9fbd9da810/src/Models/EmailList.php#L85-L88

You can then add hidden fields with those names to your form. The values will be

[2020-11-30 17:52] freekmurze commented on #288
We probably don't have the time to look into this tomorrow. We do have several customers that have reported that they could send emails to lists of a size like yours.

[2020-11-30 18:05] mklahorst commented on #288
Ok. I will keep tweaking on server settings to see if that is the issue. I might have to reduce my database size to that segment for now to hit the deadline tomorrow.

Long term, I would like to solve this as we plan on using this database size.

If anyone else has the same DB size as mine, please DM me to let me know if there are some settings I may be missing.

[2020-12-01 01:25] mklahorst commented on #288
After spending the day on it, I decided to truncate my list size to (hopefully) something manageable at 280k instead of 500k for tomorrow's send without causing issues. Also not using tagging/segmentation and will send directly to that list.

Using Telescope, it appears that the count(*) calls run frequently probably due to metrics data and pagination. But at 5 secs a call, that adds up quick.

I

[2020-12-01 06:47] marju212 commented on #272
@reefki Thanks, now it works fine!

[2020-12-01 06:47] #272 closed, assigned to nobody

[2020-12-01 09:39] christophrumpel commented on #287
Thanks Freek, just gave it a try. I have now a field `demands` in my list `allowed_form_extra_attributes`. Also see the allowed field now here wen retrieving it: https://github.com/spatie/laravel-mailcoach/blob/master/src/Http/Front/Requests/CreateSubscriptionRequest.php#L42-L46

But the problem now is in the foreach loop only `attributes` from the request data are being checked. But my sent field

[2020-12-01 09:40] christophrumpel commented on #287
PS: If we figure this out, I can add it to the docs of course.

[2020-12-01 20:02] mklahorst commented on #288
@freekmurze

Here is what happened on my send today. Trying to figure out what the best move is to fix this and continue sending, without resending to people who have already received it.

List Size: 285,056
Tags/Segments: None (Send to entire list)

When first started sending it was showing "x/285056 sent"

Then it switched to the below in the progress bar and has been stuck there for some time.

[2020-12-01 20:16] mklahorst commented on #288
I read on another thread about just retrying the job and the system knows not to send someone an email that has already received one. It appears that more jobs got added and another batch created, which is great.

The campaign progress bar updated to:

......  to 12263/15209 .....

I'm guess there is some sort of batching mechanism as to now show the total list size progress.

Any insight you can

[2020-12-01 21:22] mklahorst commented on #288
Another odd thing, on the second batch, it is showing 105% completed and the status field is empty without a status tag:

launch-day-list-6 |   | 14000 | 105%

I went back in and hit "retry" failed job (the same one BTW) and it looks like it added more to the queue with the status message as:

'....14942/17647....'

and after a few minutes, changed to:

'...15003/29291...'

Here are the batch size

[2020-12-01 21:27] freekmurze commented on #287
@riasvdv could you take a look at this one?

[2020-12-03 11:29] AshPowell opened #289 "Tag mark invalid in Entity"
## Describe your issue
Hi,

So 2 issues, one is I'm getting this error when my HTML email contains the <mark> tag:
The HTML is not valid (DOMDocument::loadHTML(): Tag mark invalid in Entity, line: 285).

And then there's also 4 unprocessed webhooks, I don't understand why? There are no failed jobs and all jobs have been processed.

Thanks!

---
## Health check:

**Environment**: production
**Debug

[2020-12-03 11:35] freekmurze commented on #289
Hi,

first issue: your HTML probably contains an error. Mailcoach protects you for using invalid HTML. Please lint your HTML, there  are many online services for this.

second issue: this is probably due to the way you configured Horizon. it's hard to debug without any extra info.

[2020-12-03 11:36] AshPowell opened #290 "Is there a way to specify EmailList on a separate server?"
So we have mailcoach up and running on one server, and it would be nice to use the package to subscribe users and work with lists from our main server.

So for example:
`
$emailList = EmailList::create(['name' => 'my email list name', 'ip' => '127.0.0.1']);
$emailList->subscribe('john@example.com');
`

This would be perfect - just not sure if it's possible?

[2020-12-03 11:37] freekmurze commented on #290
This isn't possible out of the box.  What you could try to is use a custom `EmailList` model that uses a non-standard db connection. That db connection could point to the db on the other server.

[2020-12-03 11:37] #290 closed, assigned to nobody

[2020-12-03 11:42] AshPowell commented on #289
It gives me the line the linting is failing at -
`<h1>Include your Business in our huge <mark>Black Friday Promotion</mark></h1>
`

There are no errors in that syntax as far as I'm aware?

Horizon has had no other configuration except the standard that comes with the package, have I missed something? I have one active daemon on forge that is running horizon, jobs have been completed and it all see

[2020-12-03 11:43] AshPowell commented on #290
Ok thank you

[2020-12-03 11:45] freekmurze commented on #289
I would let your html be linted by another service that might offer you more details around the error.

Our tests indicate that all webhooks are handled as expected. I'm assuming this has something to do with your particular setup. If there is anything that we should change in our code to avoid that problem, I'm open for a PR.

Closing this PR as probably we don't need to make any code changes, bu

[2020-12-03 11:45] #289 closed, assigned to nobody

[2020-12-03 11:57] AshPowell commented on #289
It seems DOMDocument::loadHTML() doesn't like html5 tags - it fails using `<mark>Text</mark>` and a bunch of other html5 tags such as footer etc.

[2020-12-03 11:59] riasvdv commented on #289
Mail clients don't like those either, so it's best to stick to none of the newer tags

[2020-12-03 12:01] AshPowell commented on #289
The majority of the popular mail clients display `<mark>` tags just fine - But that is a valid point.

Maybe a notice vs. a complete block would be better though

[2020-12-04 09:06] fibis opened #291 "unprocessed ses webhooks"
## Describe your issue
We are using mailcoach with ses. THe debug page is showing that we have unprocessed web hooks that are SES web hooks. The mailcoach-feedback queue is running., so these web hooks should be proceeded. What could be the problem?

---
## Health check:

**Environment**: production
**Debug**: OFF
**Horizon**: Active
**Queue** connection: OK
**Webhooks**: 5 unprocessed webhooks
**

[2020-12-04 10:08] rrotteveel commented on #251
@beberlei

It seems to me, that the uuid cannot be null:
![image](https://user-images.githubusercontent.com/1012212/101150740-f3149d80-3620-11eb-8fdf-dece7b9eed49.png)

If you want to migrate data from an old database it gives an error.

[2020-12-04 10:15] csogilvie opened #292 "Suggestion for Single Sign On"
Not sure where the best place to suggest items for the Roadmap might be, but have you considered the ability to allow people to set up Mailcoach Authentication to be based off of Laravel Socialite to enable organisations to authenticate off their Microsoft 365 details etc.?

[2020-12-04 10:24] riasvdv commented on #287
You should be able to send it like this if I remember correctly:

[code]

[2020-12-04 10:26] riasvdv commented on #291
Could you share your horizon config here and a payload of one of the unprocessed webhooks? (anonymize the data first)

[2020-12-04 10:37] riasvdv commented on #292
Thanks for the suggestion, if you install laravel-mailcoach as a package in your own project, all authentication could be done using Laravel Socialite.

We'll look into it if we want to add this to the stand alone project in the future as well.

[2020-12-04 10:37] #292 closed, assigned to nobody

[2020-12-04 10:40] christophrumpel commented on #287
thx @riasvdv it did store the data indeed. Thanks. I think the structure of the `extra_attributes` json content looks a little bit strange though. But I'll give it another look if this could be related to my form.

<img width="680" alt="Screen Shot 2020-12-04 at 11 35 37" src="https://user-images.githubusercontent.com/1394539/101154026-7afca680-3625-11eb-979a-d668bd9e7775.png">
<img width="683" al

[2020-12-04 10:48] electronick86 opened #293 "[Advise] Purging the mailcoach_sends table?"
Hello guys!

The bigger Mailcoach instance I have runs since this summer and I just see that the database dumps was quite big.
The biggest table of the `mailcoach_sends` which has ~27Mo rows into it.

Could you telm me whats could be the impact of purging this table with records older than X months? The `campaign_opens` and `campaign_clicks` are more 'valuable' as they allow me to segment based on

[2020-12-04 13:01] LorenzoSapora opened #294 "Lang file typos"
Hey, I've noticed some English/German/Dutch typos, but can't seem to find them in the `spatie/mailcoach` or `spatie/mailcoach-ui` packages. Could you point me in the direction of the `de.json` and `nl.json` files?

I can see them in my package files, but I can't locate them on the repos themselves, so assuming they're pulled in from a vendor?

Thanks.

[2020-12-04 16:56] fibis commented on #291
Sure, actually it is the default config after installing mailcoach via composer:

horizon.php
[code]

We are starting horizon in our docker container in our cluster with `php artisan horizon`.

This is the payload of one of the unprocessed webworks:

[code]

[2020-12-06 11:37] Propaganistas opened #295 "Unprocessed mailgun webhooks"
Hi

It seems all of **Mailgun**'s webhooks get processed, but their processed state isn't persisted, resulting in a skewed debug page. No fails or errors in Horizon.

![Schermafbeelding 2020-12-06 om 12 35 04](https://user-images.githubusercontent.com/6680176/101279023-8b488900-37bf-11eb-9443-6ff25c6ac179.png)

![Schermafbeelding 2020-12-06 om 12 36 04](https://user-images.githubusercontent.com/66

[2020-12-06 12:37] SDJeff opened #296 "Placeholders in Template not merged on sending campaign"
## Describe your issue

I tested one campaaign and pulled in ::campaign.name:: and ::subscriber.first_name:: in the content.
But neither in the preview nor in the outbox the placeholders are replaced by the actual values.
I inserted the placeholders with the help of the editor.
What is wrong?

---
## Health check:

**Environment**: local
**Debug**: ON
**Horizon**: Active
**Queue** connection: OK
*

[2020-12-06 12:42] SDJeff opened #297 "Sending Campaign again not running"
## Describe your issue

I sent out the testmail with effort. But if i click "Send now" feedback said X Mails sent.

But neither in the JobQueue nor in the mailbox the mail to the recipients of the list appears.
In the overview you will not see the date for the outgoing mail of the campaign.

![image](https://user-images.githubusercontent.com/2220942/101280326-d3b87480-37c8-11eb-82dc-24ae5928754d.p

[2020-12-06 12:44] riasvdv commented on #297
The campaign is still in draft, after you click the "send campaign" button you have to confirm, did you confirm?

[2020-12-06 12:47] SDJeff commented on #297
Okay. Yes my fault. I closed the window and didn't recognized that i have to click the red button again. I was thinking the modal window was the confirmation that he sent out x mails already. Sorry. Please close!

[2020-12-06 12:49] SDJeff commented on #296
Okay. The placeholders are not rendered in the preview or test mail. They are finally filled out after sending the campaign.
### Improvement
Perhaps it is possible to fill the preview with the data of the first subscriber in the list to see a "real" preview. Thx. Problem solved.

Please close the issue then!

[2020-12-06 12:57] #297 closed, assigned to nobody

[2020-12-06 18:51] freekmurze commented on #296
I think using the first one might be confusing too. We're going to leave it as it is for now.

[2020-12-06 18:51] #296 closed, assigned to nobody

[2020-12-06 18:52] freekmurze commented on #295
If you already know where they should be persistent, send a PR. We'll investigate this soon.

[2020-12-07 06:46] Propaganistas commented on #295
I don't know any of the internals of mailcoach. Looking forward to your investigation

[2020-12-07 08:46] christophrumpel commented on #287
So I just dug a little deeper and I think there is a problem with the `extra_attributes` field on the subscriber's table. Even if I don't store any "extra" data (HTML form just with my email), it stores data in `extra_attributes`.

`SubscribeController Line 34` where extra `$subscriber->extra_attributes` gets merged with `$request->attributes()`, `$subscriber->extra_attributes`is an object of `Sch

[2020-12-07 08:48] riasvdv commented on #287
That is expected, it's part of this package https://github.com/spatie/laravel-schemaless-attributes that allows you to do a bit more with the data structure than you could otherwise do with a flat array

[2020-12-07 08:52] riasvdv commented on #295
Can you run a `composer info` in your project and see which version of `spatie/laravel-mailcoach-mailgun-feedback` you're on?

[2020-12-07 09:02] Propaganistas commented on #295
The unprocessed webhooks all range from `2020-09-30` 'till now. Worth mentioning: at `2020-09-29` I performed the upgrade to v3.

The following versions are applicable:

At `2020-09-30`:
* `spatie/laravel-mailcoach`: 3.0.4
* `spatie/laravel-mailcoach-mailgun-feedback`: 2.3.0

Now:
* `spatie/laravel-mailcoach`: 3.5.0
* `spatie/laravel-mailcoach-mailgun-feedback`: 2.3.1

[2020-12-07 09:30] riasvdv commented on #295
Those versions definitely include the functionality that sets the processed_at column, it's all tested functionality as well so there should be no issues.

Could you add a log statement after this line https://github.com/spatie/laravel-mailcoach-mailgun-feedback/blob/master/src/ProcessMailgunWebhookJob.php#L35 to verify that everything was executed?

And another log statement here: https://github.

[2020-12-07 09:31] riasvdv commented on #294
You can find them here https://github.com/spatie/laravel-mailcoach/tree/master/resources/lang

[2020-12-07 09:31] #294 closed, assigned to nobody

[2020-12-07 09:32] christophrumpel commented on #287
Hm ok, I see. I still find it strange that extra_attributes field is now full of all kinds of different data like all the other fields of the same row. But most important to me, I made it work now as you said:

`<input id="demands" type="hidden" name="attributes[demands]" value="demand1,demand2,demand2">` + making sure this new attribute is allowed in `allowed_form_extra_attributes`.

And after th

[2020-12-07 09:37] riasvdv commented on #293
You could try making the `send_id` nullable on the opens & clicks tables, and change the `on delete cascade` to `on delete set null`, which would allow you to delete the sends without affecting the opens & clicks.

I don't know exactly if this has any consequences in the UI of the app, but I don't think we use the relationship from open to send or click to send anywhere in the code.

Let me know h

[2020-12-07 09:47] #287 closed, assigned to riasvdv

[2020-12-07 10:07] Propaganistas commented on #295
Got something. My mailgun sending domain is not uniquely bound to mailcoach. Other application parts are using the same domain as well for regular transactional email such as password resets.

As a consequence of this setup, mailgun also sends webhooks to mailcoach for all other mails.
The webhook processor attempts to find a `Send` model but fails, so the job is early returned.

https://github.co

[2020-12-07 10:57] riasvdv commented on #291
Are you sending emails with that SES & SNS account from somewhere other than that Mailcoach instance?

[2020-12-07 11:07] freekmurze commented on #295
I think we should indeed mark those as processed

[2020-12-07 11:45] riasvdv commented on #295
Fixed in laravel-mailcoach-mailgun-feedback v2.3.2

[2020-12-07 11:45] #295 closed, assigned to riasvdv

[2020-12-07 11:50] Propaganistas commented on #295
Thank you

[2020-12-07 14:49] fibis commented on #291
I found the mistake: Our deployment template uses the old variable name for the queue connection, so the queue driver was sync and no worker has processed the jobs.

[2020-12-07 14:49] #291 closed, assigned to riasvdv

[2020-12-07 14:50] riasvdv commented on #291
Glad you found the issue!

[2020-12-07 15:08] fibis opened #298 "Why "caching" config in files?"
Is there a reason why the mailcoach config is cached and stored in files in the `config-mailcoach-app` folder? For deployments like on Kubernetes are stateless deployments always easier to handle. This is not possible when configuration files are written to the file system that need to survive a container restart.

[2020-12-07 15:09] fibis commented on #291
So I think I can delete the entries in the web hook table or is there a possibility to process the unprocessed web hooks?

[2020-12-07 15:17] riasvdv commented on #291
There is no way to easily retry processing them, so you can delete them.

[2020-12-08 18:54] Vardkin commented on #288
@mklahorst You are not alone in this. I, too, am experiencing the same issues with sending email taking a long time, even with smaller lists (<8000). My Horizon jobs per hour when sending a campaign is about 2400 and "Max Wait Time (send-mail)" is an hour.

The only differences with my setup from what you have detailed above is that I am not seeing failed jobs and I use the Sendgrid driver in Mail

[2020-12-09 15:14] mklahorst commented on #288
@Vardkin

Thanks for the share!

What I found in my use case seems to be very specific to indexing on my local vs production. For whatever reason, the indexing was not working on my production DB unless I updated the mysql command to force the index. I deleted and re-created the indexes multiple times on production but the query would still not pickup. At this point, I didn't want to hack the pack

[2020-12-09 16:01] Vardkin commented on #288
@mklahorst Thank you for the update!

The Sendgrid timeout error shows up every campaign send and our latest send (29k emails) had just over 1100 fails with that message and took 24 hours to send the entire list. Sendgrid was not showing any outages but it may very well be something on their end. I'll keep troubleshooting it.

As far as the indexes in your production DB, are you saying that the ma

[2020-12-09 16:11] mklahorst commented on #288
@Vardkin

That Sendgrid issue is weird! Are you able to switch to Mailhog for testing (not sure if Mailcoach supports this) and/or a different provider (not ideal for IP and reputation) to see if that solves it.

Yeah, the indexes ARE there. When I run the same query (direct sql testing) on local and use EXPLAIN, it uses the indexes. However, on production, no matter what I tried, it would not use

[2020-12-09 16:27] Vardkin commented on #288
@mklahorst
Ah, I see. Did upgrading help? My setup is not yet using MySQL 8 and I could upgrade. Though, it might be quite the hassle and I'd only do it if it's an almost guarantee help for the slow sending of emails.

[2020-12-09 19:58] freekmurze commented on #298
The full app is meant to be used by users that don't want to tinker with the normal Laravel config. That's why we store it in a json file and don't work via the default config files.

[2020-12-09 19:58] #298 closed, assigned to nobody

[2020-12-09 20:43] freekmurze commented on #293
Closing this as we're not going to handle this in the current version, but feel free to continue the conversion

[2020-12-09 20:43] #293 closed, assigned to nobody

[2020-12-10 11:11] LorenzoSapora opened #299 "Bulk subscribe seems to be limited to 6500 users exactly"
I attempted to quickly create an emaillist from a user list of 100k, using:

[code]

But it stopped after 6500. I tried chunking it for a sanity check

[code]

It still stopped at 6500. A quick grep shows no such limit in the codebase, but consistently hitting the 6500 limit.

Edit: I can manually add more subscribers, so it doesn't appear to be a MC limit for email lists, but still perplexing.
An

[2020-12-10 11:45] riasvdv commented on #299
How long did your script run? Looks to me that it is a PHP execution timeout

[2020-12-10 11:55] LorenzoSapora commented on #299
It didn't timeout, but let me check.

Aha, would you believe that it was actually a bad email address at user 6501? Hilarious. Made it look like some limitation, when it was just bad data.

Closing.

[2020-12-10 11:55] #299 closed, assigned to nobody

[2020-12-11 12:47] AshPowell opened #300 "Update Subscriber via API"
Hi,

Is it possible to update a subscriber via the API?

For example, updating tags, names etc. Reposting to subscribe results in an unprocessable entity response, would be nice to be able to update a subscribers details via the API too :)

[2020-12-11 12:49] freekmurze commented on #300
This was added yesterday through this PR: https://github.com/spatie/laravel-mailcoach/pull/383 👍

[2020-12-11 12:49] #300 closed, assigned to nobody

[2020-12-11 12:51] AshPowell commented on #300
Legend

[2020-12-11 12:56] AshPowell commented on #300
Sorry for the notifications, any eta on the release?

[2020-12-11 13:00] freekmurze commented on #300
It is already released in 3.7.0
https://github.com/spatie/laravel-mailcoach/releases/tag/3.7.0

[2020-12-11 13:06] AshPowell commented on #300
Thanks, missed that one :)

With the docs not being updated yet could you give me a hint as to the URL structure to update a subscriber?

[2020-12-11 13:18] AshPowell commented on #300
`Route::apiResource('email-lists.subscribers', SubscribersController::class)->only(['index', 'store']);
`

I may be wrong but looking at the routes it seems it doesn't have the new update method

[2020-12-11 13:23] AshPowell commented on #300
Sussed it nvm

[2020-12-12 18:25] jonaswouters commented on #251
I really hope next time there will be an easier, out of the box upgrade path for people using mailcoach as is. 🤞

[2020-12-14 13:29] wkhayrattee opened #301 "[false positive] Registered clicks on Sending, without any opens"
Hello,
Just after I clicked on Send campaign, I see the system registered a click, without any opens.. and there could not have been any opens just after 2 secs delay.. I can confirm that as all the contact were internal members.

See screenshot:

![image](https://user-images.githubusercontent.com/7369626/102086617-ca1ab680-3e31-11eb-9e97-d5c29f27f19f.png)

[2020-12-14 16:31] freekmurze commented on #301
Hi, Mailcoach just processes that webhooks that are sent by your email sending service. If those webhooks are sent seemingly too early, it might be best to content your email sending service.

[2020-12-14 16:31] #301 closed, assigned to nobody

[2020-12-15 07:40] freekmurze commented on #286
@electronick86 In mailcoach 3.9.1 we've added this fix: https://github.com/spatie/laravel-mailcoach/blob/9693f13cbfa8a8f6adc4220a1731754527b42cec/src/Http/App/Controllers/EmailLists/Subscribers/SubscribersExportController.php#L19

Could you let us know if this works for you?

[2020-12-15 07:40] freekmurze commented on #282
Closing due to inactivity

[2020-12-15 07:40] #282 closed, assigned to nobody

[2020-12-15 07:41] freekmurze commented on #278
Closing due to inactivity.

[2020-12-15 07:41] #278 closed, assigned to nobody

[2020-12-15 07:49] freekmurze commented on #276
We might have solved this in one of the recent mailcoach versions. We now ignore webhooks for which a Send model (which represents a sent mail) could not be found.

We recommend upgrading to the latest release, marking all current webhooks as processed.

Do open up a new issue if you see this behaviour again in the latest version of Mailcoach.

[2020-12-15 07:49] #276 closed, assigned to nobody

[2020-12-15 07:52] electronick86 commented on #286
Hello @freekmurze ; I just working on the upgrade of a mailcoach instance with 700k subscribers. I'll deploy that by the end of this week and I let you know if I'm able to export this list! Thanks!

[2020-12-15 07:52] freekmurze commented on #280
Closing due to inactivity.

[2020-12-15 07:52] #280 closed, assigned to riasvdv

[2020-12-15 07:54] freekmurze commented on #262
Yes, you can go about it that way 👍

[2020-12-15 07:54] #262 closed, assigned to riasvdv

[2020-12-15 07:56] freekmurze commented on #268
That it'll fix it indeed.

@riasvdv will make sure this works out of the box soon.

[2020-12-15 07:56] #268 closed, assigned to riasvdv

[2020-12-15 07:59] freekmurze commented on #288
We cannot reproduce this error and several users have reported that they could work with very large list without any performance issues. Closing this for now as it is likely that the problems are caused from a configuration issue on your end.

Feel free to keep the conversion going.

[2020-12-15 07:59] #288 closed, assigned to nobody

[2021-10-11 08:54] freekmurze commented on #8
Mailcoach now supports Vapor. Take a look at this discussion for more info: https://github.com/spatie/laravel-mailcoach/discussions/454